Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Increase narrow band lenght of tests
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: none

Fix nit
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model3.hpp
Due: beluga

Remove openvdb from image
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Add almost_equal_to in SE3
  beluga_ros/include/beluga_ros/particle_cloud.hpp
Due: beluga_ros

Complete ndt map visualization publisher
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_amcl, beluga_ros

Suggested changes
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

Update README (test commit)
  README.md
Due: none

Initial map visualization
  README.md
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_amcl, beluga_ros

Suggested changes
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_amcl, beluga_ros

Use covariance matrix for rotation and scale
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_amcl, beluga_ros

Change to not dynamically allocate memory
  beluga/include/beluga/sensor/likelihood_field_model3.hpp
Due: beluga

Move openvdb to beluga_vdb
  beluga_vdb/CMakeLists.txt
  beluga_vdb/include/beluga_vdb/sensor/likelihood_field_model3.hpp
  beluga_vdb/package.xml
  beluga_vdb/test/CMakeLists.txt
  beluga_vdb/test/beluga_vdb/CMakeLists.txt
  beluga_vdb/test/beluga_vdb/include/beluga_vdb/test/simple_pointcloud_interface.hpp
  beluga_vdb/test/beluga_vdb/sensor/test_likelihood_3d_field_model.cpp
Due: none

Remove openvdb to beluga
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model3.hpp
  beluga/package.xml
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/include/beluga/test/simple_pointcloud_interface.hpp
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: beluga

Add beluga_vdb package description
  beluga_vdb/package.xml
Due: none

Remove LikelihoodFieldModel3 in doc
  beluga/include/beluga/sensor.hpp
Due: beluga

Update tools with beluga_vdb
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: none

Fix beluga_vdb namespace
  beluga_vdb/include/beluga_vdb/sensor/likelihood_field_model3.hpp
  beluga_vdb/test/beluga_vdb/include/beluga_vdb/test/simple_pointcloud_interface.hpp
  beluga_vdb/test/beluga_vdb/sensor/test_likelihood_3d_field_model.cpp
Due: none

Fix beluga_vdb debug compile
  beluga_vdb/CMakeLists.txt
Due: none

Fix error and suggested changes
  beluga_example/rviz/ndt_amcl_3d.ros2.rviz
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_ros

Add documentation
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_ros

Rename prob to distance
  beluga_vdb/include/beluga_vdb/sensor/likelihood_field_model3.hpp
Due: none

Add eigen error handling
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_ros

Scale factor and other suggested changes
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_ros

Update documentation and eigen solver usage
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_amcl, beluga_ros

Boolean function and suggested changes
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_ros

isApprox function
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_ros

Warning message, scale factor and other suggested changes
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_amcl, beluga_ros

Add preliminary tests
  beluga_ros/test/test_particle_cloud.cpp
Due: none

Fix angle calculation
  beluga_ros/include/beluga_ros/particle_cloud.hpp
Due: beluga_ros

Fix angle calculation
  beluga_ros/include/beluga_ros/particle_cloud.hpp
  beluga_ros/test/test_particle_cloud.cpp
Due: beluga_ros

Fix logspace calculation
  beluga_ros/include/beluga_ros/particle_cloud.hpp
  beluga_ros/test/test_particle_cloud.cpp
Due: beluga_ros

Add almost_equal_to in SE3 (#452)
  beluga_ros/include/beluga_ros/particle_cloud.hpp
  beluga_ros/test/test_particle_cloud.cpp
Due: beluga_ros

Drop ROS 2 Iron support
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  docker/files/iron.repos
  docker/images/iron/Dockerfile
  docs/_images/iron_irwini_logo.jpg
  docs/index.md
Due: none

Disable weekly CI jobs in forks
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
Due: none

Address peer review comments
  DEVELOPING.md
  beluga_tools/package.xml
Due: none

Drop ROS 2 Iron support (#454)
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  DEVELOPING.md
  beluga_tools/package.xml
  docker/files/iron.repos
  docker/images/iron/Dockerfile
  docs/_images/iron_irwini_logo.jpg
  docs/index.md
Due: none

Disable weekly CI jobs in forks (#455)
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
Due: none

Please CI
  beluga_vdb/CMakeLists.txt
  beluga_vdb/cmake/Config.cmake.in
  beluga_vdb/src/clang_tidy_findable.cpp
  beluga_vdb/test/beluga_vdb/sensor/test_likelihood_3d_field_model.cpp
  tools/run-clang-tidy.sh
Due: none

Change to LifecyclePublisher
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

Create .cpp file
  beluga_ros/cmake/ament.cmake
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
  beluga_ros/src/ndt_ellipsoid.cpp
Due: beluga_ros

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
