Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

Delete unused code
  beluga_tutorial/src/main.cpp
Due: none

Use H5Cpp to save the landmark map (Testing stage)
  beluga_tutorial/src/main.cpp
Due: none

Address comments, improve coverage
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/test/beluga/algorithm/test_amcl_core.cpp
Due: beluga

Address comments, fix selective resampling test
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/test/beluga/algorithm/test_amcl_core.cpp
Due: beluga

Add a core AMCL pipeline (#343)
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_amcl_core.cpp
Due: beluga

Provide sensible defaults for LikelihoodFieldModelParam
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: beluga

Provide sensible defaults for LikelihoodFieldModelParam (#344)
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: beluga

Create a false NdtAmclNode to adapt the code
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Compiling hardcoded to diff drive model
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Make the particle filter on activate
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Create the tutorial_dataset.hpp file
  beluga_tutorial/cmake/ament.cmake
  beluga_tutorial/include/beluga_tutorial/tutorial_dataset.hpp
Due: none

Create a TutorialDataset object for sim records
  beluga_tutorial/src/main.cpp
Due: none

Delete unnecessary header inclusions
  beluga_tutorial/src/main.cpp
Due: none

Simulation runs
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_example/beluga_example/launch_utils.py
  beluga_example/launch/ndt_simulation.launch.xml
  beluga_example/launch/utils/flatland_launch.py
  beluga_example/launch/utils/ndt_amcl_launch.py
  beluga_example/maps/turtlebot3_world.hdf5
  beluga_example/params/ndt_default.ros2.yaml
Due: beluga_amcl

Delete ament.cmake file
  beluga_tutorial/CMakeLists.txt
  beluga_tutorial/cmake/ament.cmake
Due: none

Replace hdf5 with yaml
  beluga_tutorial/package.xml
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: none

Optimizing the way yaml dataset file is saved
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: none

Create tutorial.py and tutorial_animation.py
  beluga_tutorial/src/tutorial.py
  beluga_tutorial/src/tutorial_animation.py
Due: none

Add a line to create the bags folder
  beluga_tutorial/src/main.cpp
Due: none

Use continue space for the robot movement
  beluga_tutorial/src/main.cpp
Due: none

Update tutorial scripts
  beluga_tutorial/src/tutorial.py
  beluga_tutorial/src/tutorial_animation.py
Due: none

Update tutorial.yaml parameters
  beluga_tutorial/params/tutorial.yaml
Due: none

Chage bars with points for the visualization
  beluga_tutorial/src/tutorial.py
  beluga_tutorial/src/tutorial_animation.py
Due: none

Improve the sensor model
  beluga_tutorial/src/main.cpp
Due: none

Modify variable names and code order
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: none

Load the map from a file or generate a random map
  beluga_tutorial/params/landmark_map.yaml
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: none

Drawing thin bars to visualize particle density
  beluga_tutorial/src/tutorial.py
  beluga_tutorial/src/tutorial_animation.py
Due: none

Add beluga_tutorial/bags/* to .gitignore
  .gitignore
Due: none

Improve visualization of the simulation
  beluga_tutorial/src/tutorial.py
  beluga_tutorial/src/tutorial_animation.py
Due: none

Fix sensor model bugs
  beluga_tutorial/src/main.cpp
Due: none

Add a new parameter for the sensor model
  beluga_tutorial/src/main.cpp
Due: none

Modify some variable's names
  beluga_tutorial/src/main.cpp
Due: none

Add a missing parameter
  beluga_tutorial/params/tutorial.yaml
Due: none

Plot histograms instead of bars
  beluga_tutorial/src/tutorial.py
  beluga_tutorial/src/tutorial_animation.py
Due: none

Increase bin size for histograms visualization
  beluga_tutorial/src/tutorial.py
  beluga_tutorial/src/tutorial_animation.py
Due: none

Exclude virtualenv dirs on Sphinx traversal
  .gitignore
  docs/conf.py
Due: none

Drop sphinxcontrib.pseudocode extension
  docs/conf.py
Due: none

Ignore packages in docs
  docs/CATKIN_IGNORE
  docs/COLCON_IGNORE
Due: none

Fix test_distance_map
  beluga/test/beluga/algorithm/test_distance_map.cpp
Due: none

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
