Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Combine both scripts in one and add argparse
  beluga_tutorial/src/tutorial_animation.py
  beluga_tutorial/src/visualization.py
Due: none

Add scripts to visualize the beluga_tutorial data
  beluga_tutorial/src/tutorial.py
  beluga_tutorial/src/tutorial_animation.py
Due: none

Update visualize.py
  beluga_tutorial/scripts/visualize.py
Due: none

Update beluga_tutorial.gif
  docs/_images/beluga_tutorial.gif
  docs/tutorials/particle-filtering.md
Due: none

Add binary install instructions
  docs/getting-started/installation.md
Due: none

Update supported ROS distros
  docs/_images/jazzy_jalisco_logo.png
  docs/_images/rolling_ridley_logo.png
  docs/index.md
Due: none

Update binary install instructions (#394)
  docs/_images/jazzy_jalisco_logo.png
  docs/_images/rolling_ridley_logo.png
  docs/getting-started/installation.md
  docs/index.md
Due: none

Update particle-filtering.md
  docs/tutorials/particle-filtering.md
Due: none

Match NDT defaults to the ones that got empirically checked.
  beluga_example/params/default_ndt.ros2.yaml
Due: none

Add NDT benchmark report for magazino datasets
  beluga_benchmark/docs/reports/2024-05-31/NDT magazino benchmark.pdf
Due: none

Modify default values in the node itself
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Implement the suggested modifications
  beluga_tutorial/package.xml
  beluga_tutorial/scripts/visualize.py
Due: none

Expand some grid concepts to N dimensions
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
  beluga/test/beluga/sensor/data/test_sparse_value_grid.cpp
Due: beluga

Fix sensor model after tweaks in the grids
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
Due: beluga, beluga_amcl

Lint
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
Due: beluga

Change NDT sensor model default params
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_example/params/default_ndt.ros2.yaml
Due: beluga_amcl

Change NDT sensor model default params (#397)
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_example/params/default_ndt.ros2.yaml
Due: beluga_amcl

Add eigen compatibility header. Lint
  beluga/include/beluga/eigen_compatibility.hpp
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
Due: beluga

Add NOLINT for eigen namespace
  beluga/include/beluga/eigen_compatibility.hpp
Due: beluga

Add const
  beluga/test/beluga/sensor/data/test_sparse_value_grid.cpp
Due: none

Add scripts for beluga_tutorial visualizations (#387)
  beluga_tutorial/package.xml
  beluga_tutorial/scripts/visualize.py
Due: none

Add missing documentation
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
Due: beluga

Update beluga/include/beluga/eigen_compatibility.hpp
  beluga/include/beluga/eigen_compatibility.hpp
Due: beluga

Fix indentation, fix static assert
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
Due: beluga

Correct grammar in particle-filtering.md
  docs/tutorials/particle-filtering.md
Due: none

Fixes to get docker to build in arm64
  DEVELOPING.md
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Address Michel's comments
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
  beluga/test/beluga/sensor/data/test_sparse_value_grid.cpp
Due: none

WIP
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/data/laser_scan.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/data/test_laser_scan.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/laser_scan.hpp
Due: beluga, beluga_ros

Change Dockerfile base images
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Expand grid concepts to n dimensions (#396)
  beluga/include/beluga/eigen_compatibility.hpp
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
  beluga/test/beluga/sensor/data/test_sparse_value_grid.cpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
Due: beluga, beluga_amcl

Add 3D NDT sensor model and tests.
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: beluga

Address Michel's comments
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: none

Add constexpr, fix casing
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: none

Add 3D NDT sensor model and tests. (#400)
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: beluga

Use `no-gnu-zero-variadic-macro-arguments` only with `clang-tidy`
  beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  tools/run-clang-tidy.sh
Due: beluga

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test
