Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

ament_target_dependencies completely removed from beluga_amcl/cmake/ament.cmake (not even an option) because new target_link_libraries works from humble (first ROS2 version)
  beluga_amcl/cmake/ament.cmake
Due: beluga_amcl

Fixed lint issues
  beluga_amcl/cmake/ament.cmake
  beluga_ros/cmake/ament.cmake
Due: beluga_amcl, beluga_ros

Addressing comments and adding microbenchmark
  beluga/include/beluga/views/low_variance_sample.hpp
  beluga/test/beluga/views/test_low_variance_sample.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_low_variance_sample.cpp
  log/latest
  log/latest_test
Due: beluga

Adding information about low-variance-sample to readme
  beluga/docs/_doxygen/beluga-main.md
  beluga/docs/index.md
Due: beluga

Replaced message_filters/subscriber.h by message_filters/subscribers.hpp since .h is no longer available in Rolling (and for previous versions it was just a forward to the .hpp file)
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
Due: beluga_amcl

More message_filters/subscriber.h replaced by message_filters/subscribers.hpp, now in beluga_amcl/src
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

Fixed missing > character in #include <message_filters/subscriber.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

- Added compatibility with message_filters versions above 7.2.1 - flatland repository taken out on rolling distro. - noetic distro taken out from CI pipelines (kilted added)
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/message_filters_adapter.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  docker/files/rolling.repos
Due: beluga_amcl

Fixed link issues
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/message_filters_adapter.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

Solved lint issues with pre-commit
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

Added "const" on test_vdb_likelihood_field_model.cpp (line 59, checker variable)
  beluga_vdb/test/beluga_vdb/sensor/test_vdb_likelihood_field_model.cpp
Due: none

Revert "Added "const" on test_vdb_likelihood_field_model.cpp (line 59, checker variable)"
  beluga_vdb/test/beluga_vdb/sensor/test_vdb_likelihood_field_model.cpp
Due: none

Please clang-tidy on Kilted
  beluga_vdb/test/beluga_vdb/sensor/test_vdb_likelihood_field_model.cpp
Due: none

noetic distro (ROS1) taken out of CI pipelines
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
Due: none

Clean up patch
  .pre-commit-config.yaml
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/message_filters.hpp
  beluga_amcl/include/beluga_amcl/message_filters_adapter.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

Please Rolling one last time
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/include/beluga_ros/occupancy_grid.hpp
  beluga_ros/include/beluga_ros/tf2_sophus.hpp
  beluga_system_tests/test/test_system.cpp
Due: beluga_amcl, beluga_ros

Add ROS Kilted Kaiju support (#485)
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  .pre-commit-config.yaml
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/message_filters.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/cmake/ament.cmake
  beluga_ros/include/beluga_ros/occupancy_grid.hpp
  beluga_ros/include/beluga_ros/tf2_sophus.hpp
  beluga_system_tests/test/test_system.cpp
  beluga_vdb/test/beluga_vdb/sensor/test_vdb_likelihood_field_model.cpp
  docker/files/kilted.repos
  docker/files/rolling.repos
  docker/images/kilted/Dockerfile
Due: beluga_amcl, beluga_ros

Implementing a getter on world_to_likelihood_field_transform_ to properly displace the origin on rViz visualization (working code).
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/likelihood_field.hpp
Due: beluga, beluga_amcl, beluga_ros

Changing way to pass the origin pose to the likelihood_field (in assign_likelihood_field) using tf2_sophus API
  beluga_ros/include/beluga_ros/likelihood_field.hpp
Due: beluga_ros

Change of discretization on likelihood field from discrete (0:free,100:occupied,-1:unknown) to continuous [0,100]
  beluga_ros/include/beluga_ros/likelihood_field.hpp
Due: beluga_ros

Starting modification to avoid puiiblishing on likelihood_field if it doesn't applies (depending on sensor_model).
  beluga_amcl/src/ros2_common.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
Due: beluga_amcl, beluga_ros

Modifications to avoid publishing on the likelihood_field topic when the sensor used doesn't support this type of representation. Also includes some code tidying and cleanup.
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

Pre-commit run on two additional files
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga_ros/include/beluga_ros/likelihood_field.hpp
Due: beluga, beluga_ros

Forgot to add a description for doxygen documentationi on a method in amcl.hpp
  beluga_ros/include/beluga_ros/amcl.hpp
Due: beluga_ros

- Minor changes on comments - sensor_primitives.hpp renamed to primitives.hpp - Likelihood field mapping for ros2 message scaled to [0,100]
  beluga/include/beluga/sensor/primitives.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/likelihood_field.hpp
Due: beluga, beluga_amcl, beluga_ros

Likelihood field map representation (#487)
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/include/beluga/sensor/primitives.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/likelihood_field.hpp
  beluga_ros/src/amcl.cpp
Due: beluga, beluga_amcl, beluga_ros

Expose model_unknown_space parameter to ROS2
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_example/params/default.ros.yaml
  beluga_example/params/default.ros2.yaml
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/likelihood_field.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

- "const auto" in likelihood_field_origin() on likelihood_field_model_base.hpp produced no effect (returning by value), so it was changed to auto.
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Adding comment on has_likelihood_field_v method (beluga/sensor/primitives.hpp)
  beluga/include/beluga/sensor/primitives.hpp
Due: beluga

Expose model_unknown_space parameter to ROS2 (#448)
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/include/beluga/sensor/primitives.hpp
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_example/params/default.ros.yaml
  beluga_example/params/default.ros2.yaml
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/likelihood_field.hpp
Due: beluga, beluga_amcl, beluga_ros

feat: Add timer-based propagation functionality to AMCL
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

add unit test to improve coverage
  beluga_amcl/test/test_amcl_node.cpp
  beluga_ros/test/test_amcl.cpp
Due: none

added updates lazily of propagation model
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
  beluga_ros/test/test_amcl.cpp
Due: beluga_amcl, beluga_ros

fixed pr
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
Due: beluga_amcl

add missing backtick in ros2 documentation
  beluga_amcl/docs/ros2-reference.md
Due: beluga_amcl

Add missing backtick in ROS 2 documentation (#495)
  beluga_amcl/docs/ros2-reference.md
Due: beluga_amcl

add support for isolated tests using ament_cmake_ros and drop unused test depend ament_cmake_gtest
  beluga_amcl/package.xml
  beluga_amcl/test/cmake/ament.cmake
  beluga_ros/package.xml
  beluga_ros/test/cmake/ament.cmake
Due: beluga_amcl, beluga_ros

Add support for ROS 2 nodes test isolation (#497)
  beluga_amcl/package.xml
  beluga_amcl/test/cmake/ament.cmake
  beluga_ros/package.xml
  beluga_ros/test/cmake/ament.cmake
Due: beluga_amcl, beluga_ros

add odometry subscriber
  beluga_amcl/README.md
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
