Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Separate creation, loading and publishing
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

Change permutation order
  beluga_ros/src/ndt_ellipsoid.cpp
Due: beluga_ros

Minor fix to DEVELOPING.md
  DEVELOPING.md
Due: none

Minor fix to DEVELOPING.md (#456)
  DEVELOPING.md
Due: none

Remove const to checker
  beluga_vdb/test/beluga_vdb/sensor/test_likelihood_3d_field_model.cpp
Due: none

Fix link to DEVELOPING.md and update the Table of Contents in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix linter errors
  beluga_ros/cmake/ament.cmake
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
  beluga_ros/src/ndt_ellipsoid.cpp
Due: beluga_ros

Fix link to DEVELOPING.md (#457)
  CONTRIBUTING.md
Due: none

Suggested changes
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
  beluga_ros/src/ndt_ellipsoid.cpp
Due: beluga_amcl, beluga_ros

Fix CI errors
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
  beluga_ros/src/ndt_ellipsoid.cpp
Due: beluga_ros

Docstrings and detail namespace
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
  beluga_ros/src/ndt_ellipsoid.cpp
Due: beluga_ros

Fix docstring error
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_ros

Fix linter errors
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
Due: beluga_ros

Ndt map visualization (#453)
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_example/rviz/ndt_amcl_3d.ros2.rviz
  beluga_ros/cmake/ament.cmake
  beluga_ros/include/beluga_ros/ndt_ellipsoid.hpp
  beluga_ros/src/ndt_ellipsoid.cpp
Due: beluga_amcl, beluga_ros

Bump upload and download artifact actions to v4
  .github/workflows/ci_pipeline.yml
Due: none

Add dependabot config for github actions
  .github/dependabot.yml
Due: none

Update interval to weekly updates
  .github/dependabot.yml
Due: none

create likelihood_field_prob_model and the tests
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_likelihood_field_prob_model.cpp
Due: beluga

add template base clase
  beluga/include/beluga/sensor/likelihood_field_model_common.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

Add dependabot config for github actions (#459)
  .github/dependabot.yml
Due: none

implement base class
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model_common.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

Add likelihood field 3d model version (#440)
  beluga_vdb/CMakeLists.txt
  beluga_vdb/cmake/Config.cmake.in
  beluga_vdb/include/beluga_vdb/sensor/likelihood_field_model3.hpp
  beluga_vdb/package.xml
  beluga_vdb/src/clang_tidy_findable.cpp
  beluga_vdb/test/CMakeLists.txt
  beluga_vdb/test/beluga_vdb/CMakeLists.txt
  beluga_vdb/test/beluga_vdb/include/beluga_vdb/test/simple_pointcloud_interface.hpp
  beluga_vdb/test/beluga_vdb/sensor/test_likelihood_3d_field_model.cpp
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: none

add sensor
  beluga/include/beluga/sensor.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
Due: beluga, beluga_amcl, beluga_ros

Fix artifact version
  .github/workflows/ci_pipeline.yml
Due: none

Replace ref name with SHA
  .github/workflows/ci_pipeline.yml
Due: none

Add ref name to artifacts
  .github/workflows/ci_pipeline.yml
Due: none

Fix artifact version (#460)
  .github/workflows/ci_pipeline.yml
Due: none

set a min pz
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

set min value pz 0.075
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

set min value pz 0.025
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

a threshold value is calculated for pz
  beluga/include/beluga/sensor/likelihood_field_model_common.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

set 50% of size points
  beluga/include/beluga/sensor/likelihood_field_model_common.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

set 25% of size points
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

Experiments to check the performance of nearest_obstacle_distance_map
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga/test/beluga/sensor/test_lfm_with_unknown_space.cpp
Due: beluga

Update beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/distance_map.hpp
Due: beluga

The product of probabilities is transformed into a sum of log probabilities by log transformation
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

Fix performance issue in likelihood map creation
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga/test/beluga/sensor/test_lfm_with_unknown_space.cpp
Due: beluga

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
