Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_system_tests/test"

Add missing copyright notices
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/beluga_amcl-extras.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/cmake/lib/nodelets.cmake
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
Due: beluga_amcl

Please lint_cmake
  beluga_amcl/cmake/lib/nodelets.cmake
Due: beluga_amcl

Add ROS Noetic support to `beluga_amcl` (#218)
  .github/workflows/ci_pipeline.yml
  beluga_amcl/CMakeLists.txt
  beluga_amcl/README.md
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/beluga_amcl-extras.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/cmake/lib/nodelets.cmake
  beluga_amcl/cmake/lib/templates/nodelet_executable_main.cpp.in
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/docs/PARAMETERS.md
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/ros_interfaces.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/nodelet_plugins.xml
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/main.cpp
  beluga_amcl/src/particle_filtering.cpp
  beluga_amcl/test/CMakeLists.txt
  beluga_amcl/test/amcl_nodelet.test
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
  tools/build-and-test.sh
Due: beluga_amcl

Improve cache key
  .github/workflows/ci_pipeline.yml
Due: none

Do not build flatland, I mean it
  .github/workflows/ci_pipeline.yml
Due: none

No need to create a directory
  .github/workflows/ci_pipeline.yml
Due: none

Install vcstool
  .github/workflows/ci_pipeline.yml
Due: none

Add ROS 2 Rolling CI infrastructure
  .github/workflows/ci_pipeline.yml
  beluga_amcl/src/amcl_node.cpp
  docker/files/noetic.repos
Due: beluga_amcl

Install python packages first
  .github/workflows/ci_pipeline.yml
Due: none

Configure ccache keys
  .github/workflows/ci_pipeline.yml
Due: none

Skip flatland build on CI
  .github/workflows/ci_pipeline.yml
Due: none

Update .github/workflows/ci_pipeline.yml
  .github/workflows/ci_pipeline.yml
Due: none

Add target branch as first restore keys candidate
  .github/workflows/ci_pipeline.yml
Due: none

Add ROS 2 Rolling CI infrastructure (#222)
  .github/workflows/ci_pipeline.yml
  beluga_amcl/src/amcl_node.cpp
  docker/files/noetic.repos
Due: beluga_amcl

Please lint_cmake
  beluga_example/cmake/ament.cmake
  beluga_example/cmake/catkin.cmake
Due: none

Ignore beluga_benchmark in ROS 1
  beluga_benchmark/CMakeLists.txt
  beluga_benchmark/package.xml
Due: none

Ignore beluga_system_tests in ROS 1
  beluga_system_tests/CMakeLists.txt
  beluga_system_tests/package.xml
Due: none

Update repository level documentation
  GETTING_STARTED.md
  README.md
Due: none

Wrap up ROS Noetic support (#225)
  GETTING_STARTED.md
  README.md
  beluga_benchmark/CMakeLists.txt
  beluga_benchmark/package.xml
  beluga_system_tests/CMakeLists.txt
  beluga_system_tests/package.xml
Due: none

List documentaition deps in package.xml
  .github/workflows/ci_pipeline.yml
  beluga/package.xml
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: beluga

Do not build docs if doxygen is not installed
  beluga/docs/CMakeLists.txt
Due: beluga

List documentation deps in package.xml (#228)
  .github/workflows/ci_pipeline.yml
  beluga/docs/CMakeLists.txt
  beluga/package.xml
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: beluga

Add installation guide
  GETTING_STARTED.md
  INSTALLING.md
  README.md
Due: none

Apply suggestions from code review
  INSTALLING.md
Due: none

Speed up docker builds in CI
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Add base_ref cache source
  .github/workflows/docker_ci_pipeline.yml
Due: none

Try min cache mode
  .github/workflows/docker_ci_pipeline.yml
Due: none

No need to install python deps
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Add QoS and params recommendations
  INSTALLING.md
Due: none

Add map argument
  INSTALLING.md
Due: none

Add rviz command examples
  INSTALLING.md
Due: none

Add installation guide (#229)
  GETTING_STARTED.md
  INSTALLING.md
  README.md
Due: none

Avoid building docs by default
  INSTALLING.md
  beluga/CMakeLists.txt
  tools/build-and-test.sh
Due: beluga

Avoid building docs by default (#234)
  INSTALLING.md
  beluga/CMakeLists.txt
  tools/build-and-test.sh
Due: beluga

Speed up docker builds in CI (#231)
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Refactor resampling policies into filter update control
  beluga/docs/README.md
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/resampling_policies.hpp
  beluga/include/beluga/resampling_policies/resample_on_motion_policy.hpp
  beluga/include/beluga/resampling_policies/resampling_policies_poller.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/resampling_policies/test_resample_on_motion_policy.cpp
  beluga/test/beluga/resampling_policies/test_resampling_policies_poller.cpp
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/resample_interval_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/selective_resampling_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/update_filter_when_moving_policy.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/filter_update_control/test_filter_update_control_mixin.cpp
  beluga_amcl/test/filter_update_control/test_resample_interval_policy.cpp
  beluga_amcl/test/filter_update_control/test_selective_resampling_policy.cpp
  beluga_amcl/test/filter_update_control/test_update_filter_when_moving_policy.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Refactor resampling policies into filter update control (#233)
  beluga/docs/README.md
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/resampling_policies.hpp
  beluga/include/beluga/resampling_policies/resample_on_motion_policy.hpp
  beluga/include/beluga/resampling_policies/resampling_policies_poller.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/resampling_policies/test_resample_on_motion_policy.cpp
  beluga/test/beluga/resampling_policies/test_resampling_policies_poller.cpp
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/resample_interval_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/selective_resampling_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/update_filter_when_moving_policy.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/filter_update_control/test_filter_update_control_mixin.cpp
  beluga_amcl/test/filter_update_control/test_resample_interval_policy.cpp
  beluga_amcl/test/filter_update_control/test_selective_resampling_policy.cpp
  beluga_amcl/test/filter_update_control/test_update_filter_when_moving_policy.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl
