Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_system_tests/test"

Add support for tuple vector assignment and conversion
  beluga/include/beluga/mixin/storage.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_take_while_kld.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: beluga

Fix push_back signature
  beluga/include/beluga/tuple_vector.hpp
Due: beluga

Fix type alias
  beluga/include/beluga/mixin/sampling.hpp
Due: beluga

Add support for tuple vector assignment and conversion (#285)
  beluga/include/beluga/mixin/sampling.hpp
  beluga/include/beluga/mixin/storage.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_take_while_kld.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: beluga

Add zip view and fix tuple vector traits
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/zip.hpp
  beluga/test/beluga/test_tuple_vector.cpp
Due: beluga

Add zip view and fix tuple vector traits (#286)
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/zip.hpp
  beluga/test/beluga/test_tuple_vector.cpp
Due: beluga

Add assign action
  beluga/include/beluga/actions.hpp
  beluga/include/beluga/actions/assign.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_assign.cpp
Due: beluga

Add move only range test
  beluga/include/beluga/actions/assign.hpp
  beluga/test/beluga/actions/test_assign.cpp
Due: beluga

Remove operator overload
  beluga/include/beluga/actions/assign.hpp
  beluga/test/beluga/actions/test_assign.cpp
Due: beluga

Fix include order
  beluga/test/beluga/actions/test_assign.cpp
Due: none

Switching the order also works and look nicer
  beluga/test/beluga/actions/test_assign.cpp
Due: none

Use indirect view
  beluga/test/beluga/actions/test_assign.cpp
Due: none

Fix sample view
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/include/beluga/views/sample.hpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/beluga/views/test_sample.cpp
Due: beluga

Improve test
  beluga/test/beluga/actions/test_assign.cpp
Due: none

Add assign action (#287)
  beluga/include/beluga/actions.hpp
  beluga/include/beluga/actions/assign.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_assign.cpp
Due: beluga

Reword algorithm description
  beluga/include/beluga/views/sample.hpp
Due: beluga

Add comment
  beluga/test/beluga/test_tuple_vector.cpp
Due: none

Remove unnecessary const
  beluga/include/beluga/tuple_vector.hpp
Due: beluga

Fix sample view (#288)
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/include/beluga/views/sample.hpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/beluga/views/test_sample.cpp
Due: beluga

Apply suggestions from code review
  beluga/include/beluga/actions/propagate.hpp
  beluga/include/beluga/actions/reweight.hpp
Due: beluga

Fix tests
  beluga/test/beluga/actions/test_propagate.cpp
  beluga/test/beluga/actions/test_reweight.cpp
Due: none

Lint
  beluga/include/beluga/actions/reweight.hpp
Due: beluga

Add mutable model test
  beluga/test/beluga/actions/test_propagate.cpp
  beluga/test/beluga/actions/test_reweight.cpp
Due: none

Do not max-normalize
  beluga/include/beluga/actions/reweight.hpp
  beluga/test/beluga/actions/test_reweight.cpp
Due: beluga

Add propagate and reweight actions
  beluga/include/beluga/actions.hpp
  beluga/include/beluga/actions/propagate.hpp
  beluga/include/beluga/actions/reweight.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_propagate.cpp
  beluga/test/beluga/actions/test_reweight.cpp
Due: beluga

Add propagate and reweight actions (#289)
  beluga/include/beluga/actions.hpp
  beluga/include/beluga/actions/propagate.hpp
  beluga/include/beluga/actions/reweight.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_propagate.cpp
  beluga/test/beluga/actions/test_reweight.cpp
Due: beluga

Add ESS algorithm
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/effective_sample_size.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_effective_sample_size.cpp
Due: beluga

Motion and sensor models are not mixins
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/descriptor.hpp
  beluga/include/beluga/mixin/utility.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/mixin/test_descriptor.cpp
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/beluga/test_mixin.cpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Do not explicitly write the template parameter
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga_amcl

Motion and sensor models are not mixins (#291)
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/descriptor.hpp
  beluga/include/beluga/mixin/utility.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/mixin/test_descriptor.cpp
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/beluga/test_mixin.cpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Fix algorithm description
  beluga/docs/doxygen_cites.bib
  beluga/include/beluga/algorithm/effective_sample_size.hpp
Due: beluga

Fix variable name
  beluga/include/beluga/algorithm/effective_sample_size.hpp
Due: beluga

Minor fix to the cite
  beluga/docs/doxygen_cites.bib
Due: beluga

Add ESS algorithm (#290)
  beluga/docs/doxygen_cites.bib
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/effective_sample_size.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_effective_sample_size.cpp
Due: beluga

Update system tests to use the new API
  beluga_system_tests/test/CMakeLists.txt
  beluga_system_tests/test/test_system_new.cpp
Due: none

Add variant implementation instructions
  beluga_system_tests/test/test_system_new.cpp
Due: none

A `normalize` action closure would also do
  beluga_system_tests/test/test_system_new.cpp
Due: none

Add system tests with the range-based API (#292)
  beluga_system_tests/test/CMakeLists.txt
  beluga_system_tests/test/test_system_new.cpp
Due: none

Run system tests with parallel execution enabled
  beluga_system_tests/test/test_system_new.cpp
Due: none

Run system tests with parallel execution enabled (#293)
  beluga_system_tests/test/test_system_new.cpp
Due: none
