Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

Run clang-format and clang-tidy in `beluga_amcl`
  .clang-tidy
  .pre-commit-config.yaml
  beluga_amcl/CMakeLists.txt
  beluga_amcl/package.xml
  beluga_amcl/test/cmake/ament.cmake
  tools/run-clang-tidy.sh
Due: beluga_amcl

Submit clang-format changes
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/private/execution_policy.hpp
  beluga_amcl/include/beluga_amcl/ros_interfaces.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/particle_filtering.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Change hook names for consistency
  .pre-commit-config.yaml
Due: none

Workaround for implicit bool conversion warning
  beluga_amcl/src/amcl_nodelet.cpp
Due: beluga_amcl

Apply clang-tidy fixes
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/private/execution_policy.hpp
  beluga_amcl/include/beluga_amcl/ros_interfaces.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Apply more clang-format changes
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/resample_interval_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/selective_resampling_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/update_filter_when_moving_policy.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/filter_update_control/test_filter_update_control_mixin.cpp
  beluga_amcl/test/filter_update_control/test_resample_interval_policy.cpp
  beluga_amcl/test/filter_update_control/test_selective_resampling_policy.cpp
  beluga_amcl/test/filter_update_control/test_update_filter_when_moving_policy.cpp
Due: beluga_amcl

Apply more clang-tidy fixes
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/resample_interval_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/selective_resampling_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/update_filter_when_moving_policy.hpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/filter_update_control/test_filter_update_control_mixin.cpp
Due: beluga_amcl

More clang-format fixes
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/resample_interval_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/selective_resampling_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/update_filter_when_moving_policy.hpp
Due: beluga_amcl

Remove uncrustify and cpplint from pre-commit hooks (#236)
  .clang-tidy
  .pre-commit-config.yaml
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/resample_interval_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/selective_resampling_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/update_filter_when_moving_policy.hpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/private/execution_policy.hpp
  beluga_amcl/include/beluga_amcl/ros_interfaces.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/particle_filtering.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/filter_update_control/test_filter_update_control_mixin.cpp
  beluga_amcl/test/filter_update_control/test_resample_interval_policy.cpp
  beluga_amcl/test/filter_update_control/test_selective_resampling_policy.cpp
  beluga_amcl/test/filter_update_control/test_update_filter_when_moving_policy.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
  tools/run-clang-tidy.sh
Due: beluga_amcl

Remove ament_flake8 and ament_pep257
  .flake8
  .pre-commit-config.yaml
  beluga_amcl/package.xml
  docker/images/noetic/Dockerfile
Due: beluga_amcl

Update ignore list
  .flake8
Due: none

Remove ament_flake8 from pre-commit hooks (#237)
  .flake8
  .pre-commit-config.yaml
  beluga_amcl/package.xml
  docker/images/noetic/Dockerfile
Due: beluga_amcl

Update video in README.md
  README.md
Due: none

Add video description
  README.md
Due: none

Replace ament_copyright with local script
  .pre-commit-config.yaml
  docker/images/noetic/Dockerfile
  tools/check_copyright.py
Due: none

Add pre-commit badge
  README.md
Due: none

Update CI pipeline
  .github/workflows/ci_pipeline.yml
Due: none

Small fix to the regex
  tools/check_copyright.py
Due: none

Update README.md
  GETTING_STARTED.md
Due: none

Update package.xml too
  beluga_amcl/package.xml
Due: beluga_amcl

Use setup-python action
  .github/workflows/ci_pipeline.yml
Due: none

Remove flatland
  .github/workflows/ci_pipeline.yml
Due: none

Reduce simulated odometry noise
  beluga_example/models/turtlebot.model.yaml
Due: none

Simplify year pattern
  tools/check_copyright.py
Due: none

Rewrite the pattern construction code
  tools/check_copyright.py
Due: none

Return the match object
  tools/check_copyright.py
Due: none

Replace ament_copyright with local script (#240)
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
  GETTING_STARTED.md
  README.md
  beluga_amcl/package.xml
  docker/images/noetic/Dockerfile
  tools/check_copyright.py
Due: beluga_amcl

Rename motion models in Beluga AMCL for ROS 1
  beluga_amcl/docs/PARAMETERS.md
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_example/params/default.ros.yaml
Due: beluga_amcl

Add cmake-lint to pre-commit hooks
  .cmake-format
  .pre-commit-config.yaml
  beluga/CMakeLists.txt
  beluga/docs/CMakeLists.txt
  beluga/test/CMakeLists.txt
  beluga/test/beluga/CMakeLists.txt
  beluga/test/benchmark/CMakeLists.txt
  beluga_amcl/CMakeLists.txt
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/cmake/lib/nodelets.cmake
  beluga_amcl/package.xml
  beluga_amcl/test/CMakeLists.txt
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_benchmark/CMakeLists.txt
  beluga_example/CMakeLists.txt
  beluga_example/cmake/ament.cmake
  beluga_example/cmake/catkin.cmake
  beluga_example/package.xml
  beluga_system_tests/CMakeLists.txt
  beluga_system_tests/test/CMakeLists.txt
Due: beluga, beluga_amcl

Remove ament_lint_auto
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/package.xml
  beluga_example/cmake/ament.cmake
  beluga_example/package.xml
Due: beluga_amcl

Rename motion models in Beluga AMCL for ROS 1 (#242)
  beluga_amcl/docs/PARAMETERS.md
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_example/params/default.ros.yaml
Due: beluga_amcl

Reduce simulated odometry noise (#241)
  beluga_example/models/turtlebot.model.yaml
Due: none

Update video in README.md (#239)
  README.md
Due: none

Add custom function and autosort
  .cmake-format
  beluga/test/beluga/CMakeLists.txt
  beluga/test/benchmark/CMakeLists.txt
  beluga_amcl/cmake/ament.cmake
Due: beluga_amcl

More custom function parsing
  .cmake-format
  beluga_amcl/cmake/catkin.cmake
Due: beluga_amcl

Add cmake-format to pre-commit hooks (#243)
  .cmake-format
  .pre-commit-config.yaml
  beluga/CMakeLists.txt
  beluga/docs/CMakeLists.txt
  beluga/test/CMakeLists.txt
  beluga/test/beluga/CMakeLists.txt
  beluga/test/benchmark/CMakeLists.txt
  beluga_amcl/CMakeLists.txt
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/cmake/lib/nodelets.cmake
  beluga_amcl/package.xml
  beluga_amcl/test/CMakeLists.txt
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_benchmark/CMakeLists.txt
  beluga_example/CMakeLists.txt
  beluga_example/cmake/ament.cmake
  beluga_example/cmake/catkin.cmake
  beluga_example/package.xml
  beluga_system_tests/CMakeLists.txt
  beluga_system_tests/test/CMakeLists.txt
Due: beluga, beluga_amcl

Change default AMCL params
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/src/amcl_node.cpp
Due: beluga_amcl

Format pre-commit hook configuration
  .pre-commit-config.yaml
  beluga_amcl/config/Amcl.cfg
Due: beluga_amcl

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
