Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_system_tests/test"

Any policy is a policy
  beluga/include/beluga/policies/policy.hpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Add declarative policies
  beluga/include/beluga/policies.hpp
  beluga/include/beluga/policies/every_n.hpp
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/include/beluga/policies/on_motion.hpp
  beluga/include/beluga/policies/policy.hpp
  beluga/include/beluga/policies/while.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/policies/test_policy.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Simplify implementation
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/include/beluga/policies/policy.hpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Add some documentation
  beluga/include/beluga/policies/every_n.hpp
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/include/beluga/policies/on_motion.hpp
Due: beluga

Minor fixes
  beluga/include/beluga/policies/every_n.hpp
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/include/beluga/policies/on_motion.hpp
  beluga/include/beluga/policies/policy.hpp
Due: beluga

Improve documentation
  beluga/include/beluga/policies/every_n.hpp
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/include/beluga/policies/on_motion.hpp
Due: beluga

Remove bool value lift
  beluga/include/beluga/policies.hpp
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/include/beluga/policies/while.hpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Add unit tests
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/include/beluga/policies/policy.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/policies/test_every_n.cpp
  beluga/test/beluga/policies/test_on_effective_size_drop.cpp
  beluga/test/beluga/policies/test_on_motion.cpp
  beluga/test/beluga/policies/test_policy.cpp
Due: beluga

A policy closure is a policy
  beluga/include/beluga/policies/every_n.hpp
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/include/beluga/policies/on_motion.hpp
  beluga/include/beluga/policies/policy.hpp
  beluga/test/beluga/policies/test_policy.cpp
Due: beluga

Put policy in library namespace
  beluga/include/beluga/policies/policy.hpp
Due: beluga

Add adaptive probability estimator
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/adaptive_probability_estimator.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_adaptive_probability_estimator.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Add zero weight test
  beluga/test/beluga/algorithm/test_adaptive_probability_estimator.cpp
Due: none

Make threshold configurable
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/test/beluga/policies/test_on_effective_size_drop.cpp
Due: beluga

Rework on_motion policy to allow 3D extensions
  beluga/include/beluga/policies/on_motion.hpp
  beluga/test/beluga/policies/test_on_motion.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Rename probability estimator
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/thrun_recovery_probability_estimator.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_thrun_recovery_probability_estimator.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Check for zero in its integer form
  beluga/include/beluga/algorithm/thrun_recovery_probability_estimator.hpp
Due: beluga

Make the API consistent
  beluga/include/beluga/algorithm/thrun_recovery_probability_estimator.hpp
  beluga/test/beluga/algorithm/test_thrun_recovery_probability_estimator.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Fix test names
  beluga/test/beluga/policies/test_on_effective_size_drop.cpp
Due: none

Remove template parameter from the user-facing API
  beluga/include/beluga/policies/on_motion.hpp
  beluga/test/beluga/policies/test_on_motion.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Apply code review suggestion
  beluga/include/beluga/algorithm/thrun_recovery_probability_estimator.hpp
Due: beluga

Add declarative policies (#294)
  beluga/include/beluga/policies.hpp
  beluga/include/beluga/policies/every_n.hpp
  beluga/include/beluga/policies/on_effective_size_drop.hpp
  beluga/include/beluga/policies/on_motion.hpp
  beluga/include/beluga/policies/policy.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/policies/test_every_n.cpp
  beluga/test/beluga/policies/test_on_effective_size_drop.cpp
  beluga/test/beluga/policies/test_on_motion.cpp
  beluga/test/beluga/policies/test_policy.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Lint
  beluga_system_tests/test/test_system_new.cpp
Due: none

Add recovery probability estimator (#295)
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
  beluga/include/beluga/algorithm/thrun_recovery_probability_estimator.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_thrun_recovery_probability_estimator.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Extend sample view to sample from random distributions
  beluga/include/beluga/views/sample.hpp
  beluga/test/beluga/views/test_sample.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Add normalize action
  beluga/include/beluga/actions.hpp
  beluga/include/beluga/actions/normalize.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_normalize.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Extend sample view to sample from random distributions (#296)
  beluga/include/beluga/views/sample.hpp
  beluga/test/beluga/views/test_sample.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Follow floating point number conventions
  beluga/include/beluga/actions/normalize.hpp
  beluga/test/beluga/actions/test_normalize.cpp
Due: beluga

Add normalize action (#297)
  beluga/include/beluga/actions.hpp
  beluga/include/beluga/actions/normalize.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_normalize.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Extend multivariate distribution to support Sophus types
  beluga/docs/doxygen_cites.bib
  beluga/include/beluga/random/multivariate_distribution_traits.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
  beluga_system_tests/test/test_system.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Apply code review suggestions
  beluga/include/beluga/random/multivariate_distribution_traits.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: beluga

Extend multivariate distribution to support different result types (#298)
  beluga/docs/doxygen_cites.bib
  beluga/include/beluga/random/multivariate_distribution_traits.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
  beluga_system_tests/test/test_system.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Make test matchers and printers available to users
  beluga/include/beluga/testing.hpp
  beluga/include/beluga/testing/sophus_matchers.hpp
  beluga/include/beluga/testing/sophus_printers.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/include/beluga/test/utils/sophus_matchers.hpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
  beluga/test/beluga/sensor/data/test_laser_scan.cpp
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Add unit tests
  beluga/include/beluga/testing/sophus_matchers.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/testing/test_sophus_matchers.cpp
  beluga/test/beluga/testing/test_sophus_printers.cpp
Due: beluga

Add named constants
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
  beluga/test/beluga/sensor/data/test_laser_scan.cpp
  beluga/test/beluga/testing/test_sophus_matchers.cpp
Due: none

Make test matchers and printers available to users (#300)
  beluga/include/beluga/testing.hpp
  beluga/include/beluga/testing/sophus_matchers.hpp
  beluga/include/beluga/testing/sophus_printers.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/include/beluga/test/utils/sophus_matchers.hpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
  beluga/test/beluga/sensor/data/test_laser_scan.cpp
  beluga/test/beluga/testing/test_sophus_matchers.cpp
  beluga/test/beluga/testing/test_sophus_printers.cpp
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Add uniform grid distribution
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/uniform_grid_distribution.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/random/test_uniform_grid_distribution.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Remove default engine argument
  beluga/include/beluga/random/uniform_grid_distribution.hpp
  beluga/include/beluga/views/random_intersperse.hpp
  beluga/test/beluga/random/test_uniform_grid_distribution.cpp
Due: beluga

Make static analyzer happy
  beluga/include/beluga/views/random_intersperse.hpp
Due: beluga

Compose outside the main loop
  beluga_system_tests/test/test_system_new.cpp
Due: none

Add unit test
  beluga/test/beluga/views/test_random_intersperse.cpp
Due: none
