Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_system_tests/test"

Fix some tests
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: none

Use map topic by default
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Remove explicit config argument for clang-format
  .pre-commit-config.yaml
Due: none

Format pre-commit hook configuration (#245)
  .pre-commit-config.yaml
  beluga_amcl/config/Amcl.cfg
Due: beluga_amcl

Revert recovery parameter changes
  beluga_amcl/config/Amcl.cfg
Due: beluga_amcl

Add ROS 2 Iron CI infrastructure
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  docker/files/iron.repos
  docker/images/iron/Dockerfile
Due: none

Defer rolling build to a weekly job
  .github/workflows/ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
Due: none

Update documentation
  GETTING_STARTED.md
Due: none

Change default AMCL params (#244)
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Build all distributions weekly
  .github/workflows/weekly_pipeline.yml
Due: none

Add ROS 2 Iron CI infrastructure (#247)
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  GETTING_STARTED.md
  docker/files/iron.repos
  docker/images/iron/Dockerfile
Due: none

Fix missing control to force a filter update on pose updates
  beluga_amcl/README.md
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/filter_update_control/test_filter_update_control_mixin.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
  docker/images/noetic/Dockerfile
Due: beluga_amcl

Fix missing control to force a filter update on pose updates (#248)
  beluga_amcl/README.md
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/filter_update_control/test_filter_update_control_mixin.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
  docker/images/noetic/Dockerfile
Due: beluga_amcl

Fix glx error issue starting rviz
  docker/docker-compose.yml
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Fix glx error issue starting rviz in Noetic/20.04 (#252)
  docker/docker-compose.yml
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Add updated performance report
  beluga_benchmark/docs/reports/2023-09-02/REPORT.md
  beluga_benchmark/docs/reports/2023-09-02/beam_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-09-02/beam_beluga_vs_beluga_vs_amcl_linear.png
  beluga_benchmark/docs/reports/2023-09-02/likelihood_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-09-02/likelihood_beluga_vs_beluga_vs_amcl_linear.png
  beluga_benchmark/docs/reports/baseline_configurations/beam_params.yaml
  beluga_benchmark/docs/reports/baseline_configurations/beam_params_par.yaml
  beluga_benchmark/docs/reports/baseline_configurations/likelihood_params.yaml
  beluga_benchmark/docs/reports/baseline_configurations/likelihood_params_par.yaml
Due: none

Add updated performance report
  beluga_amcl/README.md
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/docs/reports/2023-09-02/REPORT.md
  beluga_benchmark/docs/reports/2023-09-02/beam_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-09-02/beam_beluga_vs_beluga_vs_amcl_linear.png
  beluga_benchmark/docs/reports/2023-09-02/likelihood_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-09-02/likelihood_beluga_vs_beluga_vs_amcl_linear.png
  beluga_benchmark/docs/reports/baseline_configurations/beam_params.yaml
  beluga_benchmark/docs/reports/baseline_configurations/beam_params_par.yaml
  beluga_benchmark/docs/reports/baseline_configurations/likelihood_params.yaml
  beluga_benchmark/docs/reports/baseline_configurations/likelihood_params_par.yaml
  beluga_benchmark/scripts/benchmarking/parameterized_run
  beluga_example/launch/perfect_odometry.launch.xml
Due: beluga_amcl

Add updated performance report (#255)
  beluga_amcl/README.md
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/docs/reports/2023-09-02/REPORT.md
  beluga_benchmark/docs/reports/2023-09-02/beam_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-09-02/beam_beluga_vs_beluga_vs_amcl_linear.png
  beluga_benchmark/docs/reports/2023-09-02/likelihood_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-09-02/likelihood_beluga_vs_beluga_vs_amcl_linear.png
  beluga_benchmark/docs/reports/baseline_configurations/beam_params.yaml
  beluga_benchmark/docs/reports/baseline_configurations/beam_params_par.yaml
  beluga_benchmark/docs/reports/baseline_configurations/likelihood_params.yaml
  beluga_benchmark/docs/reports/baseline_configurations/likelihood_params_par.yaml
  beluga_benchmark/scripts/benchmarking/parameterized_run
  beluga_example/launch/perfect_odometry.launch.xml
Due: beluga_amcl

Pivot: Add new cache friendly storage buffer
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_2.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_3.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_4.hpp
  beluga/include/beluga/sensor/data/linear_grid_storage.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_cache_friendly_grid_storage.cpp
  beluga/test/beluga/sensor/data/test_grid_storage_types.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: beluga

Pivot: Remove now-useless low level cell access by index
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/test/beluga/sensor/data/test_linear_grid.cpp
Due: beluga

Improvement: Enlarge the map size in the cache benchmark to improve SNR
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: none

Pivot: neighborhood4 should assume any particular memory arrangement
  beluga/include/beluga/sensor/data/linear_grid.hpp
Due: beluga

Pivot: reduce low-level calls to data() outside of the grid
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: none

Pivot: remove redundant function that assumes an index exist
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
Due: beluga

Pivot: Fixups after rebase
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros_occupancy_grid.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga_amcl

Pivot: Extract everything that's reusable from StaticOccupancyGrid
  beluga/include/beluga/sensor/data/occupancy_grid_storage.hpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: beluga

Improvement: reduce clutter in lambda capture block
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: beluga

Fix clang issues
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_2.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_3.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_4.hpp
  beluga/include/beluga/sensor/data/dense_grid2_mixin.hpp
  beluga/include/beluga/sensor/data/linear_grid_storage.hpp
  beluga/include/beluga/sensor/data/occupancy_grid2_mixin.hpp
  beluga/include/beluga/sensor/data/occupancy_storage_mixin.hpp
  beluga/include/beluga/sensor/data/regular_grid2_mixin.hpp
  beluga/include/beluga/sensor/data/value_grid2_mixin.hpp
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_cache_friendly_grid_storage.cpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_grid_storage_types.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/ros_occupancy_grid.hpp
Due: beluga, beluga_amcl

Improvement: Removed leftover commented code
  beluga/include/beluga/sensor/data/plain_grid_storage.hpp
Due: beluga

Impromevent: Integrate the ROS occupancy grid with the ones in Beluga
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros_occupancy_grid.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga_amcl

Pivot: Improve grid storage for StaticOccupancyGrid
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/plain_grid_storage.hpp
  beluga/include/beluga/sensor/data/value_grid.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
Due: beluga, beluga_amcl

Improvement: Minor format fixes
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: none

Pivot: Beautify and document
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_2.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_3.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_4.hpp
  beluga/include/beluga/sensor/data/dense_grid2_mixin.hpp
  beluga/include/beluga/sensor/data/linear_grid_storage.hpp
  beluga/include/beluga/sensor/data/occupancy_grid2_mixin.hpp
  beluga/include/beluga/sensor/data/occupancy_storage_mixin.hpp
  beluga/include/beluga/sensor/data/regular_grid2_mixin.hpp
  beluga/include/beluga/sensor/data/value_grid2_mixin.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_cache_friendly_grid_storage.cpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_grid_storage_types.cpp
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
  beluga_amcl/include/beluga_amcl/ros_occupancy_grid.hpp
Due: beluga, beluga_amcl

Improvement: Add alias to run precommits
  docker/files/DOTaliases
  docker/images/humble/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Pivot: Remove direct uses of LinearGridStorage
  beluga/include/beluga/sensor/data/occupancy_grid_storage.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: beluga

Pivot: Remove BaselineGrid since there's no perf diference to StaticOccupancyGrid
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: none

Pivot: Convert grid hierarchy into mixins
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/value_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_linear_grid.cpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
Due: beluga, beluga_amcl

Improvement: Add benchmark to measure effect of cache on tracing algorithms
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: none

Pivot: remove notion of indexing from the dense grid
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_linear_grid.cpp
Due: beluga
