Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Revert "Tweak CI for fast iteration"
  .github/workflows/bazel.yml
Due: none

Disambiguate eigen property
  beluga/include/beluga/testing/sophus_matchers.hpp
Due: beluga

Please clang-tidy
  beluga/test/beluga/containers/test_tuple_vector.cpp
Due: none

Fix docs
  beluga/include/beluga/type_traits/strongly_typed_numeric.hpp
Due: beluga

Beluga compiles with MSVC on Windows (#523)
  .bazelrc
  .github/workflows/bazel.yml
  beluga/BUILD.bazel
  beluga/include/beluga/algorithm/thrun_recovery_probability_estimator.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/testing/sophus_matchers.hpp
  beluga/include/beluga/type_traits/strongly_typed_numeric.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/containers/test_tuple_vector.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
Due: beluga

Remove ROS 1 references and documentation
  DEVELOPING.md
  beluga_example/README.md
  beluga_ros/docs/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
Due: beluga_ros

Add documentation for Bazel build
  docs/getting-started/installation.md
  docs/index.md
Due: none

Remove ROS 1 references and documentation (#528)
  DEVELOPING.md
  beluga_example/README.md
  beluga_ros/docs/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
Due: beluga_ros

Add documentation for Bazel build (#527)
  docs/getting-started/installation.md
  docs/index.md
Due: none

Add new overload for reweight action that tracks likelihood
  beluga/include/beluga/actions/reweight.hpp
  beluga/test/beluga/actions/test_reweight.cpp
Due: beluga

add implisit conversion of timestamp to value T
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/ackerman_drive_model.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/utility/time_stamped.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_amcl_core.cpp
  beluga/test/beluga/include/beluga/test/motion_utils.hpp
  beluga/test/beluga/motion/test_ackerman_drive_model.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
  beluga_ros/test/test_amcl.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl, beluga_ros

fixed pr
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/utility/time_stamped.hpp
  beluga/test/beluga/algorithm/test_amcl_core.cpp
  beluga_ros/src/amcl.cpp
Due: beluga, beluga_ros

fixed pr
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/differential_velocity_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_differential_velocity_drive_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga, beluga_amcl

fixed pr
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
Due: beluga

New suggested implementation first draft
  beluga/include/beluga/actions/reweight.hpp
  beluga/include/beluga/views/likelihoods.hpp
  beluga/test/beluga/actions/test_reweight.cpp
Due: beluga

fixed pr
  beluga/include/beluga/motion/differential_velocity_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/utility/time_stamped.hpp
  beluga/test/beluga/include/beluga/test/motion_utils.hpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_differential_velocity_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_ros/include/beluga_ros/tf2_sophus.hpp
Due: beluga, beluga_amcl, beluga_ros

Add unit tests and docs for the new likelihoods view
  beluga/docs/_doxygen/beluga-main.md
  beluga/include/beluga/views.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/BUILD.bazel
  beluga/test/beluga/views/test_likelihoods.cpp
Due: beluga

Refactor old primary overload to delegate on new
  beluga/include/beluga/actions/reweight.hpp
Due: beluga

- Solved headers deprecacy issues - Subtle modifications on dockerfiles
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  docker/images/humble/Dockerfile
  docker/images/jazzy/Dockerfile
Due: beluga_amcl

- Fix some cleng-format issues
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
Due: beluga_amcl

implemented an hibrid model between probabilistic robotic and paper ackerman
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/ackerman_drive_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_ackerman_drive_model.cpp
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
Due: beluga, beluga_amcl, beluga_ros

implemented an hibrid model between probabilistic robotic and paper ackerman
  beluga/include/beluga/motion/ackerman_drive_model.hpp
Due: beluga

- Added patch on humble and kilted Dockerfiles to solve githubusercontent throttle issues - Added dependencies with tf2_ros on beluga_amcl
  beluga_amcl/CMakeLists.txt
  beluga_amcl/package.xml
  docker/images/humble/Dockerfile
  docker/images/kilted/Dockerfile
Due: beluga_amcl

- Solving some pre-commit issues (trim trailing whitespace) - Changing the public ssh key (I hope now my commits appear "verified")
  docker/images/humble/Dockerfile
  docker/images/kilted/Dockerfile
Due: none

- Added some sudo priviledges on the Dockerfiles of humble and kilted
  docker/images/humble/Dockerfile
  docker/images/kilted/Dockerfile
Due: none

Roll back on "sudo" permissions on Dockerfiles for Humble and Kilted distros.
  docker/images/humble/Dockerfile
  docker/images/kilted/Dockerfile
Due: none

Roll back of "githubusercontent throttle fiasco" patch
  docker/images/humble/Dockerfile
  docker/images/kilted/Dockerfile
Due: none

fixed pr comment
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/ackermann_drive_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_ackermann_drive_model.cpp
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
Due: beluga, beluga_amcl

fixed pr comment
  beluga/include/beluga/motion/ackermann_drive_model.hpp
Due: beluga

fix map rotation when converting grid map to ndt map
  beluga_tools/beluga_tools/conversion_utils.py
Due: none

enhance visualization
  beluga_tools/beluga_tools/conversion_utils.py
  beluga_tools/beluga_tools/occupancy_grid_to_ndt.py
Due: none

add tqdm for visualize the process bar
  beluga_tools/beluga_tools/conversion_utils.py
Due: none

for debugging
  beluga_tools/beluga_tools/occupancy_grid_to_ndt.py
Due: none

nit: deleting a comment for a patch that was already rolled back.
  docker/images/kilted/Dockerfile
Due: none

Deal with deprecated headers in Rolling (#531)
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  docker/images/humble/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/kilted/Dockerfile
Due: beluga_amcl

Changes on beluga_amcl README.md file - Updated "Performance" section - Added "Compatibility notes" section
  beluga_amcl/README.md
  docs/_images/beluga_vs_nav2.png
Due: beluga_amcl

Minor change on the text
  beluga_amcl/README.md
Due: beluga_amcl

Deleted reference to last benchmarking report
  beluga_amcl/README.md
Due: beluga_amcl

Beluga AMCL documentation update (#536)
  beluga_amcl/README.md
  docs/_images/beluga_vs_nav2.png
Due: beluga_amcl

Update CHANGELOGs
  beluga/CHANGELOG.rst
  beluga_amcl/CHANGELOG.rst
  beluga_benchmark/CHANGELOG.rst
  beluga_example/CHANGELOG.rst
  beluga_ros/CHANGELOG.rst
  beluga_system_tests/CHANGELOG.rst
  beluga_tools/CHANGELOG.rst
  beluga_tutorial/CHANGELOG.rst
  beluga_vdb/CHANGELOG.rst
Due: beluga, beluga_amcl, beluga_ros

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
