Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

Update .gitignore
  .gitignore
  beluga/docs/_doxygen/main.md
  beluga_amcl/docs/_doxygen/main.md
  beluga_ros/docs/_doxygen/main.md
Due: beluga, beluga_amcl

Add NDT AMCL node and tests.
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/test_data/turtlebot3_world.hdf5
  beluga_amcl/test/test_ndt_amcl_node.cpp
Due: beluga_amcl

Modify random state generation
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Disambiguate Doxygen main pages
  beluga/docs/Doxyfile
  beluga/docs/_doxygen/beluga-main.md
  beluga_amcl/docs/Doxyfile
  beluga_amcl/docs/_doxygen/beluga_amcl-main.md
  beluga_ros/docs/Doxyfile
  beluga_ros/docs/_doxygen/beluga_ros-main.md
Due: beluga, beluga_amcl

Fix build-and-test tooling
  tools/build-and-test.sh
Due: none

Fix Beluga builds on Noble
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/views/test_random_intersperse.cpp
  docker/images/rolling/Dockerfile
Due: none

Fix bad pragma
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
Due: none

Reuse some of the shared code between nodes
  beluga_amcl/include/beluga_amcl/common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
Due: beluga_amcl

Lint
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
Due: beluga_amcl

Address peer review comments
  README.md
  docs/concepts/key-concepts.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
Due: none

fixup! Lint
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
Due: beluga_amcl

Transition Beluga to Noble with Rolling (#349)
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/views/test_random_intersperse.cpp
  docker/images/rolling/Dockerfile
Due: none

Allow coverage to drop by 1%
  .codecov.yml
Due: none

Update docs dependencies
  .github/workflows/ci_pipeline.yml
  docs/README.md
Due: none

Fix CI workflow
  .github/workflows/ci_pipeline.yml
Due: none

Add patch status check
  .codecov.yml
Due: none

Update comment
  .codecov.yml
Due: none

Remove sort includes behavior for clang-tidy
  .clang-tidy
Due: none

Reduce test coverage target for beluga_ros
  .codecov.yml
Due: none

Fix CI
  beluga_amcl/test/test_utils/node_testing.hpp
Due: none

Clang tidy doesn't sort includes (#352)
  .clang-tidy
Due: none

Reuse representative cloud generation code
  beluga_amcl/include/beluga_amcl/common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Allow coverage to drop by 1% (#353)
  .codecov.yml
Due: none

Add missing docs dependencies
  .github/workflows/ci_pipeline.yml
  docs/README.md
Due: none

Address peer reviews
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

fixup! Address peer reviews
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Configure Sphinx for Github Pages publication
  docs/conf.py
Due: none

Restore Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Build docs is happy
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
Due: beluga_amcl

Configure Sphinx for Github Pages publication (#356)
  docs/conf.py
Due: none

Restore Contributor Covenant Code of Conduct (#357)
  CODE_OF_CONDUCT.md
Due: none

Add some docstrings
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
Due: beluga_amcl

Fix docstrings
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
Due: beluga_amcl

Now for real. Fix docs.
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
Due: beluga_amcl

Add NDT AMCL node and tests. (#347)
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_data/turtlebot3_world.hdf5
  beluga_amcl/test/test_ndt_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
Due: beluga_amcl

Add guide on extending Beluga
  docs/guides/extending-beluga.md
Due: none

Fix pseudocode rendering
  docs/concepts/key-concepts.md
  docs/conf.py
  docs/requirements.txt
Due: none

Revert "Fix pseudocode rendering"
  docs/concepts/key-concepts.md
  docs/conf.py
  docs/requirements.txt
Due: none

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
