Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status.
        target: 95%
        # If the patch coverage is 100% and there are no unexpected changes,
        # pass the project status.
        removed_code_behavior: fully_covered_patch

      - type: patch  # Measure lines adjusted in the pull request.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto
        # Allow the coverage to drop by this percentage.
        threshold: 1%
        # Only post patch status to pull requests.
        only_pulls: true

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

    - component_id: package_beluga_ros
      name: beluga_ros
      paths:
        - beluga_ros/**
      statuses:
        # Beluga ROS has its own statutes since it currently has lower coverage.
        # See `default_rules` for details.
        - type: project
          target: 90%
          removed_code_behavior: fully_coverred_patch

        - type: patch
          target: auto
          threshold: 1%
          only_pulls: true

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_ros/test"
  - "beluga_system_tests/test"
  - "beluga_tools/test"

Add PoseSensorModel for absolute pose measurements (prev PR 558) (#574)
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/pose_sensor_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/BUILD.bazel
  beluga/test/beluga/sensor/test_pose_sensor_model.cpp
Due: beluga

Backward compatibility for older sophus
  beluga/cmake/LoadSophusTarget.cmake
Due: beluga

fixup! Backward compatibility for older sophus
  beluga/CMakeLists.txt
  beluga/cmake/LoadSophusTarget.cmake
Due: beluga

Patch support for Eigen5
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/cmake/LoadSophusTarget.cmake
Due: beluga

Implement kd-tree for landmark_map search
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/include/beluga/sensor/data/landmark_map.hpp
  beluga/package.xml
Due: beluga

Implement copy constructors to make change non-breaking
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

Fix linting
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

Add nanoflann dependency to bazel config
  MODULE.bazel
  beluga/BUILD.bazel
Due: beluga

Support both Bazel and CMake builds for nanoflann include
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

Update readmes on nanoflann dependency
  beluga/README.md
  beluga/docs/index.md
Due: beluga

docs: revised SDD spec for BEL-5
  .sdd/specs/spec-BEL-5.md
Due: none

feat: add beluga-lambkin evaluation files and deployment container
  beluga_lambkin/Dockerfile
  beluga_lambkin/beluga_benchmark.py
  beluga_lambkin/beluga_ros2/CMakeLists.txt
  beluga_lambkin/beluga_ros2/launch/beluga.launch.py
  beluga_lambkin/beluga_ros2/package.xml
  beluga_lambkin/beluga_ros2/params/default.ros2.yaml
Due: none

style: apply pre-commit formatting to beluga_lambkin files
  beluga_lambkin/Dockerfile
  beluga_lambkin/beluga_ros2/CMakeLists.txt
  beluga_lambkin/beluga_ros2/launch/beluga.launch.py
Due: none

chore: cleanup SDD specification and layout mockups after successful QA
  .sdd/specs/spec-BEL-5.md
Due: none

Fix clang
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

Patch support for Eigen5 (#578)
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/cmake/LoadSophusTarget.cmake
Due: beluga

Pass query pointer to nanoflann
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

Modif: Address PR's comments
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
  beluga/test/beluga/sensor/test_likelihood_field_prob_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/params/default.ros2.yaml
Due: beluga, beluga_amcl

Add lyrical devel environment
  .clang-format
  .clang-tidy
  .github/workflows/colcon.yml
  .github/workflows/docker.yml
  .github/workflows/weekly.yml
  .gitignore
  .pre-commit-config.yaml
  DEVELOPING.md
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
  beluga/include/beluga/containers/circular_array.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/test/beluga/algorithm/raycasting/test_bresenham.cpp
  beluga/test/beluga/algorithm/test_cluster_based_estimation.cpp
  beluga/test/beluga/algorithm/test_unscented_transform.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/views/test_random_intersperse.cpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/test_sparse_point_cloud.cpp
  docker/files/lyrical.repos
  docker/images/lyrical/Dockerfile
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: beluga, beluga_amcl, beluga_ros

Add lyrical build environment (#565)
  .clang-format
  .clang-tidy
  .github/workflows/colcon.yml
  .github/workflows/docker.yml
  .github/workflows/weekly.yml
  .gitignore
  .pre-commit-config.yaml
  DEVELOPING.md
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
  beluga/include/beluga/containers/circular_array.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/test/beluga/algorithm/raycasting/test_bresenham.cpp
  beluga/test/beluga/algorithm/test_cluster_based_estimation.cpp
  beluga/test/beluga/algorithm/test_unscented_transform.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/views/test_random_intersperse.cpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/test_sparse_point_cloud.cpp
  docker/files/lyrical.repos
  docker/images/lyrical/Dockerfile
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: beluga, beluga_amcl, beluga_ros

feat: add exponential retry with jitter to lambkin pip install
  beluga_lambkin/Dockerfile
Due: none

Update package.xml
  beluga/package.xml
Due: beluga

alphabetize
  beluga/package.xml
Due: beluga

Fix package.xml (#584)
  beluga/package.xml
Due: beluga

Verify pixi installation and compilation
  .github/workflows/pixi.yml
Due: none

Enable ccache
  .github/workflows/pixi.yml
Due: none

Not humble
  .github/workflows/pixi.yml
Due: none

fixup! Verify pixi installation and compilation
  .github/workflows/pixi.yml
Due: none

fixup! fixup! Verify pixi installation and compilation
  .github/workflows/pixi.yml
Due: none

Limited scope
  .github/workflows/pixi.yml
Due: none

fixup! fixup! fixup! Verify pixi installation and compilation
  .github/workflows/pixi.yml
Due: none

Review comments: arm64, all distros
  .github/workflows/pixi.yml
Due: none

fixup! Review comments: arm64, all distros
  .github/workflows/pixi.yml
Due: none

Modif: Address PR's comments (beam skip distance constraint, zipped operator())
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
  beluga/test/beluga/sensor/test_likelihood_field_prob_model.cpp
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_example/params/default.ros2.yaml
Due: beluga, beluga_amcl

Update documentation
  beluga_amcl/docs/ros2-reference.md
  docs/index.md
Due: beluga_amcl

Remove the evo dependency
  docker/images/humble/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/kilted/Dockerfile
  docker/images/lyrical/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

docs: revise SDD spec for BEL-5 with new constraints
  .sdd/specs/spec-BEL-5.md
Due: none
