Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status.
        target: 95%
        # If the patch coverage is 100% and there are no unexpected changes,
        # pass the project status.
        removed_code_behavior: fully_covered_patch

      - type: patch  # Measure lines adjusted in the pull request.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto
        # Allow the coverage to drop by this percentage.
        threshold: 1%
        # Only post patch status to pull requests.
        only_pulls: true

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

    - component_id: package_beluga_ros
      name: beluga_ros
      paths:
        - beluga_ros/**
      statuses:
        # Beluga ROS has its own statutes since it currently has lower coverage.
        # See `default_rules` for details.
        - type: project
          target: 90%
          removed_code_behavior: fully_coverred_patch

        - type: patch
          target: auto
          threshold: 1%
          only_pulls: true

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_ros/test"
  - "beluga_system_tests/test"
  - "beluga_tools/test"

Fix to likelihood map pre-calculation performance for large maps (#471)
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga/test/beluga/sensor/test_lfm_with_unknown_space.cpp
Due: beluga

Add ros parameter for bond timeout
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
Due: beluga_amcl

Update beluga_amcl/src/ros2_common.cpp
  beluga_amcl/src/ros2_common.cpp
Due: beluga_amcl

Add ros parameter for bond timeout (#473)
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
Due: beluga_amcl

Add a note in DEVELOPING.md
  DEVELOPING.md
  docker/images/humble/Dockerfile
Due: none

Replace fold_left by accumulate
  beluga_vdb/include/beluga_vdb/sensor/likelihood_field_model3.hpp
Due: none

Add Likelihood prob sensor model
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model_common.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_likelihood_field_model_common.cpp
  beluga/test/beluga/sensor/test_likelihood_field_prob_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga, beluga_amcl, beluga_ros

Improve documentation
  DEVELOPING.md
  beluga_vdb/README.md
Due: none

Separate openvdb installation to a new builder
  docker/images/humble/Dockerfile
Due: none

add dixygen comment
  beluga/include/beluga/sensor/likelihood_field_model_common.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

Fix dockerfile
  docker/images/humble/Dockerfile
Due: none

Improve documentation
  DEVELOPING.md
  beluga_vdb/README.md
  beluga_vdb/images/example_level_set_map.png
Due: none

Improve documentation
  beluga_vdb/README.md
Due: none

Add include
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model_common.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

Ensure and document OpenVDB support (#475)
  DEVELOPING.md
  README.md
  beluga_vdb/README.md
  beluga_vdb/images/example_level_set_map.png
  beluga_vdb/include/beluga_vdb/sensor/likelihood_field_model3.hpp
  docker/images/humble/Dockerfile
Due: none

Complete weekly CI pipeline
  .github/workflows/weekly_pipeline.yml
Due: none

Fix typo in weekly workflow
  .github/workflows/weekly_pipeline.yml
Due: none

Fix codecov-action configuration
  .github/workflows/ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
Due: none

Add missing gcovr dependency
  .github/workflows/weekly_pipeline.yml
Due: none

Complete weekly CI pipeline (#479)
  .github/workflows/ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
Due: none

Add 2D state type to likelihood field sensor model
  beluga_vdb/include/beluga_vdb/sensor/vdb_likelihood_field_model.hpp
  beluga_vdb/test/beluga_vdb/CMakeLists.txt
  beluga_vdb/test/beluga_vdb/sensor/test_vdb_likelihood_field_model.cpp
Due: none

fixed PR
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_likelihood_field_model_base.cpp
Due: beluga

fixed PR
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

fixed PR
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
Due: beluga

Fix eigen sophus multiplication
  beluga_vdb/include/beluga_vdb/sensor/vdb_likelihood_field_model.hpp
  beluga_vdb/test/beluga_vdb/sensor/test_vdb_likelihood_field_model.cpp
Due: none

Uncomment tests
  beluga_vdb/test/beluga_vdb/sensor/test_vdb_likelihood_field_model.cpp
Due: none

Add To3d(SE3d)
  beluga/include/beluga/3d_embedding.hpp
  beluga_vdb/include/beluga_vdb/sensor/vdb_likelihood_field_model.hpp
Due: beluga

Add 2D state type to likelihood field sensor model for beluga_vdb (#480)
  beluga/include/beluga/3d_embedding.hpp
  beluga_vdb/include/beluga_vdb/sensor/vdb_likelihood_field_model.hpp
  beluga_vdb/test/beluga_vdb/CMakeLists.txt
  beluga_vdb/test/beluga_vdb/sensor/test_vdb_likelihood_field_model.cpp
Due: beluga

Add Likelihood prob sensor model
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_likelihood_field_model_base.cpp
  beluga/test/beluga/sensor/test_likelihood_field_prob_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga, beluga_amcl, beluga_ros

Add likelihood prob sensor model and enable Beluga's flavour of clustering (#476)
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_likelihood_field_model_base.cpp
  beluga/test/beluga/sensor/test_likelihood_field_prob_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga, beluga_amcl, beluga_ros

First start low-variance sampling
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/low_variance_sample.hpp
Due: beluga

[Refactor] Addressing Comments. Making low_variance_sample similar to sample
  beluga/include/beluga/views/low_variance_sample.hpp
Due: beluga

[Refactor] Adding algorithm description
  beluga/include/beluga/views/low_variance_sample.hpp
Due: beluga

[Refactor] Adding algorithm description
  beluga/include/beluga/views/low_variance_sample.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/test_low_variance_sample.cpp
Due: beluga

dockerfile and kilted.repos added for ROS kilted version support.
  docker/files/kilted.repos
  docker/images/kilted/Dockerfile
Due: none

beluga_amcl package with modified ament.cmake to replace deprecated ament_target_dependencies by new target_link_libraries
  beluga_amcl/cmake/ament.cmake
  docker/files/kilted.repos
Due: beluga_amcl
