Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

Create beluga_tutorial package (#305)
  beluga_tutorial/CMakeLists.txt
  beluga_tutorial/cmake/ament.cmake
  beluga_tutorial/package.xml
  beluga_tutorial/src/main.cpp
Due: none

Dirty progress.
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: beluga

Fix assertion, add a new test case
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: none

fixup! Fix assertion, add a new test case
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
Due: beluga

Create first tutorial iteration
  beluga_tutorial/cmake/ament.cmake
  beluga_tutorial/src/main.cpp
Due: none

Update the sensor model
  beluga_tutorial/src/main.cpp
Due: none

Add ndt cell and tests
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/test/beluga/sensor/data/test_ndt_cell.cpp
Due: beluga

Add ndt sensor model and tests
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga/test/beluga/test_data/turtlebot3_world.hdf5
Due: beluga

Save the map in a csv file
  beluga_tutorial/src/main.cpp
Due: none

Modify variables names
  beluga_tutorial/src/main.cpp
Due: none

Adapt eigen code to work in noetic builds
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/data/test_ndt_cell.cpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: beluga

Add missing test coverage
  beluga/test/beluga/sensor/data/test_ndt_cell.cpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: none

Make clang tidy happy #1
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/data/test_ndt_cell.cpp
Due: beluga

Sort imports
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
Due: beluga

Lint all things
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/data/test_ndt_cell.cpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: beluga

Address PR comments, add coverage
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/data/test_ndt_cell.cpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: beluga

Add NDT sensor model (#338)
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/data/test_ndt_cell.cpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga/test/beluga/test_data/turtlebot3_world.hdf5
Due: beluga

Add copyright header
  beluga_tutorial/src/main.cpp
Due: none

Remplace a #define by a static constexpr int
  beluga_tutorial/src/main.cpp
Due: none

Remove sensor model variant from amcl pipeline.
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
Due: beluga_amcl

Convert landmark_map structure
  beluga_tutorial/src/main.cpp
Due: none

Improve the sensor model
  beluga_tutorial/src/main.cpp
Due: none

Modify the motion model
  beluga_tutorial/src/main.cpp
Due: none

Calculate particles mean and standard deviation
  beluga_tutorial/src/main.cpp
Due: none

Use Hungarian notation for constant
  beluga_tutorial/src/main.cpp
Due: none

Format the code using .clang-format file
  beluga_tutorial/src/main.cpp
Due: none

Create ndt_amcl_node from amcl_node
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Replace AmclNode to NdtAmclNode
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Add TODO's comments
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Decouple simulation cycles from the robot pose
  beluga_tutorial/src/main.cpp
Due: none

Corrected typographical errors
  beluga_tutorial/src/main.cpp
Due: none

Add AMCL core and tests
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_amcl_core.cpp
Due: beluga

Comment relevant fields
  beluga/include/beluga/algorithm/amcl_core.hpp
Due: beluga

Comment all related to Amcl class
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Add ndt_amcl_node.cpp to ament.cmake
  beluga_amcl/cmake/ament.cmake
Due: beluga_amcl

Replace sensor models params to ndt params
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Fix a bug in ament.cmake file
  beluga_tutorial/cmake/ament.cmake
Due: none

Create a 1D template specialization for estimation
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Update beluga_tutorial/main.cpp
  beluga_tutorial/src/main.cpp
Due: none

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
