Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

Pivot: remove low level data() usages
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/value_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
Due: beluga

Rename PlainGridStorage to LinearGridStorage
  beluga/include/beluga/sensor/data/linear_grid_storage.hpp
  beluga/include/beluga/sensor/data/occupancy_grid_storage.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: beluga

Improvement: Avoid creating full SE2 if we only need the translation
  beluga/include/beluga/algorithm/raycasting.hpp
Due: beluga

Pivot: Remove LinearGrid, indexes are the sole concern of storage
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/value_grid.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_linear_grid.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
Due: beluga, beluga_amcl

Pivot: StaticOcuppancyGrid to using the heap to allow larger maps
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: none

Improvement: reserve vector size to avoid reallocations
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
Due: beluga

Address review comments
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_2.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_3.hpp
  beluga/include/beluga/sensor/data/cache_friendly_grid_storage_4.hpp
  beluga/include/beluga/sensor/data/linear_grid_storage.hpp
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga/test/beluga/sensor/data/test_cache_friendly_grid_storage.cpp
Due: beluga

Make particle cloud message weights represent pdf
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_example/rviz/rviz.ros2.rviz
Due: beluga_amcl

Make particle cloud message weights represent pdf (#260)
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_example/rviz/rviz.ros2.rviz
Due: beluga_amcl

Add option to compare_results.py to save data to csv instead of plotting
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Use double buffering in particle storage
  beluga/include/beluga/storage.hpp
Due: beluga

Fix differential drive motion model
  beluga/include/beluga/motion/differential_drive_model.hpp
Due: beluga

Add regression test
  beluga/include/beluga/storage.hpp
  beluga/test/beluga/test_storage.cpp
Due: beluga

Remove debugging line
  beluga_benchmark/beluga_benchmark/compare_results.py
Due: none

Remove extra linebreak
  beluga_benchmark/beluga_benchmark/compare_results.py
Due: none

Add option to compare_results.py to save data to csv instead of plotting (#261)
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Use double buffering in particle storage (#266)
  beluga/include/beluga/storage.hpp
  beluga/test/beluga/test_storage.cpp
Due: beluga

Add unit test
  beluga/test/beluga/motion/test_differential_drive_model.cpp
Due: none

Optimize diff-drive computation time
  beluga/include/beluga/motion/differential_drive_model.hpp
Due: beluga

Please clang-tidy
  beluga/include/beluga/motion/differential_drive_model.hpp
Due: beluga

Fix differential drive motion model (#267)
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
Due: beluga

Add `beluga_ros` package
  .codecov.yml
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/beluga_amcl-extras.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_ros/CMakeLists.txt
  beluga_ros/cmake/ament.cmake
  beluga_ros/cmake/catkin.cmake
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/occupancy_grid.hpp
  beluga_ros/include/beluga_ros/tf2_sophus.hpp
  beluga_ros/package.xml
  beluga_ros/test/CMakeLists.txt
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_messages.cpp
  beluga_ros/test/test_occupancy_grid.cpp
  beluga_ros/test/test_tf2_sophus.cpp
  beluga_system_tests/test/test_system.cpp
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: beluga_amcl

Do not redefine BELUGA_ROS_VERSION
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/beluga_amcl-extras.cmake
  beluga_amcl/cmake/catkin.cmake
Due: beluga_amcl

Export definitions from catkin
  beluga_amcl/cmake/catkin.cmake
  beluga_ros/cmake/beluga_ros-extras.cmake.in
  beluga_ros/cmake/catkin.cmake
Due: beluga_amcl

Add `beluga_ros` package (#270)
  .codecov.yml
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_ros/CMakeLists.txt
  beluga_ros/cmake/ament.cmake
  beluga_ros/cmake/beluga_ros-extras.cmake.in
  beluga_ros/cmake/catkin.cmake
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/occupancy_grid.hpp
  beluga_ros/include/beluga_ros/tf2_sophus.hpp
  beluga_ros/package.xml
  beluga_ros/test/CMakeLists.txt
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_messages.cpp
  beluga_ros/test/test_occupancy_grid.cpp
  beluga_ros/test/test_tf2_sophus.cpp
  beluga_system_tests/test/test_system.cpp
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: beluga_amcl

Generalize laser scan support
  beluga/include/beluga/sensor/data/laser_scan.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/elements.hpp
  beluga/include/beluga/views/take_evenly.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/data/test_laser_scan.cpp
  beluga/test/beluga/views/test_take_evenly.cpp
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_ros/include/beluga_ros/laser_scan.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_laser_scan.cpp
Due: beluga, beluga_amcl

Fix system tests
  beluga_ros/test/test_laser_scan.cpp
  beluga_system_tests/package.xml
  beluga_system_tests/test/CMakeLists.txt
  beluga_system_tests/test/test_system.cpp
Due: none

Add documentation
  beluga/include/beluga/sensor/data/laser_scan.hpp
Due: beluga

Use constants for tests
  beluga_ros/test/test_laser_scan.cpp
Due: none

Add missing includes
  beluga/test/beluga/sensor/data/test_laser_scan.cpp
  beluga_ros/test/test_laser_scan.cpp
Due: none

Range intervals are closed
  beluga/include/beluga/sensor/data/laser_scan.hpp
Due: beluga

Add new discrete sensor models to beluga
  beluga/include/beluga/interfaces/bearing_sensor_model_interface.hpp
  beluga/include/beluga/interfaces/landmark_sensor_model_interface.hpp
  beluga/include/beluga/interfaces/laser_sensor_model_interface_2d.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/data/landmark_map.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/include/beluga/types/landmark_detection_types.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/data/test_landmark_map.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Add new discrete landmark and bearing sensor models to the beluga library (#268)
  beluga/include/beluga/interfaces/bearing_sensor_model_interface.hpp
  beluga/include/beluga/interfaces/landmark_sensor_model_interface.hpp
  beluga/include/beluga/interfaces/laser_sensor_model_interface_2d.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/data/landmark_map.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/include/beluga/types/landmark_detection_types.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/data/test_landmark_map.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Improve take_evenly documentation and implementation
  beluga/include/beluga/views/take_evenly.hpp
  beluga/test/beluga/views/test_take_evenly.cpp
Due: beluga

Specify measurement units in documentation
  beluga/include/beluga/sensor/data/laser_scan.hpp
Due: beluga

Fix comment
  beluga/include/beluga/views/take_evenly.hpp
Due: beluga

More fixing
  beluga/include/beluga/sensor/data/laser_scan.hpp
  beluga/include/beluga/views/take_evenly.hpp
Due: beluga

Format to make clang-tidy happy
  beluga/include/beluga/views/take_evenly.hpp
Due: beluga

Alternative take_evenly
  beluga/include/beluga/views/take_evenly.hpp
  beluga/test/beluga/views/test_take_evenly.cpp
Due: beluga

Fix test name
  beluga/test/beluga/views/test_take_evenly.cpp
Due: none

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_system_tests/test
