Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status.
        target: 95%
        # If the patch coverage is 100% and there are no unexpected changes,
        # pass the project status.
        removed_code_behavior: fully_covered_patch

      - type: patch  # Measure lines adjusted in the pull request.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto
        # Allow the coverage to drop by this percentage.
        threshold: 1%
        # Only post patch status to pull requests.
        only_pulls: true

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

    - component_id: package_beluga_ros
      name: beluga_ros
      paths:
        - beluga_ros/**
      statuses:
        # Beluga ROS has its own statutes since it currently has lower coverage.
        # See `default_rules` for details.
        - type: project
          target: 90%
          removed_code_behavior: fully_coverred_patch

        - type: patch
          target: auto
          threshold: 1%
          only_pulls: true

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_ros/test"
  - "beluga_system_tests/test"
  - "beluga_tools/test"

Eigen and ranges-v3 doing fancy (or unorthodox) stuff
  BUILD.bazel
  beluga/CMakeLists.txt
Due: beluga

Do not promote warnings for maximum compatibility
  beluga/CMakeLists.txt
Due: beluga

set Eigen include directories to SYSTEM for older Eigen version doing fancy (or unorthodox) stuff
  beluga/CMakeLists.txt
Due: beluga

Change default of the strict boundaries setting to true
  beluga_amcl/src/amcl_node.cpp
Due: beluga_amcl

Add paranoid mode
  .github/workflows/weekly.yml
  beluga/CMakeLists.txt
  beluga_amcl/CMakeLists.txt
  beluga_ros/CMakeLists.txt
  beluga_system_tests/CMakeLists.txt
  beluga_tutorial/CMakeLists.txt
  beluga_vdb/CMakeLists.txt
  docker/docker-compose.yml
Due: beluga, beluga_amcl, beluga_ros

Document the new setting
  DEVELOPING.md
Due: none

Fix beluga_amcl build
  beluga_amcl/CMakeLists.txt
Due: beluga_amcl

Adding parameters "model_unknown_space" and "likelihood_from_strict_obstacle_edges" specification to the documentation.
  beluga_amcl/docs/ros2-reference.md
Due: beluga_amcl

Changing parameter name from "likelihood_from_strict_obstacle_edges" to "only_obstacle_boundaries" + updating description in the documentation.
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/test/beluga/sensor/test_likelihood_field_model_base.cpp
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
Due: beluga, beluga_amcl

Update CHANGELOGs
  beluga/CHANGELOG.rst
  beluga_amcl/CHANGELOG.rst
  beluga_benchmark/CHANGELOG.rst
  beluga_example/CHANGELOG.rst
  beluga_ros/CHANGELOG.rst
  beluga_system_tests/CHANGELOG.rst
  beluga_tools/CHANGELOG.rst
  beluga_tutorial/CHANGELOG.rst
  beluga_vdb/CHANGELOG.rst
Due: beluga, beluga_amcl, beluga_ros

2.1.1
  beluga/CHANGELOG.rst
  beluga/package.xml
  beluga_amcl/CHANGELOG.rst
  beluga_amcl/package.xml
  beluga_benchmark/CHANGELOG.rst
  beluga_benchmark/package.xml
  beluga_example/CHANGELOG.rst
  beluga_example/package.xml
  beluga_ros/CHANGELOG.rst
  beluga_ros/package.xml
  beluga_system_tests/CHANGELOG.rst
  beluga_system_tests/package.xml
  beluga_tools/CHANGELOG.rst
  beluga_tools/package.xml
  beluga_tools/setup.py
  beluga_tutorial/CHANGELOG.rst
  beluga_tutorial/package.xml
  beluga_vdb/CHANGELOG.rst
  beluga_vdb/package.xml
Due: beluga, beluga_amcl, beluga_ros

Add constraint for just one element array
  beluga/include/beluga/views/low_variance_sample.hpp
Due: beluga

In reference to https://github.com/Ekumen-OS/beluga/discussions/562 "localization_quality" publisher added. Parameter descriptors for expected stddev in x, y, and yaw have been added.
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
Due: beluga_amcl

In reference to https://github.com/Ekumen-OS/beluga/discussions/562 Parameters for expected standard deviation x, y and yaw were added. Added compute_quality function.
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_ros

Fix for format error
  beluga_ros/src/amcl.cpp
Due: beluga_ros

Fix format error
  beluga_ros/src/amcl.cpp
Due: beluga_ros

Use beluga::MultivariateNormalDistribution to generate reference states. Generate reference states on Amcl class construction. Fix parameter value range.
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

Provides localization quality metric in separate publishers for x, y, yaw.
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

Remove motion_model of compute_quality(). Documentation for input parameters now states "typical stddev" for x, y and yaw.
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

Lyrical
  beluga/include/beluga/policies/on_motion.hpp
Due: beluga

Add no-cache option
  docker/run.sh
Due: none

Move beluga_tools into storage
  attic/beluga_tools/CHANGELOG.rst
  attic/beluga_tools/beluga_tools/__init__.py
  attic/beluga_tools/beluga_tools/conversion_utils.py
  attic/beluga_tools/beluga_tools/occupancy_grid_to_ndt.py
  attic/beluga_tools/beluga_tools/ply_to_ndt.py
  attic/beluga_tools/package.xml
  attic/beluga_tools/resource/beluga_tools
  attic/beluga_tools/setup.cfg
  attic/beluga_tools/setup.py
Due: none

Prevent the things in attic from building
  attic/COLCON_IGNORE
Due: none

Remove beluga_tools from the build process
  .codecov.yml
  tools/build-and-test.sh
Due: none

Remove plyfile hand installls from build
  .github/workflows/colcon.yml
  .github/workflows/weekly.yml
  docker/images/humble/Dockerfile
  docker/images/kilted/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Move beluga_tools into storage (#568)
  .codecov.yml
  .github/workflows/colcon.yml
  .github/workflows/weekly.yml
  attic/COLCON_IGNORE
  attic/beluga_tools/CHANGELOG.rst
  attic/beluga_tools/beluga_tools/__init__.py
  attic/beluga_tools/beluga_tools/conversion_utils.py
  attic/beluga_tools/beluga_tools/occupancy_grid_to_ndt.py
  attic/beluga_tools/beluga_tools/ply_to_ndt.py
  attic/beluga_tools/package.xml
  attic/beluga_tools/resource/beluga_tools
  attic/beluga_tools/setup.cfg
  attic/beluga_tools/setup.py
  docker/images/humble/Dockerfile
  docker/images/kilted/Dockerfile
  docker/images/rolling/Dockerfile
  docker/run.sh
  tools/build-and-test.sh
Due: none

Add MMD based quality to Beluga AMCL
  .gitignore
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/mmd_quality.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/BUILD.bazel
  beluga/test/beluga/algorithm/test_mmd_quality.cpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga, beluga_amcl, beluga_ros

Add lyrical devel environment
  .github/workflows/colcon.yml
  .github/workflows/docker.yml
  .github/workflows/weekly.yml
  .pre-commit-config.yaml
  DEVELOPING.md
  beluga/test/beluga/algorithm/raycasting/test_bresenham.cpp
  beluga/test/beluga/views/test_random_intersperse.cpp
  docker/files/lyrical.repos
  docker/files/patches/lyrical/navigation2.patch
  docker/files/patches/lyrical/navigation2.sh
  docker/images/lyrical/Dockerfile
Due: none

Protect pragmas to restor windows build
  beluga/test/beluga/algorithm/raycasting/test_bresenham.cpp
  beluga/test/beluga/views/test_random_intersperse.cpp
Due: none

Add auto-patching of dependencies to ci jobs
  .github/workflows/colcon.yml
  .github/workflows/weekly.yml
Due: none

Add exception for build error in ranges
  beluga_ros/test/test_sparse_point_cloud.cpp
Due: none

Avoid the pragma in clang
  beluga_ros/test/test_sparse_point_cloud.cpp
Due: none

Fix that sh does not understand pushd
  .github/workflows/colcon.yml
  .github/workflows/weekly.yml
Due: none

Add minor dep fix
  beluga_amcl/package.xml
  docker/images/jazzy/Dockerfile
  docker/images/kilted/Dockerfile
  docker/images/rolling/Dockerfile
Due: beluga_amcl

Add missing noexcept
  beluga/include/beluga/policies/on_motion.hpp
Due: beluga

Added: beam-skipping to likelihood-field-prob
  beluga/include/beluga/sensor/likelihood_field_prob_model.hpp
  beluga/include/beluga/sensor/primitives.hpp
  beluga/test/beluga/sensor/test_likelihood_field_prob_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_example/params/default.ros2.yaml
  beluga_ros/src/amcl.cpp
Due: beluga, beluga_amcl, beluga_ros

Add PoseSensorModel for absolute pose measurements
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/pose_sensor_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/BUILD.bazel
  beluga/test/beluga/sensor/test_pose_sensor_model.cpp
Due: beluga
