Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Fix CI
  beluga/include/beluga/algorithm/unscented_transform.hpp
  beluga/test/beluga/algorithm/test_unscented_transform.cpp
Due: beluga

Add NDT AMCL 3D node. (#422)
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/include/beluga/algorithm/unscented_transform.hpp
  beluga/include/beluga/policies/on_motion.hpp
  beluga/test/beluga/algorithm/test_unscented_transform.cpp
  beluga/test/beluga/policies/test_on_motion.cpp
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/test_data/sample_3d_ndt_map.hdf5
  beluga_amcl/test/test_ndt_amcl_3d_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_example/launch/ndt_replay_3d.launch.xml
  beluga_example/launch/utils/ndt_3d_localization_launch.py
  beluga_example/launch/utils/rosbag_launch.py
  beluga_example/maps/sample_3d_ndt_map.hdf5
  beluga_example/params/default_ndt_3d.ros2.yaml
  beluga_example/rviz/ndt_amcl_3d.ros2.rviz
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/tf2_sophus.hpp
  beluga_ros/test/test_tf2_sophus.cpp
Due: beluga, beluga_amcl, beluga_ros

Add (segfaulting) scan aggregator script
  beluga_tools/beluga_tools/scan_aggregator.py
  beluga_tools/package.xml
  beluga_tools/setup.py
Due: none

Add MCL core class.
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/mcl_core.hpp
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga/include/beluga/policies/on_motion.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_mcl_core.cpp
Due: beluga

Progress
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_mcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_mcl_node_3d.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_mcl_node.cpp
  beluga_amcl/src/ndt_mcl_node_3d.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/test_ndt_mcl_3d_node.cpp
  beluga_amcl/test/test_ndt_mcl_node.cpp
  beluga_amcl/test/test_ros2_common.cpp
  beluga_example/launch/ndt_replay_3d.launch.xml
  beluga_example/launch/ndt_simulation.launch.xml
  beluga_example/launch/utils/ndt_3d_localization_launch.py
  beluga_example/launch/utils/ndt_localization_launch.py
  beluga_example/params/default_ndt.ros2.yaml
  beluga_example/params/default_ndt_3d.ros2.yaml
Due: beluga_amcl

Add pointcloud API contract and ROS interface
  beluga/include/beluga/sensor/data/point_cloud.hpp
  beluga_ros/include/beluga_ros/beluga_ros.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_point_cloud.cpp
Due: beluga, beluga_ros

Change PointCloud description for better clarification
  beluga/include/beluga/sensor/data/point_cloud.hpp
Due: beluga

Changed copyright year
  beluga/include/beluga/sensor/data/point_cloud.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga, beluga_ros

Add newlines
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
Due: none

Expand testcase scenarios
  beluga_ros/test/test_point_cloud.cpp
Due: none

Add pointcloud message
  beluga_ros/test/test_messages.cpp
Due: none

Clarify documentation
  beluga/include/beluga/sensor/data/point_cloud.hpp
Due: beluga

Change to return Eigen::Map
  beluga_ros/include/beluga_ros/beluga_ros.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
Due: beluga_ros

Add make pointcloud message function
  beluga_ros/test/test_point_cloud.cpp
Due: none

Add non-aligned memory pointcloud wrapper
  beluga_ros/include/beluga_ros/point_cloud_sparse.hpp
Due: beluga_ros

Add non-aligned memory pointcloud wrapper
  beluga_ros/include/beluga_ros/beluga_ros.hpp
Due: beluga_ros

Add more restrictions to check
  beluga_ros/include/beluga_ros/point_cloud.hpp
Due: beluga_ros

Change to pointfieldtypeastype templatization
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/point_cloud_sparse.hpp
Due: beluga_ros

Fix ROS1
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_ros

Add eigen lib to test
  beluga_ros/test/test_point_cloud.cpp
Due: none

Fix ROS1 eigen compatibility
  beluga/include/beluga/eigen_compatibility.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/point_cloud_sparse.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga, beluga_ros

Fix clang tidy
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_ros

Rename sparse pointcloud
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
Due: beluga_ros

Change using Pointfield
  beluga_ros/include/beluga_ros/messages.hpp
Due: beluga_ros

Change details
  beluga_ros/include/beluga_ros/beluga_ros.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
Due: beluga_ros

Change to true types
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_ros

Reduce storage needs of likelihood map
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
Due: beluga

Address review comments
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: beluga

Fix memory usage problem in 2D likelihood sensor model (#433)
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
Due: beluga

Add sparse pointcloud API contract
  beluga/include/beluga/sensor/data/sparse_point_cloud.hpp
Due: beluga

Improve documentation
  beluga_ros/include/beluga_ros/point_cloud.hpp
Due: beluga_ros

Change name
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
Due: beluga_ros

Fix clang
  beluga_ros/test/test_point_cloud.cpp
Due: none

Fix is_dense bool noetic
  beluga_ros/test/test_point_cloud.cpp
Due: none

Fix clang jazzy
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_ros

Add openvdb dependencies
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/package.xml
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: beluga

Use per ROS distro dev containers
  docker/docker-compose.yml
  docker/run.sh
Due: none

Fix Beluga documentation style
  .github/workflows/ci_pipeline.yml
Due: none

Use per ROS distro dev containers (#438)
  docker/docker-compose.yml
  docker/run.sh
Due: none

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
