Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Fix Beluga documentation style (#436)
  .github/workflows/ci_pipeline.yml
Due: none

Fix Rolling builds
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

Add likelihood 3D field model
  beluga/include/beluga/sensor/likelihood_3d_field_model.hpp
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: beluga

Fix Rolling builds (#439)
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
Due: beluga_amcl

Use gcovr to enforce code coverage everywhere
  .github/workflows/ci_pipeline.yml
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
  tools/build-and-test.sh
  tools/check-code-coverage.sh
Due: none

Prevent inlining from skewing coverage
  beluga/CMakeLists.txt
  beluga_amcl/CMakeLists.txt
  beluga_ros/CMakeLists.txt
  tools/build-and-test.sh
Due: beluga, beluga_amcl, beluga_ros

Achieve 95% coverage on all distributions
  beluga_amcl/test/test_amcl_nodelet.cpp
  beluga_ros/test/test_amcl.cpp
Due: none

Restrict no inlining flags for compatibility
  beluga/CMakeLists.txt
  beluga_amcl/CMakeLists.txt
  beluga_ros/CMakeLists.txt
Due: beluga, beluga_amcl, beluga_ros

Use `gcovr` to enforce code coverage everywhere (#437)
  .github/workflows/ci_pipeline.yml
  beluga/CMakeLists.txt
  beluga_amcl/CMakeLists.txt
  beluga_amcl/test/test_amcl_nodelet.cpp
  beluga_ros/CMakeLists.txt
  beluga_ros/test/test_amcl.cpp
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
  tools/build-and-test.sh
  tools/check-code-coverage.sh
Due: beluga, beluga_amcl, beluga_ros

Add pointcloud API contract and ROS interface (#431)
  beluga/include/beluga/eigen_compatibility.hpp
  beluga/include/beluga/sensor/data/point_cloud.hpp
  beluga/include/beluga/sensor/data/sparse_point_cloud.hpp
  beluga_ros/include/beluga_ros/beluga_ros.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_messages.cpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga, beluga_ros

Address comments in likelihood_field_model
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: beluga

Add a new feature: model unkwnon spaces in likelihood model
  beluga/include/beluga/actions/overlay.hpp
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_overlay.cpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/test_lfm_with_unknown_space.cpp
Due: beluga

Fix max_value
  beluga/include/beluga/actions/overlay.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: beluga

Fix Mask class
  beluga/include/beluga/actions/overlay.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: beluga

Addressing comments
  beluga/include/beluga/actions/overlay.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
Due: beluga

Fix lint
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: none

Fix forwarding and add a test for overlay action
  beluga/include/beluga/actions/overlay.hpp
  beluga/test/beluga/actions/test_overlay.cpp
Due: beluga

Extending likelihood field to model unexplored spaces (#430)
  beluga/include/beluga/actions/overlay.hpp
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_overlay.cpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/test_lfm_with_unknown_space.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: beluga

Rewrite normalize action
  beluga/include/beluga/actions/normalize.hpp
  beluga/test/beluga/actions/test_normalize.cpp
  beluga_tutorial/src/main.cpp
Due: beluga

Rewrite take_evenly view
  beluga/include/beluga/views/take_evenly.hpp
  beluga/test/beluga/views/test_take_evenly.cpp
Due: beluga

Add const to test code
  beluga/test/beluga/views/test_take_evenly.cpp
Due: none

Do not change the API
  beluga/include/beluga/actions/normalize.hpp
  beluga/test/beluga/actions/test_normalize.cpp
  beluga_tutorial/src/main.cpp
Due: beluga

Rewrite take_evenly view (#442)
  beluga/include/beluga/views/take_evenly.hpp
  beluga/test/beluga/views/test_take_evenly.cpp
Due: beluga

Rewrite normalize action (#441)
  beluga/include/beluga/actions/normalize.hpp
  beluga/test/beluga/actions/test_normalize.cpp
Due: beluga

Add Beluga AMCL usage guide
  docs/guides/using-beluga-amcl.md
Due: none

Convert `beluga_ros` into a compiled library
  beluga_ros/cmake/ament.cmake
  beluga_ros/cmake/catkin.cmake
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_ros

Add Beluga AMCL usage guide (#443)
  docs/guides/using-beluga-amcl.md
Due: none

Convert `beluga_ros` from header-only to a compiled library (#444)
  beluga_ros/cmake/ament.cmake
  beluga_ros/cmake/catkin.cmake
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_ros

Refactor estimation library
  .clang-tidy
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_cluster_based_estimation.cpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: beluga

Rename template argument
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Use `auto` more consistently
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Rename local variables
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Split covariance implementation in multiple overloads
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Rewrite overlay function
  beluga/include/beluga/actions/overlay.hpp
Due: beluga

Add comment about the non-zero weights correction
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Remove unused header
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Add note about lazy evaluation of weights
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Use same estimator for scalars
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: beluga

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
