Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

- Fixed declaration redefinition in AmclNode::sensor_callback (amcl_node.cpp)
  beluga_amcl/src/amcl_node.cpp
Due: beluga_amcl

- Fix on "update" method for PointClouds (Transformation to Base of points)
  beluga_ros/src/amcl.cpp
Due: beluga_ros

- Solved a minor rebasing issue - Added subscription logic for scan_topic and point_cloud_topic
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
Due: beluga_amcl, beluga_ros

- Fix some clang-tidy error diagnostics
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
Due: beluga_amcl

- Minor fix after pre-commit issue
  beluga_amcl/test/test_utils/node_testing.hpp
Due: none

- Fix on Clang-tidy issue (using else after throw) - Added tests for point cloud handling (sensor_callback on amcl_node.cpp and update on amcl.cpp)
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/src/amcl.cpp
  beluga_ros/test/test_amcl.cpp
Due: beluga_amcl, beluga_ros

- Solved a lint issue
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

- Class SparsePointCloud3 back compatible for strict type check + type cast implemented at points() method level. - Deduplicated lines in AmclNode::do_cleanup - Ran pre-commit
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/laser_scan.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

Polishes AMCL point cloud support
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/laser_scan.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/src/amcl.cpp
  beluga_ros/test/test_amcl.cpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_amcl, beluga_ros

Added support for point clouds in beluga_amcl - First iteration (compiled, not tested)
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

- Another clang-tidy fix
  beluga_ros/test/test_amcl.cpp
Due: none

- Template introduced for sensor_callback to avoid repeating code (laser_callback, point_cloud_callback, etc.)
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
Due: beluga_amcl, beluga_ros

Complete Beluga's point cloud support
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/include/beluga_ros/test/point_cloud_utils.hpp
  beluga_ros/test/test_point_cloud.cpp
  beluga_ros/test/test_sparse_point_cloud.cpp
Due: beluga_amcl, beluga_ros

Please linters
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/test/include/beluga_ros/test/point_cloud_utils.hpp
  beluga_ros/test/test_point_cloud.cpp
  beluga_ros/test/test_sparse_point_cloud.cpp
Due: beluga_amcl

Please clang-tidy
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/include/beluga_ros/test/point_cloud_utils.hpp
Due: beluga_ros

Please doxygen
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
Due: beluga_ros

Please clang-tidy (take 2)
  beluga_ros/test/include/beluga_ros/test/point_cloud_utils.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: none

Ensure code coverage
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/include/beluga_ros/test/point_cloud_utils.hpp
  beluga_ros/test/test_point_cloud.cpp
  beluga_ros/test/test_sparse_point_cloud.cpp
Due: beluga_ros

fixed pr
  beluga_amcl/README.md
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

fixed pr
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_ros/test/test_amcl.cpp
Due: beluga_amcl

[Refactor] Adding algorithm description
  beluga/include/beluga/views/low_variance_sample.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/test_low_variance_sample.cpp
Due: beluga

[Refactor] Addressing Comments. Making low_variance_sample similar to sample
  beluga/include/beluga/views/low_variance_sample.hpp
Due: beluga

First start low-variance sampling
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/low_variance_sample.hpp
Due: beluga

Adding information about low-variance-sample to readme
  beluga/docs/_doxygen/beluga-main.md
  beluga/docs/index.md
Due: beluga

Addressing comments
  beluga/docs/index.md
  beluga/include/beluga/views/low_variance_sample.hpp
  beluga/test/beluga/views/test_low_variance_sample.cpp
  beluga/test/benchmark/benchmark_low_variance_sample.cpp
Due: beluga

Addressing comments and adding microbenchmark
  beluga/include/beluga/views/low_variance_sample.hpp
  beluga/test/beluga/views/test_low_variance_sample.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_low_variance_sample.cpp
Due: beluga

Address peer review comments
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_ros/src/amcl.cpp
  beluga_ros/test/include/beluga_ros/test/point_cloud_utils.hpp
  beluga_ros/test/test_sparse_point_cloud.cpp
Due: beluga_amcl, beluga_ros

Update docs
  beluga_amcl/README.md
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/src/amcl_node.cpp
Due: beluga_amcl

Fix warning for non-planar point clouds
  beluga_amcl/src/amcl_node.cpp
Due: beluga_amcl

fixed pr
  beluga_amcl/README.md
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
Due: beluga_amcl

Address peer review comments
  beluga_amcl/README.md
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/src/amcl_node.cpp
Due: beluga_amcl

add a draft of the ackerman drive model
  beluga/include/beluga/motion/ackerman_drive_model.hpp
Due: beluga

Please codecov
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
Due: beluga_amcl

Add support for point clouds in beluga_amcl (#491)
  beluga_amcl/README.md
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/laser_scan.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/src/amcl.cpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/include/beluga_ros/test/point_cloud_utils.hpp
  beluga_ros/test/test_amcl.cpp
  beluga_ros/test/test_point_cloud.cpp
  beluga_ros/test/test_sparse_point_cloud.cpp
Due: beluga_amcl, beluga_ros

WIP
  .gitignore
  beluga/.bazelrc
  beluga/.bazelversion
  beluga/BUILD.bazel
  beluga/MODULE.bazel
  beluga/MODULE.bazel.lock
  beluga/deps/BUILD.bazel
  beluga/deps/beluga_deps.bzl
  beluga/deps/com_github_hdfgroup_hdf5/BUILD.bazel
  beluga/deps/com_github_hdfgroup_hdf5/package.BUILD.bazel
  beluga/include/beluga/sensor.hpp
  beluga/test/beluga/BUILD.bazel
  docker/images/humble/Dockerfile
Due: beluga

Add support for Bazel builds
  .gitignore
  beluga/.bazelrc
  beluga/.bazelversion
  beluga/BUILD.bazel
  beluga/CMakeLists.txt
  beluga/MODULE.bazel
  beluga/MODULE.bazel.lock
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/BUILD.bazel
  beluga/test/benchmark/BUILD.bazel
Due: beluga

Restore extra trailing spaces
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
Due: beluga

Revert "Restore extra trailing spaces"
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
Due: beluga

Add (untested) CI workflow)
  .github/workflows/ci_pipeline.yml
Due: none

Fix include paths
  beluga/include/beluga/types/landmark_detection_types.hpp
Due: beluga

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
