Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_system_tests/test"

Add generic circular array container.
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/circular_array.hpp
  beluga/include/beluga/utility/indexing_iterator.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/test_circular_array.cpp
  beluga/test/beluga/utility/test_indexing_iterator.cpp
Due: beluga

Rename class
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/uniform_free_space_grid_distribution.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/random/test_uniform_free_space_grid_distribution.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Forgot the header guard
  beluga/include/beluga/random/uniform_free_space_grid_distribution.hpp
Due: beluga

Increase sample size to remove flakiness
  beluga/test/beluga/random/test_uniform_free_space_grid_distribution.cpp
Due: none

Add uniform free-space grid distribution (#319)
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/uniform_free_space_grid_distribution.hpp
  beluga/include/beluga/views/random_intersperse.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/random/test_uniform_free_space_grid_distribution.cpp
  beluga/test/beluga/views/test_random_intersperse.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Please CI for ROS 2 distributions
  beluga/include/beluga/circular_array.hpp
Due: beluga

Address peer review comments
  beluga/include/beluga/containers.hpp
  beluga/include/beluga/containers/circular_array.hpp
  beluga/include/beluga/containers/tuple_vector.hpp
  beluga/include/beluga/mixin/storage.hpp
  beluga/include/beluga/utility/indexing_iterator.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/containers/test_circular_array.cpp
  beluga/test/beluga/containers/test_tuple_vector.cpp
  beluga/test/beluga/views/test_sample.cpp
  beluga/test/benchmark/benchmark_take_while_kld.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: beluga

Fix include guard in circular_array.hpp
  beluga/include/beluga/containers/circular_array.hpp
Due: beluga

Please CI
  beluga/include/beluga/containers/circular_array.hpp
  beluga/test/beluga/containers/test_circular_array.cpp
  beluga/test/beluga/utility/test_indexing_iterator.cpp
Due: beluga

Silence clang-tidy 10.0
  beluga/include/beluga/containers/circular_array.hpp
Due: beluga

Add generic circular array container (#320)
  beluga/include/beluga/containers.hpp
  beluga/include/beluga/containers/circular_array.hpp
  beluga/include/beluga/containers/tuple_vector.hpp
  beluga/include/beluga/mixin/storage.hpp
  beluga/include/beluga/utility/indexing_iterator.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/containers/test_circular_array.cpp
  beluga/test/beluga/containers/test_tuple_vector.cpp
  beluga/test/beluga/utility/test_indexing_iterator.cpp
  beluga/test/beluga/views/test_sample.cpp
  beluga/test/benchmark/benchmark_take_while_kld.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: beluga

Migrate motion models to functional form
  beluga/include/beluga/actions/propagate.hpp
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/type_traits/test_tuple_traits.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Update motion model named requirements
  beluga/include/beluga/motion.hpp
Due: beluga

Normal distribution construction is not cheap
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
Due: beluga

Migrate motion models to functional form (#321)
  beluga/include/beluga/actions/propagate.hpp
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/type_traits/test_tuple_traits.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Add uniform distribution with bounding regions
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/multivariate_uniform_distribution.hpp
  beluga/include/beluga/random/uniform_free_space_grid_distribution.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/random/test_multivariate_uniform_distribution.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Use Eigen::AlignedBox
  beluga/include/beluga/random/multivariate_uniform_distribution.hpp
  beluga/test/beluga/random/test_multivariate_uniform_distribution.cpp
Due: beluga

Add uniform distribution with bounding regions (#322)
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/multivariate_uniform_distribution.hpp
  beluga/include/beluga/random/uniform_free_space_grid_distribution.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/random/test_multivariate_uniform_distribution.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Relocate make_random_state() method
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin/sampling.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/mixin/test_sampling.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Use AlignedBox3d as LandmarkMapBoundaries
  beluga/include/beluga/types/landmark_detection_types.hpp
  beluga/test/beluga/sensor/data/test_landmark_map.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
Due: beluga

Relocate `make_random_state()` method (#324)
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin/sampling.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/mixin/test_sampling.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Migrate sensor models to functional form
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Do not store occupancy grid in likelihood field sensor model
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: beluga

Use AlignedBox3d as LandmarkMapBoundaries (#326)
  beluga/include/beluga/types/landmark_detection_types.hpp
  beluga/test/beluga/sensor/data/test_landmark_map.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
Due: beluga

Fix LikelihoodFieldModel docblock
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: beluga

Migrate sensor models to functional form (#325)
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Add AMCL implementation to the beluga_ros package
  beluga/include/beluga/random/multivariate_uniform_distribution.hpp
  beluga_ros/include/beluga_ros/amcl_impl.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_amcl_impl.cpp
  beluga_system_tests/package.xml
  beluga_system_tests/test/CMakeLists.txt
  beluga_system_tests/test/test_system.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

Address code review comments
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_amcl.cpp
  beluga_system_tests/test/test_system.cpp
Due: none

Fix static analyzer error
  beluga_ros/include/beluga_ros/amcl.hpp
Due: none

Remove unused member variables
  beluga_ros/include/beluga_ros/amcl.hpp
Due: none

Add AMCL implementation for ROS (#327)
  beluga/include/beluga/random/multivariate_uniform_distribution.hpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_amcl.cpp
  beluga_system_tests/package.xml
  beluga_system_tests/test/CMakeLists.txt
  beluga_system_tests/test/test_system.cpp
  beluga_system_tests/test/test_system_new.cpp
Due: beluga

`const` all the things!
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
Due: beluga_amcl

Address code review comments from AMCL implementation
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
Due: beluga_amcl

Address code review comments
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Fix static analyzer errors
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
Due: beluga_amcl

Keep old initialization behavior
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Migrate beluga_amcl to the new API
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/resample_interval_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/selective_resampling_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/update_filter_when_moving_policy.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/execution_policy.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/particle_filtering.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/filter_update_control/test_filter_update_control_mixin.cpp
  beluga_amcl/test/filter_update_control/test_resample_interval_policy.cpp
  beluga_amcl/test/filter_update_control/test_selective_resampling_policy.cpp
  beluga_amcl/test/filter_update_control/test_update_filter_when_moving_policy.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Fix static analyzer errors
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
Due: beluga_amcl

Add missing test cases
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Initialize from map enables TF broadcast
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
Due: beluga_amcl
