Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status.
        target: 95%
        # If the patch coverage is 100% and there are no unexpected changes,
        # pass the project status.
        removed_code_behavior: fully_covered_patch

      - type: patch  # Measure lines adjusted in the pull request.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto
        # Allow the coverage to drop by this percentage.
        threshold: 1%
        # Only post patch status to pull requests.
        only_pulls: true

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

    - component_id: package_beluga_ros
      name: beluga_ros
      paths:
        - beluga_ros/**
      statuses:
        # Beluga ROS has its own statutes since it currently has lower coverage.
        # See `default_rules` for details.
        - type: project
          target: 90%
          removed_code_behavior: fully_coverred_patch

        - type: patch
          target: auto
          threshold: 1%
          only_pulls: true

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_ros/test"
  - "beluga_system_tests/test"

Add testing for estimate scalar implementation
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: beluga

Address the proposed modifications
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Add 1D particle filter tutorial code (#362)
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga_tutorial/CMakeLists.txt
  beluga_tutorial/package.xml
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: beluga

Reduce duplication when using `yaml-cpp`
  beluga_tutorial/src/main.cpp
Due: none

Rewrite `make_from_state` as a function object
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/test/beluga/views/test_sample.cpp
Due: beluga

Rewrite `make_from_state` as a function object (#384)
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/test/beluga/views/test_sample.cpp
Due: beluga

Support 32-bit hashes
  beluga/include/beluga/algorithm/spatial_hash.hpp
Due: beluga

Move argument handling outside the run function
  beluga_tutorial/src/main.cpp
Due: none

Remove unused variable
  beluga_tutorial/src/main.cpp
Due: none

Fail compilation if size_t is neither 32 nor 64
  beluga/include/beluga/algorithm/spatial_hash.hpp
Due: beluga

Fix vector initialization
  beluga_tutorial/src/main.cpp
Due: none

Update package version
  beluga_tutorial/package.xml
Due: none

Please clang-tidy
  beluga/include/beluga/algorithm/spatial_hash.hpp
Due: beluga

Support 32-bit hashes (#386)
  beluga/include/beluga/algorithm/spatial_hash.hpp
Due: beluga

Reduce duplication when using `yaml-cpp` (#383)
  beluga_tutorial/package.xml
  beluga_tutorial/src/main.cpp
Due: none

Update changelogs
  beluga/CHANGELOG.rst
  beluga_amcl/CHANGELOG.rst
  beluga_benchmark/CHANGELOG.rst
  beluga_example/CHANGELOG.rst
  beluga_ros/CHANGELOG.rst
  beluga_system_tests/CHANGELOG.rst
  beluga_tutorial/CHANGELOG.rst
Due: beluga, beluga_amcl, beluga_ros

2.0.1
  beluga/CHANGELOG.rst
  beluga/package.xml
  beluga_amcl/CHANGELOG.rst
  beluga_amcl/package.xml
  beluga_benchmark/CHANGELOG.rst
  beluga_benchmark/package.xml
  beluga_example/CHANGELOG.rst
  beluga_example/package.xml
  beluga_ros/CHANGELOG.rst
  beluga_ros/package.xml
  beluga_system_tests/CHANGELOG.rst
  beluga_system_tests/package.xml
  beluga_tutorial/CHANGELOG.rst
  beluga_tutorial/package.xml
Due: beluga, beluga_amcl, beluga_ros

Add ROS 2 condition for yaml_cpp_vendor package
  .github/workflows/docker_ci_pipeline.yml
  beluga_tutorial/package.xml
Due: none

Add cast from `hsize_t` to `size_t`
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
Due: beluga

Add ROS 2 condition for `yaml_cpp_vendor` package (#390)
  .github/workflows/docker_ci_pipeline.yml
  beluga_tutorial/package.xml
Due: none

Add const
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
Due: beluga

Copy the README.mf from beluga_tutorials to docs
  docs/tutorials/particle-filtering.md
Due: none

Update resample documentation
  beluga_tutorial/README.md
Due: none

Update README.md file
  beluga_tutorial/README.md
Due: none

Update particle-filtering.md
  docs/_images/beluga_tutorial.gif
  docs/tutorials/particle-filtering.md
Due: none

Update the README.md file
  beluga_tutorial/README.md
Due: none

Update README.md file with the code from #362
  beluga_tutorial/README.md
Due: none

Modify some default parameters
  beluga_tutorial/src/main.cpp
Due: none

Adapt records names to key concepts explanation
  beluga_tutorial/src/main.cpp
Due: none

Implement the suggested modifications
  beluga_tutorial/src/main.cpp
Due: none

Add cast from `hsize_t` to `size_t` (#392)
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
Due: beluga

Adapt beluga_tutorial code to key concepts (#393)
  beluga_tutorial/src/main.cpp
Due: none

Update particle-filtering.md
  docs/tutorials/particle-filtering.md
Due: none

Implement the suggested modifications
  beluga_tutorial/scripts/visualize.py
Due: none

Move to scripts folder and address the comments
  beluga_tutorial/scripts/visualize.py
Due: none
