Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Enable beluga_amcl ROS 2 nodes' autostart
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
Due: beluga_amcl

Add missing docblocks
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/particle_cloud.hpp
Due: beluga_ros

Fix tf broadcasting (#375)
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Use `geometry_msgs::msg::PoseArray` instead of `nav2_msgs::msg::ParticleCloud` (#372)
  beluga_amcl/README.md
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_example/rviz/amcl.ros2.rviz
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/particle_cloud.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_messages.cpp
  beluga_ros/test/test_particle_cloud.cpp
Due: beluga_amcl, beluga_ros

Restore particle cloud visualization using markers
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/cmake/ament.cmake
  beluga_ros/cmake/catkin.cmake
  beluga_ros/include/beluga_ros/beluga_ros.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/particle_cloud.hpp
  beluga_ros/include/beluga_ros/tf2_eigen.hpp
  beluga_ros/package.xml
  beluga_ros/test/test_messages.cpp
  beluga_ros/test/test_particle_cloud.cpp
Due: beluga, beluga_amcl, beluga_ros

Update docs
  beluga_amcl/docs/ros2-reference.md
  beluga_ros/docs/_doxygen/beluga_ros-main.md
Due: beluga_amcl, beluga_ros

Enable beluga_amcl ROS 2 nodes' autostart (#376)
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
Due: beluga_amcl

Add ROS 2 Jazzy to CI/CD and dev workflows
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  docker/files/jazzy.repos
  docker/images/jazzy/Dockerfile
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: none

Remove unused nav2 dependency
  beluga_example/package.xml
Due: none

Eigen::Vector2 alias is not available on Focal
  beluga_ros/include/beluga_ros/tf2_eigen.hpp
Due: beluga_ros

One dev container image per distribution
  docker/docker-compose.yml
  docker/images/jazzy/Dockerfile
Due: none

Fix tests failing for Jazzy
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
Due: beluga_amcl

Please clang-tidy
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/particle_cloud.hpp
Due: beluga_ros

Disable static analysis for Jazzy CI
  .github/workflows/ci_pipeline.yml
Due: none

Fix beluga_ros docs
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/particle_cloud.hpp
Due: beluga_ros

Please codecov
  beluga_ros/test/test_particle_cloud.cpp
Due: none

Restore particle cloud visualization using markers (#377)
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_ros/cmake/ament.cmake
  beluga_ros/cmake/catkin.cmake
  beluga_ros/docs/_doxygen/beluga_ros-main.md
  beluga_ros/include/beluga_ros/beluga_ros.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/particle_cloud.hpp
  beluga_ros/include/beluga_ros/tf2_eigen.hpp
  beluga_ros/package.xml
  beluga_ros/test/test_messages.cpp
  beluga_ros/test/test_particle_cloud.cpp
Due: beluga, beluga_amcl, beluga_ros

Add ROS 2 Jazzy to CI/CD and dev workflows (#378)
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
  beluga_example/package.xml
  docker/docker-compose.yml
  docker/files/jazzy.repos
  docker/images/jazzy/Dockerfile
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: beluga_amcl

Fix -Wmaybe-uninitialized error
  beluga_ros/include/beluga_ros/particle_cloud.hpp
Due: beluga_ros

Add changelogs
  beluga/CHANGELOG.rst
  beluga_amcl/CHANGELOG.rst
  beluga_benchmark/CHANGELOG.rst
  beluga_example/CHANGELOG.rst
  beluga_ros/CHANGELOG.rst
  beluga_system_tests/CHANGELOG.rst
  docs/conf.py
Due: beluga, beluga_amcl, beluga_ros

2.0.0
  beluga/CHANGELOG.rst
  beluga/package.xml
  beluga_amcl/CHANGELOG.rst
  beluga_amcl/package.xml
  beluga_benchmark/CHANGELOG.rst
  beluga_benchmark/package.xml
  beluga_example/CHANGELOG.rst
  beluga_example/package.xml
  beluga_ros/CHANGELOG.rst
  beluga_ros/package.xml
  beluga_system_tests/CHANGELOG.rst
  beluga_system_tests/package.xml
Due: beluga, beluga_amcl, beluga_ros

Address the proposed modifications
  beluga_tutorial/params/landmark_map.yaml
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: none

Address the proposed modifications
  beluga_tutorial/src/main.cpp
Due: none

Address the proposed modifications
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: none

Correct missmatch in estimate calculation
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Update package.xml
  beluga_tutorial/package.xml
Due: none

Add 1D particle filter tutorial code
  .gitignore
  beluga/include/beluga/algorithm/estimation.hpp
  beluga_tutorial/CMakeLists.txt
  beluga_tutorial/package.xml
  beluga_tutorial/params/landmark_map.yaml
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: beluga

Correct typos in estimation.hpp
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Modify estimate to calculate weighted scalars
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Modify typo in main code
  beluga_tutorial/src/main.cpp
Due: none

Update estimate function for scalar
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Update .gitignore
  .gitignore
Due: none

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test
