Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_system_tests/test"

Fix ROS 1 build
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Use try-catch instead of checking for nullptr
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
Due: beluga_amcl

Migrate `beluga_amcl` to the new API (#328)
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/filter_update_control_mixin.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/resample_interval_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/selective_resampling_policy.hpp
  beluga_amcl/include/beluga_amcl/filter_update_control/update_filter_when_moving_policy.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/execution_policy.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/particle_filtering.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/filter_update_control/test_filter_update_control_mixin.cpp
  beluga_amcl/test/filter_update_control/test_resample_interval_policy.cpp
  beluga_amcl/test/filter_update_control/test_selective_resampling_policy.cpp
  beluga_amcl/test/filter_update_control/test_update_filter_when_moving_policy.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Add death tests and enable assertions when testing
  beluga/CMakeLists.txt
  beluga/include/beluga/algorithm/thrun_recovery_probability_estimator.hpp
  beluga/include/beluga/views/sample.hpp
  beluga/test/beluga/algorithm/test_thrun_recovery_probability_estimator.cpp
  beluga/test/beluga/sensor/data/test_linear_grid.cpp
  beluga/test/beluga/views/test_sample.cpp
  tools/build-and-test.sh
Due: beluga

`clang-tidy` has opinions on assertions
  beluga/include/beluga/random/multivariate_uniform_distribution.hpp
  beluga/include/beluga/views/zip.hpp
Due: beluga

Fix sample view and build for Debug and Release
  beluga/CMakeLists.txt
  beluga/include/beluga/views/sample.hpp
  beluga/test/beluga/views/test_sample.cpp
  tools/build-and-test.sh
Due: beluga

Fix ROS 1 builds
  beluga/include/beluga/views/zip.hpp
Due: beluga

Increase wait timeout
  beluga_amcl/test/test_amcl_node.cpp
Due: none

Fix landmark models probability aggregation formula
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
Due: beluga

Add new cluster-based estimator
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/estimation.hpp
  beluga/include/beluga/estimation/cluster_based_estimator.hpp
  beluga/include/beluga/estimation/simple_state_estimator.hpp
  beluga/include/beluga/estimation/utils/range_statistics.hpp
  beluga/include/beluga/estimation/weighted_state_estimator.hpp
  beluga/include/beluga/interfaces/estimation_interface.hpp
  beluga/include/beluga/localization.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/estimation/test_cluster_based_estimation.cpp
  beluga/test/beluga/estimation/test_estimation.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: beluga

Fix landmark models probability aggregation formula (#329)
  beluga/include/beluga/sensor/bearing_sensor_model.hpp
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
Due: beluga

Fix build-base
  tools/build-and-test.sh
Due: none

Make constructor explicit
  beluga/include/beluga/views/sample.hpp
Due: beluga

Fix data race when accessing the node configuration
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: none

Revert "Fix data race when accessing the node configuration"
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: none

Actually fix the race
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/test/test_amcl_nodelet.cpp
Due: beluga_amcl

Fix second data race
  beluga_amcl/src/amcl_nodelet.cpp
Due: beluga_amcl

Remove (unused) cluster customization point object
  beluga/include/beluga/primitives.hpp
  beluga/include/beluga/views/particles.hpp
  beluga/test/beluga/test_primitives.cpp
Due: beluga

Attempt to fix code coverage reports
  tools/build-and-test.sh
Due: none

Remove (unused) cluster customization point object (#331)
  beluga/include/beluga/primitives.hpp
  beluga/include/beluga/views/particles.hpp
  beluga/test/beluga/test_primitives.cpp
Due: beluga

Add death tests and build in debug mode (#323)
  beluga/include/beluga/algorithm/thrun_recovery_probability_estimator.hpp
  beluga/include/beluga/random/multivariate_uniform_distribution.hpp
  beluga/include/beluga/views/sample.hpp
  beluga/include/beluga/views/zip.hpp
  beluga/test/beluga/algorithm/test_thrun_recovery_probability_estimator.cpp
  beluga/test/beluga/sensor/data/test_linear_grid.cpp
  beluga/test/beluga/views/test_sample.cpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
  tools/build-and-test.sh
Due: beluga, beluga_amcl

Add beluga tools python utils + script
  beluga_ros/tools/__init__.py
  beluga_ros/tools/conversion_utils.py
  beluga_ros/tools/occupancy_grid_to_ndt.py
Due: none

Add cmake and package-xml changes for tools to work
  beluga_ros/cmake/ament.cmake
  beluga_ros/package.xml
Due: none

Add missing python package deps
  beluga_ros/package.xml
Due: none

Add __pycache__ to gitignore
  .gitignore
Due: none

Address Nahuel's changes
  .gitignore
  beluga_ros/cmake/ament.cmake
  beluga_ros/tools/conversion_utils.py
  beluga_ros/tools/occupancy_grid_to_ndt.py
Due: none

Small nits
  beluga_ros/cmake/ament.cmake
  beluga_ros/tools/conversion_utils.py
Due: none

Don't show plot by default
  beluga_ros/tools/occupancy_grid_to_ndt.py
Due: none

Address some of Michel's suggestions
  beluga_ros/tools/conversion_utils.py
  beluga_ros/tools/occupancy_grid_to_ndt.py
Due: none

Better warning suppresion
  beluga_ros/tools/occupancy_grid_to_ndt.py
Due: none

Add ament python build dep to beluga_ros
  beluga_ros/package.xml
Due: none

Add marker file
  beluga_ros/resource/beluga_ros
Due: none

Add beluga_ros setup.cfg
  beluga_ros/setup.cfg
Due: none

Remove setup.cfg
  beluga_ros/setup.cfg
Due: none

Remove marker file. Fix missing space, crash on rotated maps.
  beluga_ros/resource/beluga_ros
  beluga_ros/tools/conversion_utils.py
  beluga_ros/tools/occupancy_grid_to_ndt.py
Due: none

Lint
  beluga_ros/tools/conversion_utils.py
Due: none

Dev container runs in dettached mode
  docker/run.sh
Due: none

Dedupe
  docker/run.sh
Due: none

Remove unexisting module from __init__.py
  beluga_ros/tools/__init__.py
Due: none

Turn beluga_ros into a Python package
  beluga_ros/cmake/ament.cmake
  beluga_ros/setup.cfg
  beluga_ros/src/beluga_ros/__init__.py
  beluga_ros/src/beluga_ros/conversion_utils.py
  beluga_ros/src/beluga_ros/occupancy_grid_to_ndt.py
Due: none
