Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_system_tests/test"

Fix failing test
  beluga/include/beluga/views/take_evenly.hpp
Due: beluga

Add a test in beluga to catch the previous error
  beluga/test/beluga/views/test_take_evenly.cpp
Due: none

Generalize planar laser scan support (#271)
  beluga/include/beluga/sensor/data/laser_scan.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/elements.hpp
  beluga/include/beluga/views/take_evenly.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/data/test_laser_scan.cpp
  beluga/test/beluga/views/test_take_evenly.cpp
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_ros/include/beluga_ros/laser_scan.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_laser_scan.cpp
  beluga_system_tests/package.xml
  beluga_system_tests/test/CMakeLists.txt
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Rework generic data access
  .clang-tidy
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/primitives.hpp
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits.hpp
  beluga/include/beluga/type_traits/container_traits.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/elements.hpp
  beluga/include/beluga/views/particles.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/test_primitives.cpp
  beluga/test/beluga/test_storage.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: beluga

Rewrite to fix noetic build
  beluga/include/beluga/primitives.hpp
Due: beluga

Transform points to robot frame
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga_amcl

Refactor hash function to avoid periodicity
  beluga/include/beluga/algorithm/spatial_hash.hpp
Due: beluga

Add tests showing periodicity in the hash function
  beluga/test/beluga/test_spatial_hash.cpp
Due: none

Update to new naming convention
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
Due: beluga_amcl

Transform points in laser frame to robot frame (#276)
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_system_tests/test/test_system.cpp
Due: beluga_amcl

Rework generic data access (#272)
  .clang-tidy
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/primitives.hpp
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits.hpp
  beluga/include/beluga/type_traits/container_traits.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/elements.hpp
  beluga/include/beluga/views/particles.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/test_primitives.cpp
  beluga/test/beluga/test_storage.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: beluga

Improve spatial_hash function to avoid spatial periodicity in the hash function (#273)
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga/test/beluga/test_spatial_hash.cpp
Due: beluga

Add take_while_kld view
  .clang-tidy
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/views/take_while_kld.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/test_storage.cpp
  beluga/test/beluga/views/test_take_while_kld.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
Due: beluga

Restore removed mixin tests
  beluga/test/beluga/algorithm/test_sampling.cpp
Due: none

Add take_while_kld view (#277)
  .clang-tidy
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/views/take_while_kld.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/test_storage.cpp
  beluga/test/beluga/views/test_take_while_kld.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
Due: beluga

Add random intersperse view
  beluga/include/beluga/views/random_intersperse.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/test_random_intersperse.cpp
Due: beluga

Fix cardinality value
  beluga/include/beluga/views/random_intersperse.hpp
Due: beluga

Use named constant for intersperse probability
  beluga/test/beluga/views/test_random_intersperse.cpp
Due: none

Increase sample size in test
  beluga/test/beluga/views/test_random_intersperse.cpp
Due: none

Add random intersperse view (#278)
  beluga/include/beluga/views/random_intersperse.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/test_random_intersperse.cpp
Due: beluga

What is a particle?
  beluga/include/beluga/primitives.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/type_traits/test_particle_traits.cpp
  beluga/test/beluga/type_traits/test_tuple_traits.cpp
Due: beluga

Make clang-tidy happy
  beluga/test/beluga/type_traits/test_tuple_traits.cpp
Due: none

Check for member variables
  beluga/include/beluga/mixin/utility.hpp
  beluga/include/beluga/primitives.hpp
  beluga/include/beluga/utility/forward_like.hpp
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/test_primitives.cpp
  beluga/test/beluga/type_traits/test_particle_traits.cpp
  beluga/test/beluga/utility/test_forward_like.cpp
Due: beluga

Make customization points mutually exclusive
  beluga/include/beluga/primitives.hpp
Due: beluga

What is a particle? (#280)
  beluga/include/beluga/mixin/utility.hpp
  beluga/include/beluga/primitives.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/type_traits/tuple_traits.hpp
  beluga/include/beluga/utility/forward_like.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/type_traits/test_particle_traits.cpp
  beluga/test/beluga/type_traits/test_tuple_traits.cpp
  beluga/test/beluga/utility/test_forward_like.cpp
Due: beluga

Minor fixes
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/data/test_laser_scan.cpp
  beluga/test/beluga/utility/test_forward_like.cpp
Due: none

Minor fixes to forward_like test (#283)
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/data/test_laser_scan.cpp
  beluga/test/beluga/utility/test_forward_like.cpp
Due: none

Add sample view
  beluga/include/beluga/definitions.hpp
  beluga/include/beluga/views/sample.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/test_sample.cpp
Due: beluga

Add prologue and epilogue
  beluga/include/beluga/detail/epilogue.hpp
  beluga/include/beluga/detail/prologue.hpp
  beluga/include/beluga/views/sample.hpp
Due: beluga

Make sample a view closure itself
  beluga/include/beluga/views/sample.hpp
  beluga/test/beluga/views/test_sample.cpp
Due: beluga

Fix typo
  beluga/include/beluga/views/sample.hpp
Due: beluga

Add sample view (#281)
  beluga/include/beluga/detail/epilogue.hpp
  beluga/include/beluga/detail/prologue.hpp
  beluga/include/beluga/views/sample.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/test_sample.cpp
Due: beluga

Improve take_while_kld implementation
  beluga/include/beluga/views/take_while_kld.hpp
  beluga/test/beluga/views/test_take_while_kld.cpp
Due: beluga

Fix static analyzer error
  beluga/include/beluga/views/take_while_kld.hpp
Due: beluga

Add forward view
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/definitions.hpp
  beluga/include/beluga/views/forward.hpp
  beluga/include/beluga/views/take_while_kld.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/test_forward.cpp
Due: beluga

Remove forward view
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/definitions.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/forward.hpp
  beluga/include/beluga/views/take_while_kld.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/test_forward.cpp
  beluga/test/beluga/views/test_take_while_kld.cpp
Due: beluga

Remove overload that takes two ranges
  beluga/include/beluga/views/take_while_kld.hpp
  beluga/test/beluga/views/test_take_while_kld.cpp
Due: beluga

Improve take_while_kld implementation (#282)
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/take_while_kld.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/views/test_take_while_kld.cpp
Due: beluga

Integrate views with mixins
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/particle_filter.hpp
  beluga/include/beluga/mixin/sampling.hpp
  beluga/include/beluga/mixin/storage.hpp
  beluga/include/beluga/views/random_intersperse.hpp
  beluga/include/beluga/views/take_while_kld.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/mixin/test_particle_filter.cpp
  beluga/test/beluga/mixin/test_sampling.cpp
  beluga/test/beluga/mixin/test_storage.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_take_while_kld.cpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl

Integrate views with mixins (#284)
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/particle_filter.hpp
  beluga/include/beluga/mixin/sampling.hpp
  beluga/include/beluga/mixin/storage.hpp
  beluga/include/beluga/views/random_intersperse.hpp
  beluga/include/beluga/views/take_while_kld.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/mixin/test_particle_filter.cpp
  beluga/test/beluga/mixin/test_sampling.cpp
  beluga/test/beluga/mixin/test_storage.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_take_while_kld.cpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl
