Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status.
        target: 95%
        # If the patch coverage is 100% and there are no unexpected changes,
        # pass the project status.
        removed_code_behavior: fully_covered_patch

      - type: patch  # Measure lines adjusted in the pull request.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto
        # Allow the coverage to drop by this percentage.
        threshold: 1%
        # Only post patch status to pull requests.
        only_pulls: true

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

    - component_id: package_beluga_ros
      name: beluga_ros
      paths:
        - beluga_ros/**
      statuses:
        # Beluga ROS has its own statutes since it currently has lower coverage.
        # See `default_rules` for details.
        - type: project
          target: 90%
          removed_code_behavior: fully_coverred_patch

        - type: patch
          target: auto
          threshold: 1%
          only_pulls: true

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_ros/test"
  - "beluga_system_tests/test"
  - "beluga_tools/test"

Add openvdb and clean cmakes
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
Due: beluga

Add likelihood 3D field sensor model
  beluga/include/beluga/sensor/likelihood_3d_field_model.hpp
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: beluga

Fix return data
  beluga/test/beluga/include/beluga/test/simple_pointcloud_interface.hpp
Due: none

Fix cast eigen vector
  beluga/include/beluga/sensor/likelihood_3d_field_model.hpp
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: beluga

Fix openvdb map creation
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: none

Fix compile with full options
  beluga/CMakeLists.txt
  beluga/test/beluga/include/beluga/test/simple_pointcloud_interface.hpp
Due: beluga

Update README.md
  README.md
Due: none

Add user guide on how to extend Beluga
  docs/guides/extending-beluga.md
Due: none

Address peer review comments
  docs/guides/extending-beluga.md
Due: none

Add user guide on how to extend Beluga (#450)
  docs/guides/extending-beluga.md
Due: none

Fix nit
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model3.hpp
  beluga/test/beluga/include/beluga/test/simple_pointcloud_interface.hpp
Due: beluga

Add close and far point test
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: none

Clean up NDT base implementation and examples
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/algorithm/test_amcl_core.cpp
  beluga/test/beluga/sensor/data/test_ndt_cell.cpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/test/test_ndt_amcl_3d_node.cpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_example/params/default_ndt.ros2.yaml
  beluga_example/params/default_ndt_3d.ros2.yaml
  beluga_ros/src/amcl.cpp
Due: beluga, beluga_amcl, beluga_ros

Fix openvdb dependency
  beluga/package.xml
Due: beluga

Change test parameters
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: none

Remove support for Nav2 differential model name
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_example/params/default_ndt.ros2.yaml
Due: beluga_amcl

Fix points not being a container
  beluga/include/beluga/sensor/likelihood_field_model3.hpp
Due: beluga

Draft: Publish likelihood_data
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_example/params/default.ros.yaml
  beluga_example/params/default.ros2.yaml
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/likelihood_field.hpp
  beluga_ros/src/amcl.cpp
Due: beluga_amcl, beluga_ros

Add thresholds for conversion from likelihood_data to ROS2 message
  beluga_ros/include/beluga_ros/likelihood_field.hpp
Due: beluga_ros

Change OpenVDB as an optional dependency
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/include/beluga/sensor.hpp
  beluga/package.xml
  beluga/test/beluga/CMakeLists.txt
Due: beluga

Remove openvdb lib
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
Due: none

Add boost dependency for openvdb
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Change points function to const
  beluga/test/beluga/include/beluga/test/simple_pointcloud_interface.hpp
Due: none

Add test removed by mistake
  beluga/test/beluga/CMakeLists.txt
Due: none

Rework openvdb support options for beluga
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/include/beluga/sensor.hpp
Due: beluga

Update to build with openvdb flag
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: none

Fix openvdb dependency
  beluga/cmake/Config.cmake.in
Due: beluga

Fix clang tidy
  beluga/include/beluga/sensor/likelihood_field_model3.hpp
  beluga/test/beluga/include/beluga/test/simple_pointcloud_interface.hpp
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: beluga

Organize packages list
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Generalize cmake and colcon arguments
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: none

Fix nit
  beluga/include/beluga/sensor/likelihood_field_model3.hpp
Due: beluga

Change minor tweaks
  beluga/CMakeLists.txt
Due: beluga

Change from closestsurface to accessors
  beluga/include/beluga/sensor/likelihood_field_model3.hpp
Due: beluga

Fix openvdb dependencies when building
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/package.xml
Due: beluga

Change nit
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: none

Fix libopenvdb not supported on noble
  beluga/package.xml
Due: beluga

Fix boost dependency
  beluga/CMakeLists.txt
  beluga/package.xml
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: beluga

Fix useopenvdb flag option
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: none
