Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status.
        target: 95%
        # If the patch coverage is 100% and there are no unexpected changes,
        # pass the project status.
        removed_code_behavior: fully_covered_patch

      - type: patch  # Measure lines adjusted in the pull request.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto
        # Allow the coverage to drop by this percentage.
        threshold: 1%
        # Only post patch status to pull requests.
        only_pulls: true

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

    - component_id: package_beluga_ros
      name: beluga_ros
      paths:
        - beluga_ros/**
      statuses:
        # Beluga ROS has its own statutes since it currently has lower coverage.
        # See `default_rules` for details.
        - type: project
          target: 90%
          removed_code_behavior: fully_coverred_patch

        - type: patch
          target: auto
          threshold: 1%
          only_pulls: true

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_ros/test"
  - "beluga_system_tests/test"

Add cluster based estimator (#275)
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_cluster_based_estimation.cpp
Due: beluga

Add beluga_tools package
  .codecov.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  beluga_ros/cmake/ament.cmake
  beluga_ros/package.xml
  beluga_ros/setup.cfg
  beluga_tools/beluga_tools/__init__.py
  beluga_tools/beluga_tools/conversion_utils.py
  beluga_tools/beluga_tools/occupancy_grid_to_ndt.py
  beluga_tools/beluga_tools/ply_to_ndt.py
  beluga_tools/package.xml
  beluga_tools/resource/beluga_tools
  beluga_tools/setup.cfg
  beluga_tools/setup.py
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
  tools/build-and-test.sh
Due: beluga_ros

Add `beluga_tools` package (#410)
  .codecov.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  beluga_ros/cmake/ament.cmake
  beluga_ros/package.xml
  beluga_ros/setup.cfg
  beluga_tools/beluga_tools/__init__.py
  beluga_tools/beluga_tools/conversion_utils.py
  beluga_tools/beluga_tools/occupancy_grid_to_ndt.py
  beluga_tools/beluga_tools/ply_to_ndt.py
  beluga_tools/package.xml
  beluga_tools/resource/beluga_tools
  beluga_tools/setup.cfg
  beluga_tools/setup.py
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
  tools/build-and-test.sh
Due: beluga_ros

Remove 'with' statement in CI workflow.
  .github/workflows/ci_pipeline.yml
Due: none

Remove 'with' statement in CI workflow (#414)
  .github/workflows/ci_pipeline.yml
Due: none

Extend beluga::estimate for SE3
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: beluga

Address peer review comments
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: beluga

Improve readability
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Fix regex
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: none

Constness
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Extend `beluga::estimate` for SE3 (#416)
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: beluga

Implement unscented transform
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/unscented_transform.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_unscented_transform.cpp
Due: beluga

Implement unscented transform `UT` (#417)
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/unscented_transform.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_unscented_transform.cpp
Due: beluga

Spatial hash for SE3
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga/test/beluga/test_spatial_hash.cpp
Due: beluga

Expand on the comments, add constructor for 6 coordinates
  beluga/include/beluga/algorithm/spatial_hash.hpp
Due: beluga

Spatial hash for SE3 (#418)
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga/test/beluga/test_spatial_hash.cpp
Due: beluga

Add implicit boundaries LandmarkMap constructor
  beluga/include/beluga/sensor/data/landmark_map.hpp
  beluga/test/beluga/sensor/data/test_landmark_map.cpp
Due: beluga

Please clang-tidy
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

Dedupe some ROS2 code
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/test_ros2_common.cpp
Due: beluga_amcl

Fix clang build
  beluga_amcl/test/test_ros2_common.cpp
Due: none

Add default coverage for timer and autostart
  beluga_amcl/test/test_ros2_common.cpp
Due: none

Address peer review comments
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

Please doxygen
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

Add implicit boundaries `LandmarkMap` constructor (#419)
  beluga/include/beluga/sensor/data/landmark_map.hpp
  beluga/test/beluga/sensor/data/test_landmark_map.cpp
Due: beluga

Address Michel's comments
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/test_ros2_common.cpp
Due: beluga_amcl

Final comments
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/test/cmake/ament.cmake
Due: beluga_amcl

Dedupe some of the shared code between nodes (#413)
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/test_ros2_common.cpp
Due: beluga_amcl

Drop Ubuntu user from Noble containers
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Drop Ubuntu user from Noble containers (#421)
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Add NDT AMCL 3D node.
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/include/beluga/policies/on_motion.hpp
  beluga/test/beluga/policies/test_on_motion.cpp
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/test_data/sample_3d_ndt_map.hdf5
  beluga_amcl/test/test_ndt_amcl_3d_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_example/launch/ndt_simulation_3d.launch.xml
  beluga_example/launch/utils/ndt_3d_localization_launch.py
  beluga_example/maps/sample_3d_ndt_map.hdf5
  beluga_example/params/default_ndt_3d.ros2.yaml
  beluga_ros/include/beluga_ros/amcl.hpp
Due: beluga, beluga_amcl, beluga_ros

Add a reminder in docs/installation: source the environment
  docs/getting-started/installation.md
Due: none

Move remider of sourcing at the end for both ROS 2 and ROS 1
  docs/getting-started/installation.md
Due: none

Add a reminder in docs/installation: source the environment (#423)
  docs/getting-started/installation.md
Due: none

Install all package deps on Noble images
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Skip slam_toolbox for Rolling
  docker/images/rolling/Dockerfile
Due: none

Install all package deps on Noble containers (#426)
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Add NDT 3D node
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/include/beluga/algorithm/unscented_transform.hpp
  beluga/include/beluga/policies/on_motion.hpp
  beluga/test/beluga/algorithm/test_unscented_transform.cpp
  beluga/test/beluga/policies/test_on_motion.cpp
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node_3d.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/ndt_amcl_node_3d.cpp
  beluga_amcl/src/ros2_common.cpp
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/test_data/sample_3d_ndt_map.hdf5
  beluga_amcl/test/test_ndt_amcl_3d_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_example/launch/ndt_replay_3d.launch.xml
  beluga_example/launch/utils/ndt_3d_localization_launch.py
  beluga_example/launch/utils/rosbag_launch.py
  beluga_example/maps/sample_3d_ndt_map.hdf5
  beluga_example/params/default_ndt_3d.ros2.yaml
  beluga_example/rviz/ndt_amcl_3d.ros2.rviz
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/tf2_sophus.hpp
  beluga_ros/test/test_tf2_sophus.cpp
Due: beluga, beluga_amcl, beluga_ros
