Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Use `no-gnu-zero-variadic-macro-arguments` only with `clang-tidy` (#391)
  beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  tools/run-clang-tidy.sh
Due: beluga

Update changelogs
  beluga/CHANGELOG.rst
  beluga_amcl/CHANGELOG.rst
  beluga_benchmark/CHANGELOG.rst
  beluga_example/CHANGELOG.rst
  beluga_ros/CHANGELOG.rst
  beluga_system_tests/CHANGELOG.rst
  beluga_tutorial/CHANGELOG.rst
Due: beluga, beluga_amcl, beluga_ros

2.0.2
  beluga/CHANGELOG.rst
  beluga/package.xml
  beluga_amcl/CHANGELOG.rst
  beluga_amcl/package.xml
  beluga_benchmark/CHANGELOG.rst
  beluga_benchmark/package.xml
  beluga_example/CHANGELOG.rst
  beluga_example/package.xml
  beluga_ros/CHANGELOG.rst
  beluga_ros/package.xml
  beluga_system_tests/CHANGELOG.rst
  beluga_system_tests/package.xml
  beluga_tutorial/CHANGELOG.rst
  beluga_tutorial/package.xml
Due: beluga, beluga_amcl, beluga_ros

Address the suggested modifications
  docs/tutorials/particle-filtering.md
Due: none

Update particle-filtering.md
  docs/tutorials/particle-filtering.md
Due: none

Add SO3 and SE3 support for multivariat normal distribution
  beluga/include/beluga/random/multivariate_distribution_traits.hpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: beluga

Add comment in SE3 and SO3 from_vector
  beluga/include/beluga/random/multivariate_distribution_traits.hpp
Due: beluga

Add SO3 and SE3 support for multivariate normal distribution (#403)
  beluga/include/beluga/random/multivariate_distribution_traits.hpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: beluga

WIP: Encapsulate functionality
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/cluster_based_estimator.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_cluster_based_estimator.cpp
Due: beluga

Add new cluster-based estimator
  beluga/include/beluga/algorithm/cluster_based_estimator.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_cluster_based_estimator.cpp
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: beluga

Add SE3 support for
  beluga/include/beluga/3d_embedding.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/test_3d_embedding.cpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl, beluga_ros

Add planar 3D support for `DifferentialDriveModel` (#404)
  beluga/include/beluga/3d_embedding.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/test_3d_embedding.cpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_system_tests/test/test_system.cpp
Due: beluga, beluga_amcl, beluga_ros

Change beluga::estimate() to yield variance
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: beluga

Add particle filtering tutorial suggestions
  docs/tutorials/particle-filtering.md
Due: none

Polish beluga_tutorial nomenclature for consistency
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: none

Change scalar `beluga::estimate()` to yield variance (#405)
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: beluga

Address suggested comments + others modifications
  docs/_images/beluga_amcl.png
  docs/tutorials/nav2-integration.md
Due: none

Polish `beluga_tutorial` nomenclature for consistency (#406)
  beluga_tutorial/params/tutorial.yaml
  beluga_tutorial/src/main.cpp
Due: none

Update docs/tutorials/particle-filtering.md
  docs/tutorials/particle-filtering.md
Due: none

Add particle filtering tutorial suggestions (#407)
  docs/tutorials/particle-filtering.md
Due: none

Address suggested comments
  docs/tutorials/nav2-integration.md
Due: none

Add documentation for the MCL tutorial (#365)
  docs/_images/beluga_tutorial.gif
  docs/tutorials/particle-filtering.md
Due: none

Add deserialization support for 3D NDT maps.
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga/test/beluga/test_data/sample_3d_ndt_map.hdf5
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga, beluga_amcl

Add deserialization support for 3D NDT maps. (#408)
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga/test/beluga/test_data/sample_3d_ndt_map.hdf5
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga, beluga_amcl

Add cluster-based estimator
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_cluster_based_estimation.cpp
Due: beluga

Fixes to get docker to build in arm64
  DEVELOPING.md
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Optimize percentile threshold calculation
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
Due: beluga

Fixes to get docker to build in arm64 (#411)
  DEVELOPING.md
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Address code review comments
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
  beluga/test/beluga/algorithm/test_cluster_based_estimation.cpp
Due: beluga

Optimize estimate clusters implementation
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
Due: beluga

Fix Noetic builds
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
Due: beluga

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test
