Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Add correction factor comment
  beluga/include/beluga/algorithm/estimation.hpp
Due: beluga

Refactor estimation library (#445)
  .clang-tidy
  beluga/include/beluga/algorithm/amcl_core.hpp
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_cluster_based_estimation.cpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: beluga

Polish Beluga AMCL user guide
  docs/guides/using-beluga-amcl.md
Due: none

Polish Beluga AMCL user guide (#447)
  docs/guides/using-beluga-amcl.md
Due: none

Addressing comments
  beluga/include/beluga/actions/overlay.hpp
Due: beluga

Rewrite overlay action (#446)
  beluga/include/beluga/actions/overlay.hpp
Due: beluga

Change PointCloud description for better clarification
  beluga/include/beluga/sensor/data/point_cloud.hpp
Due: beluga

Changed copyright year
  beluga/include/beluga/sensor/data/point_cloud.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga, beluga_ros

Add pointcloud API contract and ROS interface
  beluga/include/beluga/sensor/data/point_cloud.hpp
  beluga_ros/include/beluga_ros/beluga_ros.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_point_cloud.cpp
Due: beluga, beluga_ros

Clarify documentation
  beluga/include/beluga/sensor/data/point_cloud.hpp
Due: beluga

Add newlines
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
Due: none

Expand testcase scenarios
  beluga_ros/test/test_point_cloud.cpp
Due: none

Change to return Eigen::Map
  beluga_ros/include/beluga_ros/beluga_ros.hpp
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
Due: beluga_ros

Add non-aligned memory pointcloud wrapper
  beluga_ros/include/beluga_ros/point_cloud_sparse.hpp
Due: beluga_ros

Add make pointcloud message function
  beluga_ros/test/test_point_cloud.cpp
Due: none

Add non-aligned memory pointcloud wrapper
  beluga_ros/include/beluga_ros/beluga_ros.hpp
Due: beluga_ros

Fix ROS1 eigen compatibility
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/point_cloud_sparse.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_ros

Fix ROS1
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_ros

Change to pointfieldtypeastype templatization
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/point_cloud_sparse.hpp
Due: beluga_ros

Fix clang tidy
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_ros

Add eigen lib to test
  beluga_ros/test/test_point_cloud.cpp
Due: none

Add more restrictions to check
  beluga_ros/include/beluga_ros/point_cloud.hpp
Due: beluga_ros

Fix clang
  beluga_ros/test/test_point_cloud.cpp
Due: none

Improve documentation
  beluga_ros/include/beluga_ros/point_cloud.hpp
Due: beluga_ros

Change name
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
Due: beluga_ros

Fix is_dense bool noetic
  beluga_ros/test/test_point_cloud.cpp
Due: none

Rename sparse pointcloud
  beluga_ros/include/beluga_ros/point_cloud_sparse.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
Due: beluga_ros

Change to true types
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_ros

Add sparse pointcloud API contract
  beluga/include/beluga/sensor/data/point_cloud.hpp
Due: beluga

Fix clang jazzy
  beluga_ros/include/beluga_ros/point_cloud.hpp
  beluga_ros/include/beluga_ros/sparse_point_cloud.hpp
  beluga_ros/test/test_point_cloud.cpp
Due: beluga_ros

Change details
  beluga_ros/include/beluga_ros/beluga_ros.hpp
  beluga_ros/include/beluga_ros/point_cloud.hpp
Due: beluga_ros

Change using Pointfield
  beluga_ros/include/beluga_ros/messages.hpp
Due: beluga_ros

Add likelihood 3D field model
  beluga/include/beluga/sensor/likelihood_3d_field_model.hpp
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: beluga

Add openvdb dependencies
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/package.xml
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: beluga

Add Openvdb dependencies
  beluga/cmake/Config.cmake.in
  beluga/package.xml
Due: beluga

Add likelihood 3d field model test
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_likelihood_3d_field_model.cpp
Due: none

Fix code
  beluga/include/beluga/sensor/likelihood_3d_field_model.hpp
Due: beluga

Add likelihood 3d field model to beluga
  beluga/include/beluga/sensor.hpp
Due: beluga

Expose model_unknown_space parameter to ROS2
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_example/params/default.ros2.yaml
Due: beluga_amcl

Create minimal pointcloud interface for testing
  beluga/test/beluga/include/beluga/test/simple_pointcloud_interface.hpp
Due: none

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
