Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status.
        target: 95%
        # If the patch coverage is 100% and there are no unexpected changes,
        # pass the project status.
        removed_code_behavior: fully_covered_patch

      - type: patch  # Measure lines adjusted in the pull request.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto
        # Allow the coverage to drop by this percentage.
        threshold: 1%
        # Only post patch status to pull requests.
        only_pulls: true

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

    - component_id: package_beluga_ros
      name: beluga_ros
      paths:
        - beluga_ros/**
      statuses:
        # Beluga ROS has its own statutes since it currently has lower coverage.
        # See `default_rules` for details.
        - type: project
          target: 90%
          removed_code_behavior: fully_coverred_patch

        - type: patch
          target: auto
          threshold: 1%
          only_pulls: true

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_ros/test"
  - "beluga_system_tests/test"
  - "beluga_tools/test"

feat(beluga_lambkin): integrate lambkin benchmark and update dev dockerfiles
  .sdd/specs/spec-BEL-5.md
  beluga_lambkin/beluga_benchmark.py
  beluga_lambkin/beluga_ros2/CMakeLists.txt
  beluga_lambkin/beluga_ros2/launch/beluga.launch.py
  beluga_lambkin/beluga_ros2/package.xml
  beluga_lambkin/beluga_ros2/params/default.ros2.yaml
  beluga_lambkin/requirements.txt
  docker/images/jazzy/Dockerfile
  docker/images/kilted/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

fix(docker): add --ignore-installed to lambkin pip install on kilted
  docker/images/kilted/Dockerfile
Due: none

chore: cleanup SDD specification after successful QA
  .sdd/specs/spec-BEL-5.md
Due: none

refactor(docker): simplify lambkin install, pin evo==1.34.3, and revert rolling to main
  beluga_lambkin/beluga_inference_ros2/CMakeLists.txt
  beluga_lambkin/beluga_inference_ros2/launch/beluga.launch.py
  beluga_lambkin/beluga_inference_ros2/package.xml
  beluga_lambkin/beluga_inference_ros2/params/default.ros2.yaml
  docker/images/jazzy/Dockerfile
  docker/images/kilted/Dockerfile
  docker/images/lyrical/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

refactor(beluga_lambkin): update CMakeLists and maintainers for beluga_inference_ros2
  beluga_lambkin/beluga_inference_ros2/CMakeLists.txt
  beluga_lambkin/beluga_inference_ros2/package.xml
Due: none

feat(beluga_lambkin): wire benchmark options, update launch args, and add README
  beluga_lambkin/README.md
  beluga_lambkin/beluga_benchmark.py
  beluga_lambkin/beluga_inference_ros2/launch/beluga.launch.py
Due: none

Update documentation (#586)
  beluga_amcl/docs/ros2-reference.md
  docs/index.md
Due: beluga_amcl

Replace non-existent branch with hash
  docker/files/humble.repos
Due: none

Replace now non-existent humble branch in flatland repo (#588)
  docker/files/humble.repos
Due: none

Reserve kd_tree cloud size before allocating
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

store landmarks in per-category point clouds directly
  beluga/include/beluga/sensor/data/landmark_map.hpp
Due: beluga

feat(docker): add lambkin install to jazzy, kilted, and lyrical dev images
  docker/images/jazzy/Dockerfile
  docker/images/kilted/Dockerfile
  docker/images/lyrical/Dockerfile
Due: none

feat(beluga_lambkin): integrate lambkin benchmark and inference package
  beluga_lambkin/README.md
  beluga_lambkin/beluga_benchmark.py
  beluga_lambkin/beluga_inference_ros2/CMakeLists.txt
  beluga_lambkin/beluga_inference_ros2/launch/beluga.launch.py
  beluga_lambkin/beluga_inference_ros2/package.xml
  beluga_lambkin/beluga_inference_ros2/params/default.ros2.yaml
  beluga_lambkin/requirements.txt
Due: none

docs: add beluga_lambkin to package table in README.md
  README.md
Due: none

fix(docker): add --ignore-installed to lambkin pip install on jazzy
  docker/images/jazzy/Dockerfile
Due: none
