Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

Align package versions
  beluga_tools/package.xml
  beluga_tools/setup.py
  beluga_vdb/package.xml
Due: none

2.1.0
  beluga/CHANGELOG.rst
  beluga/package.xml
  beluga_amcl/CHANGELOG.rst
  beluga_amcl/package.xml
  beluga_benchmark/CHANGELOG.rst
  beluga_benchmark/package.xml
  beluga_example/CHANGELOG.rst
  beluga_example/package.xml
  beluga_ros/CHANGELOG.rst
  beluga_ros/package.xml
  beluga_system_tests/CHANGELOG.rst
  beluga_system_tests/package.xml
  beluga_tools/CHANGELOG.rst
  beluga_tools/package.xml
  beluga_tools/setup.py
  beluga_tutorial/CHANGELOG.rst
  beluga_tutorial/package.xml
  beluga_vdb/CHANGELOG.rst
  beluga_vdb/package.xml
Due: beluga, beluga_amcl, beluga_ros

Fix CHANGELOGs
  beluga/CHANGELOG.rst
  beluga_benchmark/CHANGELOG.rst
Due: beluga

Adding me as mantainer in all packages
  beluga/package.xml
  beluga_amcl/package.xml
  beluga_benchmark/package.xml
  beluga_example/package.xml
  beluga_ros/package.xml
  beluga_system_tests/package.xml
  beluga_tools/package.xml
  beluga_tutorial/package.xml
  beluga_vdb/package.xml
Due: beluga, beluga_amcl, beluga_ros

Release Beluga 2.1.0 (#538)
  beluga/CHANGELOG.rst
  beluga/package.xml
  beluga_amcl/CHANGELOG.rst
  beluga_amcl/package.xml
  beluga_benchmark/CHANGELOG.rst
  beluga_benchmark/package.xml
  beluga_example/CHANGELOG.rst
  beluga_example/package.xml
  beluga_ros/CHANGELOG.rst
  beluga_ros/package.xml
  beluga_system_tests/CHANGELOG.rst
  beluga_system_tests/package.xml
  beluga_tools/CHANGELOG.rst
  beluga_tools/package.xml
  beluga_tools/setup.py
  beluga_tutorial/CHANGELOG.rst
  beluga_tutorial/package.xml
  beluga_vdb/CHANGELOG.rst
  beluga_vdb/package.xml
Due: beluga, beluga_amcl, beluga_ros

Added pre-processing for thick walls (and associated parameter to configure it)
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Adding pre_process_thick_walls parameter to amcl_node
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
Due: beluga_amcl

Adding logging for debugging
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Changed logging from rclcpp::get_logger to std::cout
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Setting default for pre-processing thick walls to true.
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Added a unit test to add new "pre_process_thick_walls" feature
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/test/beluga/sensor/test_likelihood_field_model_base.cpp
  beluga_amcl/src/amcl_node.cpp
Due: beluga, beluga_amcl

Forcing explicit conversion to pass Clang
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Applied ranges::any_of to boundary check. Solved use of effective_unknown_mask in case of populated.
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Drop `ciabatta` dependency
  MODULE.bazel.lock
  beluga/README.md
  beluga/include/beluga/mixins.hpp
  beluga/include/beluga/mixins/enable_self.hpp
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/laser_scan.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/point_cloud.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/sparse_point_cloud.hpp
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
  beluga/include/ciabatta/ciabatta.hpp
Due: beluga

Solving some lint issues
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Solving cast issues on loop index to comply with clang
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Iterating on casting issues to comply with Clang
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Solved lint issue
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Drop `ciabatta` dependency (#542)
  MODULE.bazel.lock
  beluga/README.md
  beluga/include/beluga/mixins.hpp
  beluga/include/beluga/mixins/enable_self.hpp
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/laser_scan.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/point_cloud.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/sparse_point_cloud.hpp
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
  beluga/include/ciabatta/ciabatta.hpp
Due: beluga

Still iterating on casting issues to comply with clang
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Add random probability term to landmark sensor model
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
Due: beluga

Add LandmarkSensorModel test for false positive measurement
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
Due: none

fix: add missing param in test
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
Due: none

Containerizing the view for obstacle_mask to avoid indexing issues
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

lint issue solved
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Attempt at a more compact implementation
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/test/beluga/sensor/test_lfm_with_unknown_space.cpp
Due: beluga

Add random probability term to landmark sensor model (#544)
  beluga/include/beluga/sensor/landmark_sensor_model.hpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
Due: beluga

fixup! Attempt at a more compact implementation
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
Due: beluga

Rename the parameter
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/test/beluga/sensor/test_likelihood_field_model_base.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
Due: beluga, beluga_amcl

Attempt at a more compact implementation
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/test/beluga/sensor/test_lfm_with_unknown_space.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model_base.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
Due: beluga, beluga_amcl

Added tests for thick walls evaluation
  beluga/test/beluga/sensor/test_likelihood_field_model_base.cpp
Due: none

Adding some explicit casting in occupancy_grid.hpp to comply with clang
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
Due: beluga

Thick walls pre-processing feature added (#541)
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model_base.hpp
  beluga/test/beluga/sensor/test_lfm_with_unknown_space.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model_base.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
Due: beluga, beluga_amcl

Add new overload for reweight action that tracks likelihood
  beluga/docs/_doxygen/beluga-main.md
  beluga/include/beluga/actions/reweight.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/likelihoods.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_reweight.cpp
  beluga/test/beluga/views/BUILD.bazel
  beluga/test/beluga/views/test_likelihoods.cpp
Due: beluga

Add new overload for reweight action that tracks likelihood (#530)
  beluga/docs/_doxygen/beluga-main.md
  beluga/include/beluga/actions/reweight.hpp
  beluga/include/beluga/views.hpp
  beluga/include/beluga/views/likelihoods.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/actions/test_reweight.cpp
  beluga/test/beluga/views/BUILD.bazel
  beluga/test/beluga/views/test_likelihoods.cpp
Due: beluga

Change default of the strict boundaries setting to true
  beluga_amcl/src/amcl_node.cpp
Due: beluga_amcl

add missing Eigen/Eigenvalues include for GCC 15 compatibility
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
Due: beluga

Add missing Eigen/Eigenvalues include for GCC 15 / Eigen5 compatibility (#553)
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
Due: beluga

Do not promote warnings for maximum compatibility
  beluga/CMakeLists.txt
Due: beluga

Revert "Eigen and ranges-v3 doing fancy (or unorthodox) stuff"
  BUILD.bazel
  beluga/CMakeLists.txt
Due: beluga

Path conditions:
  beluga: any of: beluga/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_amcl: any of: beluga_amcl/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
  beluga_ros: any of: beluga_ros/**, but not: beluga/test, beluga_amcl/test, beluga_ros/test, beluga_system_tests/test, beluga_tools/test
