Repository Ekumen-OS/beluga: changes, and which Codecov flags are due for each by the changed paths.
All: beluga, beluga_amcl, beluga_ros

.codecov.yml:

codecov:
  # Don't wait for all other statuses to pass before sending codecov status.
  require_ci_to_pass: no

# Disable pull request comments.
comment: false

# Use filters to classify coverage data by package.
component_management:
  # Rules inherited by all components.
  default_rules:
    statuses:
      - type: project  # Measure overall project coverage.
        # The minimum coverage ratio to send a success status.
        target: 95%
        # If the patch coverage is 100% and there are no unexpected changes,
        # pass the project status.
        removed_code_behavior: fully_covered_patch

      - type: patch  # Measure lines adjusted in the pull request.
        # The minimum coverage ratio to send a success status is the base
        # commit coverage (pull request base or parent commit).
        target: auto
        # Allow the coverage to drop by this percentage.
        threshold: 1%
        # Only post patch status to pull requests.
        only_pulls: true

  individual_components:
    - component_id: package_beluga
      name: beluga
      paths:
        - beluga/**

    - component_id: package_beluga_amcl
      name: beluga_amcl
      paths:
        - beluga_amcl/**

    - component_id: package_beluga_ros
      name: beluga_ros
      paths:
        - beluga_ros/**
      statuses:
        # Beluga ROS has its own statutes since it currently has lower coverage.
        # See `default_rules` for details.
        - type: project
          target: 90%
          removed_code_behavior: fully_coverred_patch

        - type: patch
          target: auto
          threshold: 1%
          only_pulls: true

coverage:
  # Disable project and patch level coverage status check in favor of
  # individual component status checks.
  status:
    project: off
    patch: off

# Fixes to correctly map coverage information in our uploaded report
# to the corresponding files in the repository.
fixes:
  - "src/beluga/::"  # "src/beluga/path/" => "path/"

github_checks:
  # Disable GitHub line-by-line annotations.
  annotations: false

# Exclude test and benchmark directories from code coverage reports.
ignore:
  - "beluga/test"
  - "beluga_amcl/test"
  - "beluga_ros/test"
  - "beluga_system_tests/test"

Use KaTeX as backend for pseudocode rendering
  docs/concepts/key-concepts.md
Due: none

Update the Motion model explanation
  beluga_tutorial/README.md
Due: none

Use KaTeX as backend for pseudocode rendering (#359)
  docs/concepts/key-concepts.md
Due: none

Add the Sensor Model explanation
  beluga_tutorial/README.md
Due: none

Add example NDT node in beluga_example
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_example/beluga_example/launch_utils.py
  beluga_example/launch/ndt_simulation.launch.xml
  beluga_example/launch/utils/ndt_localization_launch.py
  beluga_example/maps/turtlebot3_world.hdf5
  beluga_example/params/default_ndt.ros2.yaml
  beluga_example/rviz/ndt_rviz.ros2.rviz
Due: beluga, beluga_amcl

Update Sensor Model explanation
  beluga_tutorial/README.md
Due: none

Fix likelihood test
  beluga/test/beluga/sensor/test_ndt_model.cpp
Due: none

Isolate Flatland dependency
  beluga_example/README.md
  beluga_example/colcon.pkg
  beluga_example/package.xml
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
Due: none

Style beluga_example README.md note
  beluga_example/README.md
Due: none

Revert "Style beluga_example README.md note"
  beluga_example/README.md
Due: none

Update resample explanation
  beluga_tutorial/README.md
Due: none

Parametrize neighbor kernel
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga, beluga_amcl

Add PLY to NDT conversion script
  beluga_ros/setup.cfg
  beluga_ros/src/beluga_ros/__init__.py
  beluga_ros/src/beluga_ros/ply_reader.py
  beluga_ros/src/beluga_ros/ply_to_ndt.py
Due: beluga_ros

Address review comments
  beluga_ros/package.xml
  beluga_ros/src/beluga_ros/__init__.py
  beluga_ros/src/beluga_ros/ply_reader.py
  beluga_ros/src/beluga_ros/ply_to_ndt.py
Due: beluga_ros

Address Mich's comments
  beluga_example/README.md
  beluga_example/launch/ndt_simulation.launch.xml
  beluga_example/launch/perfect_odometry.launch
  beluga_example/launch/perfect_odometry.launch.xml
  beluga_example/launch/simulation.launch
  beluga_example/launch/simulation.launch.xml
  beluga_example/launch/utils/ndt_localization_launch.py
  beluga_example/rviz/amcl.ros.rviz
  beluga_example/rviz/amcl.ros2.rviz
  beluga_example/rviz/ndt_amcl.ros2.rviz
  docs/getting-started/quickstart.md
Due: none

Add conversion script from PLY to NDT (#363)
  beluga_ros/package.xml
  beluga_ros/setup.cfg
  beluga_ros/src/beluga_ros/__init__.py
  beluga_ros/src/beluga_ros/ply_to_ndt.py
Due: beluga_ros

Isolate Flatland dependency (#361)
  beluga_example/README.md
  beluga_example/colcon.pkg
  beluga_example/package.xml
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
Due: none

Revert "Add conversion script from PLY to NDT (#363)"
  beluga_ros/package.xml
  beluga_ros/setup.cfg
  beluga_ros/src/beluga_ros/__init__.py
  beluga_ros/src/beluga_ros/ply_to_ndt.py
Due: beluga_ros

Add example for NDT sensor model in beluga_example (#360)
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_example/README.md
  beluga_example/beluga_example/launch_utils.py
  beluga_example/launch/ndt_simulation.launch.xml
  beluga_example/launch/perfect_odometry.launch
  beluga_example/launch/perfect_odometry.launch.xml
  beluga_example/launch/simulation.launch
  beluga_example/launch/simulation.launch.xml
  beluga_example/launch/utils/ndt_localization_launch.py
  beluga_example/maps/turtlebot3_world.hdf5
  beluga_example/params/default_ndt.ros2.yaml
  beluga_example/rviz/amcl.ros.rviz
  beluga_example/rviz/amcl.ros2.rviz
  beluga_example/rviz/ndt_amcl.ros2.rviz
  docs/getting-started/quickstart.md
Due: beluga, beluga_amcl

Revert "Add conversion script from PLY to NDT" (#364)
  beluga_ros/package.xml
  beluga_ros/setup.cfg
  beluga_ros/src/beluga_ros/__init__.py
  beluga_ros/src/beluga_ros/ply_to_ndt.py
Due: beluga_ros

Improve ROS version detection logic
  beluga_amcl/CMakeLists.txt
  beluga_ros/CMakeLists.txt
Due: beluga_amcl, beluga_ros

Improve ROS version detection logic (#366)
  beluga_amcl/CMakeLists.txt
  beluga_ros/CMakeLists.txt
Due: beluga_amcl, beluga_ros

Update more ROS version detection logic
  beluga_example/CMakeLists.txt
Due: none

Update more ROS version detection logic (#367)
  beluga_example/CMakeLists.txt
Due: none

Update missed ROS version detection logic
  beluga_benchmark/CMakeLists.txt
  beluga_system_tests/CMakeLists.txt
Due: none

Update missed ROS version detection logic (#368)
  beluga_benchmark/CMakeLists.txt
  beluga_system_tests/CMakeLists.txt
Due: none

Add missing beluga_benchmark deps
  beluga_benchmark/package.xml
Due: none

Drop ament_lint_auto dependencies
  beluga_benchmark/CMakeLists.txt
Due: none

Drop ament_lint_auto dependencies (#370)
  beluga_benchmark/CMakeLists.txt
Due: none

Ensure we exercise random state generation every time
  beluga/test/beluga/algorithm/test_amcl_core.cpp
Due: none

Ensure we exercise random state generation every time (#371)
  beluga/test/beluga/algorithm/test_amcl_core.cpp
Due: none

Use geometry_msgs::msg::PoseArray instead of nav2_msgs::msg::ParticleCloud
  beluga_amcl/README.md
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/docs/ros2-reference.md
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/include/beluga_amcl/ros2_common.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
  beluga_amcl/test/test_utils/node_testing.hpp
  beluga_example/params/default_ndt.ros2.yaml
  beluga_example/rviz/amcl.ros2.rviz
  beluga_ros/include/beluga_ros/messages.hpp
  beluga_ros/include/beluga_ros/particle_cloud.hpp
  beluga_ros/test/cmake/ament.cmake
  beluga_ros/test/cmake/catkin.cmake
  beluga_ros/test/test_messages.cpp
  beluga_ros/test/test_particle_cloud.cpp
Due: beluga_amcl, beluga_ros

Remap /turtlebot/scan to /scan
  beluga_example/launch/utils/flatland_launch.py
  beluga_example/params/default_ndt.ros2.yaml
Due: none

Remove ament_index_cpp dependency
  beluga_amcl/test/test_ndt_amcl_node.cpp
Due: none

Handle degenerate distribution case
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_ndt_amcl_node.cpp
  beluga_ros/include/beluga_ros/particle_cloud.hpp
  beluga_ros/test/test_particle_cloud.cpp
Due: beluga_ros

Fix tf broadcasting
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/ndt_amcl_node.cpp
Due: beluga_amcl

Please clang-tidy
  beluga_ros/test/test_particle_cloud.cpp
Due: none

Also for ROS 1
  beluga_example/launch/utils/flatland.launch
Due: none

Remove ament_index_cpp dependency (#374)
  beluga_amcl/test/test_ndt_amcl_node.cpp
Due: none

Remap `/turtlebot/scan` to `/scan` for Flatland (#373)
  beluga_example/launch/utils/flatland.launch
  beluga_example/launch/utils/flatland_launch.py
  beluga_example/params/default_ndt.ros2.yaml
Due: none
