Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257

ament_copyright:
  name: Fix copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright --add-missing "Ekumen, Inc." apache2
  language: system

ament_uncrustify:
  name: '[others] Fix C++ format (uncrustify)'
  entry: ament_uncrustify --reformat
  language: system

ament_cpplint:
  name: '[others] Check C++ format (cpplint)'
  entry: ament_cpplint
  language: system

ament_flake8:
  name: '[others] Check Python format (flake8)'
  entry: ament_flake8
  language: system

ament_pep257:
  name: '[others] Check Python format (pep257)'
  entry: ament_pep257
  language: system

Add a custom target to build documentation
  .github/workflows/ci_pipeline.yml
  beluga/.gitignore
  beluga/CMakeLists.txt
  beluga/docs/CMakeLists.txt
  beluga/docs/Doxyfile
  tools/README.md
  tools/build-and-test.sh
  tools/doxygen.sh
  tools/run-clang-tidy.sh
Due: none

Group logs
  tools/build-and-test.sh
Due: none

Re-organize infrastructure scripts (#197)
  .codecov.yml
  .github/workflows/ci_pipeline.yml
  .gitignore
  GETTING_STARTED.md
  beluga/.gitignore
  beluga/CMakeLists.txt
  beluga/docs/CMakeLists.txt
  beluga/docs/Doxyfile
  beluga/docs/generate_docs.sh
  beluga/run-clang-tidy.sh
  beluga_system_tests/run-clang-tidy.sh
  docker/images/humble/Dockerfile
  docker/images/rolling/Dockerfile
  docker/run.sh
  tools/README.md
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: none

Optimize Beam sensor model runtime performance
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Optimize likelihood field model runtime performance
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_benchmark/beluga_benchmark/compare_results.py
Due: ament_copyright, ament_flake8, ament_pep257

Fix dockerfile and add docker pipeline
  .github/workflows/docker_ci_pipeline.yml
  docker/images/humble/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Define platform
  .github/workflows/docker_ci_pipeline.yml
Due: none

Fix minor key error
  .github/workflows/docker_ci_pipeline.yml
Due: none

Fix dockerfile and add docker pipeline (#202)
  .github/workflows/docker_ci_pipeline.yml
  docker/images/humble/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Change default threading mode to the less cpu-consuming one
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Optimize beam sensor model runtime performance (#200)
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Change default threading mode to the less cpu-consuming one (#203)
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Clone submodules recursively
  .github/workflows/ci_pipeline.yml
Due: none

Install doxygen-awesome
  .gitmodules
  beluga/docs/Doxyfile
  beluga/docs/doxygen_extra.css
Due: none

Remove submodule
  .gitmodules
Due: none

Use FetchContent to clone repository
  beluga/docs/CMakeLists.txt
  beluga/docs/Doxyfile
Due: none

Revert "Clone submodules recursively"
  .github/workflows/ci_pipeline.yml
Due: none

Install doxygen-awesome (#204)
  beluga/docs/CMakeLists.txt
  beluga/docs/Doxyfile
  beluga/docs/doxygen_extra.css
Due: none

Optimize likelihood field model runtime performance (#199)
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_benchmark/beluga_benchmark/compare_results.py
Due: ament_copyright, ament_flake8, ament_pep257

Add .lcovrc file
  .lcovrc
  beluga_amcl/src/amcl_node.cpp
  tools/build-and-test.sh
Due: ament_copyright, ament_uncrustify, ament_cpplint

Disable branch and function coverage (#205)
  .lcovrc
  beluga_amcl/src/amcl_node.cpp
  tools/build-and-test.sh
Due: ament_copyright, ament_uncrustify, ament_cpplint

Refactor and test
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/include/beluga/test/raycasting.hpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Rewrite baseline grid
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Add baseline raycast microbenchmark
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Extend benchmark to different bearings
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Extend raycast microbenchmarks (#201)
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/include/beluga/test/raycasting.hpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Fix a bug that prevents a full series from being displayed when there a few bad samples
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/beluga_benchmark/timem_results.py
Due: ament_copyright, ament_flake8, ament_pep257

Change default settings to replay at x1 to avoid distorting cpu usage stats
  beluga_benchmark/scripts/benchmarking/parameterized_run
  beluga_example/launch/example_rosbag_launch.py
Due: ament_copyright, ament_flake8, ament_pep257

Change MessageFilter settings to use the same tolerance as AMCL
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Fix small issues with plotter and update MessageFilter tolerance before generating new report
  beluga_amcl/src/amcl_node.cpp
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/beluga_benchmark/timem_results.py
  beluga_benchmark/scripts/benchmarking/parameterized_run
  beluga_example/launch/example_rosbag_launch.py
Due: ament_copyright, ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257

Fix typos in configuration files
  beluga_benchmark/docs/reports/2023-03-16/params.yaml
  beluga_benchmark/docs/reports/2023-03-16/params_par.yaml
  beluga_benchmark/docs/reports/2023-05-20/beam_params.yaml
  beluga_benchmark/docs/reports/2023-05-20/beam_params_par.yaml
  beluga_benchmark/docs/reports/2023-05-20/likelihood_params.yaml
  beluga_benchmark/docs/reports/2023-05-20/likelihood_params_par.yaml
  beluga_benchmark/docs/reports/2023-06-03/beam_params.yaml
  beluga_benchmark/docs/reports/2023-06-03/beam_params_par.yaml
  beluga_benchmark/docs/reports/2023-06-03/likelihood_params.yaml
  beluga_benchmark/docs/reports/2023-06-03/likelihood_params_par.yaml
  beluga_example/config/params.yaml
Due: none

Generate an updated report
  beluga_amcl/README.md
  beluga_benchmark/docs/reports/2023-05-20/REPORT.md
  beluga_benchmark/docs/reports/2023-06-03/REPORT.md
  beluga_benchmark/docs/reports/2023-06-03/beam_beluga_seq_vs_amcl_log.png
  beluga_benchmark/docs/reports/2023-06-03/beam_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-06-03/beam_params.yaml
  beluga_benchmark/docs/reports/2023-06-03/beam_params_par.yaml
  beluga_benchmark/docs/reports/2023-06-03/likelihood_beluga_seq_vs_amcl_log.png
  beluga_benchmark/docs/reports/2023-06-03/likelihood_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-06-03/likelihood_params.yaml
  beluga_benchmark/docs/reports/2023-06-03/likelihood_params_par.yaml
Due: none

Add new report after recent performance updates (#208)
  beluga_amcl/README.md
  beluga_benchmark/docs/reports/2023-05-20/REPORT.md
  beluga_benchmark/docs/reports/2023-05-20/likelihood_params.yaml
  beluga_benchmark/docs/reports/2023-05-20/likelihood_params_par.yaml
  beluga_benchmark/docs/reports/2023-06-03/REPORT.md
  beluga_benchmark/docs/reports/2023-06-03/beam_beluga_seq_vs_amcl_log.png
  beluga_benchmark/docs/reports/2023-06-03/beam_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-06-03/beam_params.yaml
  beluga_benchmark/docs/reports/2023-06-03/beam_params_par.yaml
  beluga_benchmark/docs/reports/2023-06-03/likelihood_beluga_seq_vs_amcl_log.png
  beluga_benchmark/docs/reports/2023-06-03/likelihood_beluga_vs_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-06-03/likelihood_params.yaml
  beluga_benchmark/docs/reports/2023-06-03/likelihood_params_par.yaml
  beluga_example/config/params.yaml
Due: none

Support beluga builds on Ubuntu Focal
  beluga/cmake/Config.cmake.in
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/raycasting/bresenham.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/utility.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/package.xml
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/include/beluga/test/utils/eigen_initializers.hpp
  beluga/test/beluga/include/beluga/test/utils/sophus_matchers.hpp
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
  beluga/test/beluga/resampling_policies/test_resample_on_motion_policy.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_main.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Leverage rule of zero
  beluga/include/beluga/algorithm/raycasting/bresenham.hpp
Due: ament_copyright

Set removed_code_behavior explicitly
  .codecov.yml
Due: none

Add multi-pass guarantee test
  beluga/test/beluga/algorithm/raycasting/test_bresenham.cpp
Due: ament_copyright

Support `beluga` builds on Ubuntu Focal (#209)
  .codecov.yml
  beluga/cmake/Config.cmake.in
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/raycasting/bresenham.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/utility.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/package.xml
  beluga/test/beluga/algorithm/raycasting/test_bresenham.cpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/include/beluga/test/utils/eigen_initializers.hpp
  beluga/test/beluga/include/beluga/test/utils/sophus_matchers.hpp
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
  beluga/test/beluga/resampling_policies/test_resample_on_motion_policy.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_main.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Fix Noetic container
  docker/images/noetic/Dockerfile
Due: none

Path conditions:
  ament_copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  ament_uncrustify: any of: beluga_amcl\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_cpplint: any of: beluga_amcl\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_flake8: any of: \.py$, but not: (beluga|beluga_system_tests)\/
  ament_pep257: any of: \.py$, but not: (beluga|beluga_system_tests)\/
