Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

ament_copyright:
  name: Fix copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright --add-missing "Ekumen, Inc." apache2
  language: system

compile_commands:
  name: '[beluga] Export compile commands'
  description: Creates the compile_commands.json required by clang-tidy.
  entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
  fail_fast: true
  pass_filenames: false
  language: system

ament_clang_format:
  name: '[beluga] Fix C++ format (clang-format)'
  entry: ament_clang_format --config ./beluga/.clang-format --reformat
  language: system

ament_clang_tidy:
  name: '[beluga] Fix C++ errors (clang-tidy)'
  entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
  pass_filenames: false
  language: system

ament_uncrustify:
  name: '[others] Fix C++ format (uncrustify)'
  entry: ament_uncrustify --reformat
  language: system

ament_cpplint:
  name: '[others] Check C++ format (cpplint)'
  entry: ament_cpplint
  language: system

Add remaning tests
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/mixin/test_descriptor.cpp
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/test_mixin.cpp
  beluga/test/beluga/test_storage.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Update documentation, at last
  beluga/docs/Doxyfile
  beluga/docs/README.md
  beluga/docs/doxygen_cites.bib
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/descriptor.hpp
  beluga/include/beluga/mixin/utility.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/include/beluga/resampling_policies.hpp
  beluga/include/beluga/resampling_policies/resampling_policies_poller.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/type_traits.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Add missing include CTest
  beluga/test/CMakeLists.txt
Due: none

Avoid running benchmarks by default with CTest
  beluga/test/benchmark/CMakeLists.txt
Due: none

Use default version in write_basic_package_version_file()
  beluga/CMakeLists.txt
Due: none

Remove trying to find GMock with PkgConfig
  beluga/test/CMakeLists.txt
Due: none

nit: use only one line if possible
  beluga/CMakeLists.txt
Due: none

benchmark_main must be public link library
  beluga/test/benchmark/CMakeLists.txt
Due: none

Keep ament_clang_tidy for the moment
  .pre-commit-config.yaml
  beluga/package.xml
Due: none

fix linters
  .pre-commit-config.yaml
  beluga/CMakeLists.txt
Due: none

Remove outdated comment
  beluga/test/CMakeLists.txt
Due: none

Migrate beluga from ament_cmake to cmake (#133)
  .clang-format
  .clang-tidy
  .pre-commit-config.yaml
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/package.xml
  beluga/src/clang_tidy_findable.cpp
  beluga/test/CMakeLists.txt
  beluga/test/beluga/CMakeLists.txt
  beluga/test/benchmark/CMakeLists.txt
  beluga_amcl/CMakeLists.txt
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Apply suggestions from code review
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Add alpha5 to example configuration
  beluga_example/config/params.yaml
Due: none

Address peer review comments
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/mixin/descriptor.hpp
  beluga/include/beluga/mixin/utility.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/sensor.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Mixins and types with invariants are classes
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/resampling_policies/resample_interval_policy.hpp
  beluga/include/beluga/resampling_policies/resample_on_motion_policy.hpp
  beluga/include/beluga/resampling_policies/resampling_policies_poller.hpp
  beluga/include/beluga/resampling_policies/selective_resampling_policy.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/storage.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Add missing public specifier
  beluga/include/beluga/resampling_policies/resampling_policies_poller.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

clang-tidy config
  .pre-commit-config.yaml
Due: none

Fix all clang-tidy errors
  .pre-commit-config.yaml
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/ciabatta/ciabatta.hpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
  beluga/test/beluga/resampling_policies/test_resample_interval_policy.cpp
  beluga/test/beluga/resampling_policies/test_resample_on_motion_policy.cpp
  beluga/test/beluga/resampling_policies/test_resampling_policies_poller.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/utils/sophus_matchers.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Fixes after rebasing to please clang-tidy
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/storage.hpp
  beluga/package.xml
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/test_mixin.cpp
  beluga/test/beluga/test_storage.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Always fail if cannot generate compile commands, pass -std=c++17 directly to clang-tidy
  .pre-commit-config.yaml
  beluga/CMakeLists.txt
Due: none

Fix error
  .pre-commit-config.yaml
Due: none

Fix automatic-fix of include-guard issue that clang-tidy applied
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/include/beluga/test/utils/sophus_matchers.hpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Address nit
  beluga/include/beluga/algorithm/distance_map.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

val_type -> difference_type
  beluga/include/beluga/algorithm/sampling.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Address peer review comments
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/ciabatta/ciabatta.hpp
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Use `clang_tidy` instead of `ament_clang_tidy` (#135)
  .pre-commit-config.yaml
  beluga/CMakeLists.txt
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/storage.hpp
  beluga/include/ciabatta/ciabatta.hpp
  beluga/package.xml
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/include/beluga/test/utils/sophus_matchers.hpp
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
  beluga/test/beluga/resampling_policies/test_resample_interval_policy.cpp
  beluga/test/beluga/resampling_policies/test_resample_on_motion_policy.cpp
  beluga/test/beluga/resampling_policies/test_resampling_policies_poller.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/beluga/test_mixin.cpp
  beluga/test/beluga/test_storage.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Make tuple vector work seamlessly with pairs
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/test/beluga/test_storage.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Switch back TupleVector and VectorTuple
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Use more explicit names
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Fix linter issue
  beluga/test/beluga/test_tuple_vector.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Make tuple vector work seamlessly with pairs (#140)
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/test/beluga/test_storage.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Test MonteCarloLocalization2d
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Fix .pre-commit-config.yaml, apply clang-tidy suggestions
  .pre-commit-config.yaml
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Remove unused files
  beluga_system_tests/.clang-format
  beluga_system_tests/.clang-tidy
Due: none

Workaround to fix ranges::copy error
  beluga/include/beluga/storage.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

'Cool' workarround
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga_system_tests/package.xml
  beluga_system_tests/test/CMakeLists.txt
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

Try fixing pre-commit
  .github/workflows/ci_pipeline.yml
Due: none

Path conditions:
  ament_copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  compile_commands: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_clang_format: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_clang_tidy: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: beluga\/
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: beluga\/
