Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# Run against all the files: pre-commit run -a
# Install the git hook scripts: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs

  - repo: local
    hooks:
      - id: ament_copyright
        name: Fix copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright --add-missing "Ekumen, Inc." apache2
        types_or: [c++, python]
        language: system

      - id: ament_uncrustify
        name: "[others] Fix C++ format (uncrustify)"
        entry: ament_uncrustify --reformat
        files: beluga_amcl\/
        types: [c++]
        language: system

      - id: ament_cpplint
        name: "[others] Check C++ format (cpplint)"
        entry: ament_cpplint
        files: beluga_amcl\/
        types: [c++]
        language: system

      - id: ament_flake8
        name: "[others] Check Python format (flake8)"
        entry: ament_flake8
        exclude: (beluga|beluga_system_tests)\/
        types: [python]
        language: system

      - id: ament_pep257
        name: "[others] Check Python format (pep257)"
        entry: ament_pep257
        exclude: (beluga|beluga_system_tests)\/
        types: [python]
        language: system

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      name: Fix C++ format (clang-format)
      args: ["-style=file:.clang-format"]
      exclude: beluga_amcl\/
      types: [c++]

  - repo: https://github.com/psf/black
    rev:  22.10.0
    hooks:
      - id: black
        name: "[others] Fix Python format (black)"
        entry: black --skip-string-normalization

Fix map to odom transform
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Fix map to odom transform calculation (#212)
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Fix typo in pull request template
  .github/pull_request_template.md
Due: none

Remove simulated odometry noise
  beluga_example/models/turtlebot.model.yaml
  beluga_example/package.xml
Due: none

Configure vcstool and use docker multi-stage builds
  .gitmodules
  docker/files/humble.repos
  docker/files/rolling.repos
  docker/images/humble/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Fix typo in pull request template (#214)
  .github/pull_request_template.md
Due: none

Configure vcstool and use docker multi-stage builds (#216)
  .gitmodules
  docker/files/humble.repos
  docker/files/rolling.repos
  docker/images/humble/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Set rosbag_launch as a utility
  GETTING_STARTED.md
  beluga_benchmark/scripts/benchmarking/parameterized_run
  beluga_benchmark/scripts/profiling/profile_amcl_with_bagfile
  beluga_example/README.md
  beluga_example/launch/perfect_odometry_launch.py
  beluga_example/launch/utils/rosbag_launch.py
Due: ament_copyright, ament_flake8, ament_pep257

Use default playback rate when profilying
  beluga_benchmark/scripts/profiling/profile_amcl_with_bagfile
Due: none

Fix typos in argument descriptions
  beluga_example/launch/utils/localization_launch.py
Due: ament_copyright, ament_flake8, ament_pep257

Use launch XML format for less verbose files
  GETTING_STARTED.md
  beluga_benchmark/scripts/benchmarking/parameterized_run
  beluga_benchmark/scripts/profiling/profile_amcl_with_bagfile
  beluga_example/README.md
  beluga_example/launch/perfect_odometry.launch.xml
  beluga_example/launch/perfect_odometry_launch.py
  beluga_example/launch/simulation.launch.xml
  beluga_example/launch/simulation_launch.py
  beluga_example/launch/utils/localization_launch.py
  beluga_example/launch/utils/rviz_launch.py
Due: ament_copyright, ament_flake8, ament_pep257

Fix punctuation
  beluga_example/README.md
Due: none

Shorten the name of the argument
  beluga_benchmark/scripts/benchmarking/parameterized_run
  beluga_example/launch/perfect_odometry.launch.xml
  beluga_example/launch/simulation.launch.xml
  beluga_example/launch/utils/localization_launch.py
Due: ament_copyright, ament_flake8, ament_pep257

Add ROS Noetic CI infrastructure
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  docker/images/noetic/Dockerfile
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: none

Relocate pre-commit install in CI
  .github/workflows/ci_pipeline.yml
Due: none

Install pip for lint CI job
  .github/workflows/ci_pipeline.yml
Due: none

Install colcon extensions for build CI job
  .github/workflows/ci_pipeline.yml
Due: none

Drop ROS 2 Rolling CI jobs
  .github/workflows/ci_pipeline.yml
Due: none

Install colcon mixin extension for build CI job
  .github/workflows/ci_pipeline.yml
Due: none

Install git for build CI job
  .github/workflows/ci_pipeline.yml
Due: none

Disable gnu-zero-variadic-macro-arguments warnings
  beluga/CMakeLists.txt
Due: none

Fix include order warning
  beluga/test/beluga/type_traits/test_strongly_typed_numeric.cpp
Due: ament_copyright

Bring all config files on docker image build
  docker/images/noetic/Dockerfile
Due: none

Upload humble CI artifacts only
  .github/workflows/ci_pipeline.yml
Due: none

Add ROS Noetic CI infrastructure (#217)
  .github/workflows/ci_pipeline.yml
  .github/workflows/docker_ci_pipeline.yml
  beluga/CMakeLists.txt
  beluga/test/beluga/type_traits/test_strongly_typed_numeric.cpp
  docker/images/noetic/Dockerfile
  tools/build-and-test.sh
  tools/run-clang-tidy.sh
Due: ament_copyright

Fix flaky transform value test
  beluga_amcl/test/test_amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Fix flaky transform test (#220)
  beluga_amcl/test/test_amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Fix timem output in parameterized runs
  beluga_benchmark/scripts/benchmarking/parameterized_run
Due: none

Fix timem output in parameterized runs (#221)
  beluga_benchmark/scripts/benchmarking/parameterized_run
Due: none

Add ROS Noetic support to beluga_amcl
  beluga_amcl/CMakeLists.txt
  beluga_amcl/README.md
  beluga_amcl/cmake/ament.cmake
  beluga_amcl/cmake/beluga_amcl-extras.cmake
  beluga_amcl/cmake/catkin.cmake
  beluga_amcl/cmake/lib/nodelets.cmake
  beluga_amcl/cmake/lib/templates/nodelet_executable_main.cpp.in
  beluga_amcl/config/Amcl.cfg
  beluga_amcl/docs/PARAMETERS.md
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/include/beluga_amcl/particle_filtering.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/include/beluga_amcl/ros_interfaces.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/nodelet_plugins.xml
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/src/main.cpp
  beluga_amcl/src/particle_filtering.cpp
  beluga_amcl/test/CMakeLists.txt
  beluga_amcl/test/amcl_nodelet.test
  beluga_amcl/test/cmake/ament.cmake
  beluga_amcl/test/cmake/catkin.cmake
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
  tools/build-and-test.sh
Due: ament_copyright, ament_uncrustify, ament_cpplint

Remove bondcpp in ROS 1
  beluga_amcl/include/beluga_amcl/private/amcl_nodelet.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_nodelet.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Source distro upon rosdep install
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: none

Update beluga_amcl documentation
  beluga_amcl/README.md
  beluga_amcl/docs/PARAMETERS.md
Due: none

Fix broken hyperlinks
  beluga_amcl/README.md
  beluga_amcl/docs/PARAMETERS.md
Due: none

Source distro upon rosdep install in CI
  .github/workflows/ci_pipeline.yml
Due: none

Reorder beluga_amcl deps
  beluga_amcl/package.xml
Due: none

One command per line in Dockerfile RUN
  docker/images/humble/Dockerfile
  docker/images/noetic/Dockerfile
  docker/images/rolling/Dockerfile
Due: none
