Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, beluga_compile_commands, beluga_system_tests_compile_commands, ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# Run against all the files: pre-commit run -a
# Install the git hook scripts: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs

  - repo: local
    hooks:
      - id: ament_copyright
        name: Fix copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright --add-missing "Ekumen, Inc." apache2
        types_or: [c++, python]
        language: system

      - id: beluga_compile_commands
        name: "[beluga] Export compile commands"
        description: Creates the compile_commands.json required by clang-tidy.
        entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        fail_fast: true
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system
      
      - id: beluga_system_tests_compile_commands
        name: "[beluga_system_tests] Export compile commands"
        description: Creates the compile_commands.json required by clang-tidy.
        entry: cmake -S ./beluga_system_tests -B /tmp/beluga_system_tests -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        fail_fast: true
        files: beluga_system_tests\/
        types: [c++]
        pass_filenames: false
        language: system

      - id: ament_uncrustify
        name: "[others] Fix C++ format (uncrustify)"
        entry: ament_uncrustify --reformat
        files: beluga_amcl\/
        types: [c++]
        language: system

      - id: ament_cpplint
        name: "[others] Check C++ format (cpplint)"
        entry: ament_cpplint
        files: beluga_amcl\/
        types: [c++]
        language: system

      - id: ament_flake8
        name: "[others] Check Python format (flake8)"
        entry: ament_flake8
        exclude: (beluga|beluga_system_tests)\/
        types: [python]
        language: system

      - id: ament_pep257
        name: "[others] Check Python format (pep257)"
        entry: ament_pep257
        exclude: (beluga|beluga_system_tests)\/
        types: [python]
        language: system

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      args: ["-style=file:.clang-format"]
      exclute: beluga_amcl\/
      types: [c++]

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        alias: beluga_clang_tidy
        args: [
          "-p=/tmp/beluga", "--fix",
          "-header-filter=.*", "--quiet", "-extra-arg=-std=c++17"
        ]
        files: beluga\/
        types: [c++]
      - id: clang-tidy
        alias: beluga_system_tests_clang_tidy
        args: [
          "-p=/tmp/beluga_system_tests", "--fix",
          "-header-filter=.*", "--quiet", "-extra-arg=-std=c++17"
        ]
        files: beluga_system_tests\/
        types: [c++]

  - repo: https://github.com/psf/black
    rev:  22.10.0
    hooks:
      - id: black
        name: "[others] Fix Python format (black)"
        entry: black --skip-string-normalization

Remove debug related line
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

beluga_system_tests needs beluga built to generate compile commands
  .github/workflows/ci_pipeline.yml
Due: none

Higher tolerance to make sure the test passes
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_system_tests_compile_commands

Do not add update_sensor() overload
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_compile_commands, beluga_system_tests_compile_commands

fix
  beluga/include/beluga/storage.hpp
Due: ament_copyright, beluga_compile_commands

Parameterize particle filter instance
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_system_tests_compile_commands

wip
  .pre-commit-config.yaml
  beluga_amcl/CMakeLists.txt
  beluga_system_tests/.clang-format
  beluga_system_tests/.clang-tidy
  beluga_system_tests/CMakeLists.txt
  beluga_system_tests/package.xml
  beluga_system_tests/test/CMakeLists.txt
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_system_tests_compile_commands

Add beluga_system_tests to ROS_PACKAGES
  .github/workflows/ci_pipeline.yml
Due: none

Undo changes to StoragePolicy::initialize_particles()
  beluga/include/beluga/storage.hpp
Due: ament_copyright, beluga_compile_commands

another try
  .github/workflows/ci_pipeline.yml
Due: none

Remove unnecessary code
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add git-lfs to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Adds strongly typed numeric util, weight and cluster are strongly typed.
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/type_traits/strongly_typed_numeric.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/test_storage.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/beluga/type_traits/test_strongly_typed_numeric.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: ament_copyright, beluga_compile_commands

Address last set of comments
  beluga/include/beluga/type_traits/strongly_typed_numeric.hpp
Due: ament_copyright, beluga_compile_commands

Add new line
  beluga/include/beluga/type_traits/strongly_typed_numeric.hpp
Due: ament_copyright, beluga_compile_commands

More whitespaces
  beluga/include/beluga/type_traits/strongly_typed_numeric.hpp
Due: ament_copyright, beluga_compile_commands

Add strong typedef for particle properties (#144)
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/type_traits/strongly_typed_numeric.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/test_storage.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/beluga/type_traits/test_strongly_typed_numeric.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
Due: ament_copyright, beluga_compile_commands

Address peer review comments
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
  beluga_amcl/CMakeLists.txt
  beluga_system_tests/package.xml
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_system_tests_compile_commands

Split public and private header files
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/private/execution_policy.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/main.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Address peer review comments
  beluga_benchmark/docs/reports/2023-03-16/REPORT.md
Due: none

Modify git-lfs settings
  .gitattributes
Due: none

Fix pre-commit step name
  .pre-commit-config.yaml
Due: none

Add name to pre-commit step
  .pre-commit-config.yaml
Due: none

Better formatting for variable initialization
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_system_tests_compile_commands

fix
  .pre-commit-config.yaml
Due: none

Revert "Add code of conduct (#106)"
  CODE_OF_CONDUCT.md
Due: none

Revert "Add code of conduct (#106)" (#145)
  CODE_OF_CONDUCT.md
Due: none

Spatial hash uses a different rotation in each axis
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga/include/beluga/localization.hpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/test_spatial_hash.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_spatial_hash.cpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, beluga_compile_commands, ament_uncrustify, ament_cpplint

Fix system test
  beluga/include/beluga/algorithm/sampling.hpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_compile_commands, beluga_system_tests_compile_commands

Lint
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_system_tests_compile_commands

Fix spatial hash documentation.
  beluga/include/beluga/algorithm/spatial_hash.hpp
Due: ament_copyright, beluga_compile_commands

Rename `mixin::make_unique` to `make_mixin`
  beluga/include/beluga/mixin.hpp
  beluga/test/beluga/test_mixin.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_compile_commands, beluga_system_tests_compile_commands, ament_uncrustify, ament_cpplint

Rename `mixin::make_unique` to `make_mixin` (#152)
  beluga/include/beluga/mixin.hpp
  beluga/test/beluga/test_mixin.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_compile_commands, beluga_system_tests_compile_commands, ament_uncrustify, ament_cpplint
