Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

.pre-commit-config.yaml:

# Run against all the files: pre-commit run -a
# Install the git hook scripts: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs

  - repo: local
    hooks:
      - id: ament_copyright
        name: Fix copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright --add-missing "Ekumen, Inc." apache2
        types_or: [c++, python]
        language: system

      - id: compile_commands
        name: "[beluga] Export compile commands"
        description: Creates the compile_commands.json required by clang-tidy.
        entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        fail_fast: true
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

      - id: ament_clang_format
        name: "[beluga] Fix C++ format (clang-format)"
        entry: ament_clang_format --config ./beluga/.clang-format --reformat
        files: beluga\/
        types: [c++]
        language: system

      - id: ament_clang_tidy
        name: "[beluga] Fix C++ errors (clang-tidy)"
        entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

      - id: ament_uncrustify
        name: "[others] Fix C++ format (uncrustify)"
        entry: ament_uncrustify --reformat
        exclude: beluga\/
        types: [c++]
        language: system

      - id: ament_cpplint
        name: "[others] Check C++ format (cpplint)"
        entry: ament_cpplint
        exclude: beluga\/
        types: [c++]
        language: system

  - repo: https://github.com/psf/black
    rev:  22.10.0
    hooks:
      - id: black
        name: "[others] Fix Python format (black)"
        entry: black --skip-string-normalization

warn() -> warning()
  beluga_example/beluga_example/launch_utils.py
Due: ament_copyright

Address peer review comment
  beluga/include/beluga/algorithm/estimation.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

More configurable launch files (#103)
  beluga_example/CMakeLists.txt
  beluga_example/beluga_example/__init__.py
  beluga_example/beluga_example/launch_utils.py
  beluga_example/launch/example_rosbag_launch.py
Due: ament_copyright

Refactor estimation mixin out of the particle filter (#104)
  beluga/docs/README.md
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

Add initial pose parameters
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add log
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add paramters to example yaml file
  beluga_example/config/params.yaml
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Add dot at end of sentence
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Address peer review comments
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Set initial pose from params (#105)
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright, ament_uncrustify, ament_cpplint

Broadcast map-to-odom transform
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  beluga_example/models/turtlebot.model.yaml
Due: ament_copyright, ament_uncrustify, ament_cpplint

Broadcast map-to-odom transform (#81)
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  beluga_example/models/turtlebot.model.yaml
Due: ament_copyright, ament_uncrustify, ament_cpplint

Create documentation issue report template
  .github/ISSUE_TEMPLATE/documentation_issue_report.md
Due: none

Fix typo in parameter description
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add code of conduct (#106)
  CODE_OF_CONDUCT.md
Due: none

Fix typo in parameter description (#114)
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add documentation issue report template (#113)
  .github/ISSUE_TEMPLATE/documentation_issue_report.md
Due: none

Add flake8 and pep256 to pre-commit hooks
  .pre-commit-config.yaml
  beluga_example/beluga_example/launch_utils.py
Due: ament_copyright

Update CI
  .github/workflows/ci_pipeline.yml
Due: none

Add flake8 and pep257 to pre-commit hooks (#115)
  .pre-commit-config.yaml
  beluga_example/beluga_example/launch_utils.py
Due: ament_copyright

Install only build and test dependencies
  .github/workflows/ci_pipeline.yml
Due: none

Reorder arguments
  .github/workflows/ci_pipeline.yml
Due: none

Rename steps
  .github/workflows/ci_pipeline.yml
Due: none

Merge code coverage step
  .github/workflows/ci_pipeline.yml
Due: none

Replace ROS action with individual commands (#116)
  .github/workflows/ci_pipeline.yml
Due: none

Record ground truth topic in bagfile
  beluga_example/launch/example_rosbag_launch.py
Due: ament_copyright

Automatically fix perf executable if needed
  docker/images/humble/Dockerfile
  docs/dev/PROFILING.md
Due: none

Configure bagfile output
  beluga_example/launch/example_rosbag_launch.py
Due: ament_copyright

Also record /odom
  beluga_example/launch/example_rosbag_launch.py
Due: ament_copyright

Add script to run benchmark with different amount of particles
  scripts/benchmarking/parameterized_run.sh
Due: none

Fix
  scripts/benchmarking/parameterized_run.sh
Due: none

Add postprocessing dependencies
  docker/images/humble/Dockerfile
Due: none

Fix pose timestamp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add copyright notice to bash scripts
  scripts/profiling/flamegraph.sh
  scripts/profiling/profile_amcl_with_bagfile.sh
Due: none

Fix parameter name
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add evo to docker image
  docker/images/humble/Dockerfile
Due: none

Address peer review comments
  scripts/benchmarking/parameterized_run.sh
Due: none

Remove unused param
  beluga_example/config/params.yaml
Due: none
