Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

.pre-commit-config.yaml:

# Run against all the files: pre-commit run -a
# Install the git hook scripts: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: no-commit-to-branch

  - repo: local
    hooks:
      - id: ament_copyright
        name: Fix copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        types: [c++]
        language: system

  - repo: local
    hooks:
      - id: cmake
        name: "[beluga] Export compile commands"
        description: Creates the compile_commands.json required by clang-tidy.
        entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        fail_fast: true
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

  - repo: local
    hooks:
      - id: ament_clang_format
        name: "[beluga] Fix C++ format (clang-format)"
        entry: ament_clang_format --config ./beluga/.clang-format --reformat
        files: beluga\/
        types: [c++]
        language: system

  - repo: local
    hooks:
      - id: ament_clang_tidy
        name: "[beluga] Fix C++ errors (clang-tidy)"
        entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

* Highlight code inline in text correctly. * Fix some \ref doxygen commands. * Other minor style changes in docs.
  beluga/docs/Doxyfile
  beluga/docs/css.css
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

publishing always map-to-odom
  .gitignore
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/src/amcl_node.cpp
  docker/run.sh
Due: ament_copyright

* css.css -> doxygen_extra.css * Modify custom css for inline code and code fragments.
  beluga/docs/Doxyfile
  beluga/docs/css.css
  beluga/docs/doxygen_extra.css
Due: none

Address peer review comments
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  docker/images/humble/Dockerfile
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

* New line after end of list in doxygen docs. * size_t -> std::size_t
  beluga/include/beluga/algorithm/sampling.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Complete documentation for beluga/algorithm header files (#59)
  beluga/docs/Doxyfile
  beluga/docs/doxygen_extra.css
  beluga/docs/generate_docs.sh
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/random.hpp
  docker/images/humble/Dockerfile
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Update CI pipeline to use the `main` branch
  .github/workflows/ci_pipeline.yml
Due: none

Update CI pipeline to use the `main` branch (#60)
  .github/workflows/ci_pipeline.yml
Due: none

wip
  beluga/include/beluga/motion/differential_drive_model.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Document motion and sensor models
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Publish map-to-odom transform (#40)
  .gitignore
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  docker/run.sh
Due: ament_copyright

Add \file directives
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Address peer review comments
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

noise parameters
  beluga_example/models/turtlebot.model.yaml
  beluga_example/worlds/turtlebot3_world.yaml
  docker/run.sh
Due: none

Update run.sh
  docker/run.sh
Due: none

Export AMCL as a loadable component
  beluga_amcl/CMakeLists.txt
  beluga_example/launch/example_component_launch.py
Due: none

Add comment about using teleop twist to move the example
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add example launch file
  beluga_example/launch/example_rosbag_launch.py
Due: none

Update CMakeLists.txt
  beluga_example/CMakeLists.txt
Due: none

New year...
  beluga_example/launch/example_rosbag_launch.py
Due: none

* Fix 'Probabilistic Robotics' citation. * Add dependencies to use \\cite command in doxygen. * Fix build.
  beluga/docs/Doxyfile
  beluga/docs/doxygen_cites.bib
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga_amcl/src/amcl_node.cpp
  docker/images/humble/Dockerfile
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix build
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Use public using statements in API
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix missing dependecy for \cite to work when generating html docs with doxygen
  docker/images/humble/Dockerfile
Due: none

Add documentation for motion and sensor models (#61)
  beluga/docs/Doxyfile
  beluga/docs/doxygen_cites.bib
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_amcl/src/amcl_node.cpp
  docker/images/humble/Dockerfile
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Export AMCL as a loadable component (#63)
  beluga_amcl/CMakeLists.txt
  beluga_example/launch/example_component_launch.py
Due: none

Add comment about using teleop twist keyboard (#64)
  CONTRIBUTING.md
Due: none

Document tuple_vector.hpp
  beluga/include/beluga/tuple_vector.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Document spatial_hash.hpp
  beluga/include/beluga/spatial_hash.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Document type traits
  beluga/include/beluga/type_traits/container_traits.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

* Fix \\file directives. * Document all files.
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/include/beluga/spatial_hash.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits.hpp
  beluga/include/beluga/type_traits/container_traits.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/views.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Remove aggregate initialization for parameters
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Extract common nodes from example launch files
  beluga_example/launch/example_component_launch.py
  beluga_example/launch/example_launch.py
  beluga_example/launch/example_rosbag_launch.py
  beluga_example/launch/utils/common_nodes_launch.py
  beluga_example/launch/utils/flatland_launch.py
Due: none

Extract common nodes from example launch files (#71)
  beluga_example/launch/example_component_launch.py
  beluga_example/launch/example_launch.py
  beluga_example/launch/example_rosbag_launch.py
  beluga_example/launch/utils/common_nodes_launch.py
  beluga_example/launch/utils/flatland_launch.py
Due: none

Fix node shutdown
  beluga_amcl/src/amcl_node.cpp
  beluga_example/launch/example_rosbag_launch.py
Due: ament_copyright

Remove the use of aggregate initialization (#70)
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Fix node clean up (#69)
  beluga_amcl/src/amcl_node.cpp
  beluga_example/launch/example_rosbag_launch.py
Due: ament_copyright
