Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

.pre-commit-config.yaml:

# Run against all the files: pre-commit run -a
# Install the git hook scripts: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: no-commit-to-branch

  - repo: local
    hooks:
      - id: ament_copyright
        name: Fix copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        types: [c++]
        language: system

  - repo: local
    hooks:
      - id: cmake
        name: "[beluga] Export compile commands"
        description: Creates the compile_commands.json required by clang-tidy.
        entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        fail_fast: true
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

  - repo: local
    hooks:
      - id: ament_clang_format
        name: "[beluga] Fix C++ format (clang-format)"
        entry: ament_clang_format --config ./beluga/.clang-format --reformat
        files: beluga\/
        types: [c++]
        language: system

  - repo: local
    hooks:
      - id: ament_clang_tidy
        name: "[beluga] Fix C++ errors (clang-tidy)"
        entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

Address code review comments
  beluga/include/beluga/motion/differential_drive_model.h
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add parameter comments
  beluga/include/beluga/motion/differential_drive_model.h
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add differential drive motion model (#28)
  beluga/include/beluga/motion.h
  beluga/include/beluga/motion/differential_drive_model.h
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/utils/sophus_matchers.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Change header file extensions
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/spatial_hash.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits.hpp
  beluga/include/beluga/type_traits/container_traits.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/views.hpp
  beluga/include/ciabatta/ciabatta.hpp
  beluga/src/clang_tidy_findable.cpp
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga/test/beluga/algorithm/test_exponential_filter.cpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/beluga/test_spatial_hash.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_spatial_hash.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Change include guard type
  beluga/.clang-tidy
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/spatial_hash.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits.hpp
  beluga/include/beluga/type_traits/container_traits.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/views.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Update missing include guard
  beluga/include/ciabatta/ciabatta.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Update header files in the beluga package (#29)
  beluga/.clang-tidy
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/spatial_hash.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/beluga/type_traits.hpp
  beluga/include/beluga/type_traits/container_traits.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/include/beluga/views.hpp
  beluga/include/ciabatta/ciabatta.hpp
  beluga/src/clang_tidy_findable.cpp
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga/test/beluga/algorithm/test_exponential_filter.cpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/beluga/test_spatial_hash.cpp
  beluga/test/beluga/test_tuple_vector.cpp
  beluga/test/benchmark/benchmark_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_spatial_hash.cpp
  beluga/test/benchmark/benchmark_tuple_vector.cpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add pose estimation publisher
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/convert.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix deprecated namespace
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/tuple_vector.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Rewrite and add tests
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_estimation.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Use tf2::convert
  beluga_amcl/include/beluga_amcl/convert.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Add comments for future reference
  beluga/include/beluga/algorithm/estimation.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add pose estimation publisher (#30)
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/convert.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix robot geometry
  beluga_example/models/turtlebot.model.yaml
  beluga_example/package.xml
Due: none

Parallelize sensor model update
  beluga/CMakeLists.txt
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/package.xml
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix robot geometry and reduce laser rate (#31)
  beluga_example/models/turtlebot.model.yaml
  beluga_example/package.xml
Due: none

Use parallel_policy instead of parallel_unsequenced_policy
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Parallelize sensor model update (#32)
  beluga/CMakeLists.txt
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/package.xml
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Integrate differential drive motion model
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/convert.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  beluga_example/models/turtlebot.model.yaml
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Address code review comments
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Add transform_tolerance parameter
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright

Integrate differential drive motion model (#33)
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/convert.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  beluga_example/models/turtlebot.model.yaml
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Parallelize motion model update
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Lint
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Parallelize motion model update (#34)
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add `sophus` conversion utilities
  beluga_amcl/include/beluga_amcl/convert.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Add comment about speed compensation
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Do range limit processing inside the function
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Create CONTRIBUTING.md (#42)
  CONTRIBUTING.md
Due: none

Add `sophus` conversion utilities (#36)
  beluga_amcl/include/beluga_amcl/convert.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Add lint step to CI
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
  beluga_example/launch/example_launch.py
Due: none

Don't build beluga_example
  .github/workflows/ci_pipeline.yml
Due: none

Add lint step to CI (#37)
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
  beluga_example/launch/example_launch.py
Due: none

Add helper files to generate doxygen docs
  beluga/.gitignore
  beluga/docs/Doxyfile
  beluga/docs/README.md
Due: none

Add initial documentation for particle_filter.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Minimize Doxyfile, so it's easier to check what I changed from defaults
  beluga/docs/Doxyfile
Due: none

Add new line before EOF in beluga/.gitignore
  beluga/.gitignore
Due: none

Use a docker image instead of setup-ros action
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
Due: none

Use a docker image instead of an action to setup ROS (#46)
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
Due: none
