Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257, beluga_clang-tidy, beluga_system_tests_clang-tidy

ament_copyright:
  name: Fix copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright --add-missing "Ekumen, Inc." apache2
  language: system

ament_uncrustify:
  name: '[others] Fix C++ format (uncrustify)'
  entry: ament_uncrustify --reformat
  language: system

ament_cpplint:
  name: '[others] Check C++ format (cpplint)'
  entry: ament_cpplint
  language: system

ament_flake8:
  name: '[others] Check Python format (flake8)'
  entry: ament_flake8
  language: system

ament_pep257:
  name: '[others] Check Python format (pep257)'
  entry: ament_pep257
  language: system

beluga_clang-tidy:
  name: '[beluga] C++ static-analysis (if available) (clang-tidy)'
  entry: python3 ./clang-tidy-script.py --build-directory /ws/build/beluga
  verbose: true
  language: system
  require_serial: true

beluga_system_tests_clang-tidy:
  name: '[beluga_system_tests] C++ static-analysis (if available) (clang-tidy)'
  entry: python3 ./clang-tidy-script.py --build-directory /ws/build/beluga_system_tests
  verbose: true
  language: system
  require_serial: true

fix workflow file
  .github/workflows/ci_pipeline.yml
Due: none

clang-tidy fixes + warn-as-errors
  .clang-tidy
  beluga/test/beluga/mixin/test_utility.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/beluga/type_traits/test_strongly_typed_numeric.cpp
Due: ament_copyright, beluga_clang-tidy

unrelated fix
  .github/workflows/ci_pipeline.yml
Due: none

upload script
  clang-tidy-script.py
Due: ament_copyright, ament_flake8, ament_pep257

Run clang-tidy in CI instead of using pre-commit for it
  .github/workflows/ci_pipeline.yml
  .pre-commit-config.yaml
  clang-tidy-script.py
Due: ament_copyright, ament_flake8, ament_pep257

fix
  .github/workflows/ci_pipeline.yml
Due: none

Run clang-format only compile_commands.json is available, warn otherwise
  .pre-commit-config.yaml
Due: none

Use run-clang-tidy script
  .github/workflows/ci_pipeline.yml
Due: none

Specify .clang-tidy location
  .github/workflows/ci_pipeline.yml
Due: none

Fixes to beluga_system_test
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_system_tests_clang-tidy

* Add script to easily run clang-tidy-locally. * Use the new script in CI workflow, for consistency. * Fix workflow step naming.
  .github/workflows/ci_pipeline.yml
  beluga/run-clang-tidy.sh
  beluga_system_tests/run-clang-tidy.sh
Due: none

probably fix CI
  .github/workflows/ci_pipeline.yml
Due: none

Address Nahuel's comments
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint, beluga_clang-tidy, beluga_system_tests_clang-tidy

Lint
  beluga/include/beluga/algorithm/spatial_hash.hpp
Due: ament_copyright, beluga_clang-tidy

Fix system test
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, beluga_system_tests_clang-tidy

Remove ament_clang_format from system tests
  beluga_system_tests/CMakeLists.txt
Due: none

Remove clang-tidy filter
  .github/workflows/ci_pipeline.yml
Due: none

Remove ament_clang_format from system tests (#155)
  .github/workflows/ci_pipeline.yml
  beluga_system_tests/CMakeLists.txt
Due: none

Addres Nahu's comments
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint, beluga_clang-tidy

Spatial hash for se2d is default constructible
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint, beluga_clang-tidy

Update default angular resolution
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add support for per-axis resolution when clustering (#146)
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/algorithm/spatial_hash.hpp
  beluga/include/beluga/localization.hpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/test_spatial_hash.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
  beluga/test/benchmark/benchmark_spatial_hash.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint, beluga_clang-tidy, beluga_system_tests_clang-tidy

Integrate sensor probabilities accross resampling iterations
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
Due: ament_copyright, beluga_clang-tidy

Integrate sensor probabilities across resampling iterations (#149)
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/benchmark_sampling.cpp
Due: ament_copyright, beluga_clang-tidy

Rename importance sample method to reweight
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint, beluga_clang-tidy, beluga_system_tests_clang-tidy

Fix benchmarking instructions
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Rename `importance_sample` method to `reweight` (#158)
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint, beluga_clang-tidy, beluga_system_tests_clang-tidy

Fix benchmarking instructions (#159)
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Add WeightedStateEstimator2d mixin
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/localization.hpp
  beluga/src/clang_tidy_findable.cpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: ament_copyright, beluga_clang-tidy

Add WeightedStateEstimator2d mixin (#161)
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/localization.hpp
  beluga/src/clang_tidy_findable.cpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: ament_copyright, beluga_clang-tidy

Remove Git LFS from the repository
  .gitattributes
  beluga_benchmark/docs/reports/2023-03-16/results-1.png
  beluga_benchmark/docs/reports/2023-03-16/results-2.png
  beluga_example/bags/perfect_odometry/rosbag2_2023_02_17-21_18_47_0.db3
  beluga_system_tests/test/bags/perfect_odometry/rosbag2_2023_02_17-21_18_47_0.db3
Due: none

Update README
  CONTRIBUTING.md
Due: none

Remove Git LFS from the CI workflow
  .github/workflows/ci_pipeline.yml
Due: none

Add beam model and raycasting
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
Due: ament_copyright, beluga_clang-tidy

Small changes, add defaults, variant
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint, beluga_clang-tidy

Lint
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
Due: ament_copyright, beluga_clang-tidy

Path conditions:
  ament_copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  ament_uncrustify: any of: beluga_amcl\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_cpplint: any of: beluga_amcl\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_flake8: any of: \.py$, but not: (beluga|beluga_system_tests)\/
  ament_pep257: any of: \.py$, but not: (beluga|beluga_system_tests)\/
  beluga_clang-tidy: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  beluga_system_tests_clang-tidy: any of: beluga_system_tests\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
