Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

ament_copyright:
  name: Fix copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

cmake:
  name: '[beluga] Export compile commands'
  description: Creates the compile_commands.json required by clang-tidy.
  entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
  fail_fast: true
  pass_filenames: false
  language: system

ament_clang_format:
  name: '[beluga] Fix C++ format (clang-format)'
  entry: ament_clang_format --config ./beluga/.clang-format --reformat
  language: system

ament_clang_tidy:
  name: '[beluga] Fix C++ errors (clang-tidy)'
  entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
  pass_filenames: false
  language: system

Remove build and test steps from hooks
  .pre-commit-config.yaml
Due: none

Remove *ignore files as they are not needed for now
  .dockerignore
  .gitignore
Due: none

Try to fix copyright
  .pre-commit-config.yaml
Due: none

Add pre-commit hooks configuration (#19)
  .pre-commit-config.yaml
  docker/images/galactic/Dockerfile
Due: none

Add tests for particle filter variants
  beluga/include/beluga/algorithm/average_filter.h
  beluga/include/beluga/algorithm/particle_filter.h
  beluga/include/beluga/algorithm/sampling.h
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_average_filter.cpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Refactor using range algorithms
  beluga/include/beluga/algorithm/sampling.h
  beluga/test/beluga/algorithm/test_sampling.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Rename average filter
  beluga/include/beluga/algorithm.h
  beluga/include/beluga/algorithm/exponential_filter.h
  beluga/include/beluga/algorithm/sampling.h
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_exponential_filter.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Use structured binding
  beluga/test/beluga/algorithm/test_sampling.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Use sink pattern for capture
  beluga/include/beluga/algorithm/sampling.h
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add tests for particle filter variants (and fix bugs) (#20)
  beluga/include/beluga/algorithm/exponential_filter.h
  beluga/include/beluga/algorithm/particle_filter.h
  beluga/include/beluga/algorithm/sampling.h
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_exponential_filter.cpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Change ROS distro to humble
  .github/workflows/ci_pipeline.yml
  docker/images/galactic/Dockerfile
Due: none

Fix linter
  beluga/CMakeLists.txt
Due: none

Bump github actions version
  .github/workflows/ci_pipeline.yml
Due: none

Pin ubuntu version
  .github/workflows/ci_pipeline.yml
Due: none

Change ROS distro to `humble` (#22)
  .github/workflows/ci_pipeline.yml
  beluga/CMakeLists.txt
  docker/images/galactic/Dockerfile
Due: none

Add beluga_amcl node and example launch file
  .pre-commit-config.yaml
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/main.cpp
  beluga_example/CMakeLists.txt
  beluga_example/config/params.yaml
  beluga_example/launch/example_launch.py
  beluga_example/maps/turtlebot3_world.pgm
  beluga_example/maps/turtlebot3_world.yaml
  beluga_example/package.xml
  beluga_example/rviz/rviz.rviz
  docker/docker-compose.yml
Due: ament_copyright

Change include order
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/main.cpp
Due: ament_copyright

Add TODO comments
  beluga_amcl/include/beluga_amcl/models.hpp
Due: ament_copyright

Add `beluga_amcl` package and example launch file (#21)
  .pre-commit-config.yaml
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/main.cpp
  beluga_example/CMakeLists.txt
  beluga_example/config/params.yaml
  beluga_example/launch/example_launch.py
  beluga_example/maps/turtlebot3_world.pgm
  beluga_example/maps/turtlebot3_world.yaml
  beluga_example/package.xml
  beluga_example/rviz/rviz.rviz
  docker/docker-compose.yml
Due: ament_copyright

Add flatland simulation
  .gitmodules
  beluga_example/CMakeLists.txt
  beluga_example/launch/example_launch.py
  beluga_example/models/turtlebot.model.yaml
  beluga_example/package.xml
  beluga_example/rviz/rviz.rviz
  beluga_example/worlds/turtlebot3_world.yaml
Due: none

Add flatland simulation (#23)
  .gitmodules
  beluga_example/CMakeLists.txt
  beluga_example/launch/example_launch.py
  beluga_example/models/turtlebot.model.yaml
  beluga_example/package.xml
  beluga_example/rviz/rviz.rviz
  beluga_example/worlds/turtlebot3_world.yaml
Due: none

Add likelihood field pre-computation
  beluga/include/beluga/algorithm.h
  beluga/include/beluga/algorithm/distance_map.h
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Rename function parameter
  beluga/include/beluga/algorithm/distance_map.h
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Publish likelihood field once
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Fix occupied value
  beluga_amcl/include/beluga_amcl/models.hpp
Due: ament_copyright

Fix index arithmetic
  beluga_amcl/include/beluga_amcl/models.hpp
Due: ament_copyright

Fix standard deviation parameter limit
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Add likelihood field pre-computation (#24)
  beluga/include/beluga/algorithm.h
  beluga/include/beluga/algorithm/distance_map.h
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_distance_map.cpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Implement likelihood estimation
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  beluga_example/models/turtlebot.model.yaml
Due: ament_copyright

Address code review comments
  beluga_amcl/include/beluga_amcl/models.hpp
Due: ament_copyright

Update dockerfile path
  docker/docker-compose.yml
  docker/images/humble/Dockerfile
Due: none

Scale map coordinates outside the loop
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Implement likelihood estimation for particles (#25)
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  beluga_example/models/turtlebot.model.yaml
Due: ament_copyright

Update Dockerfile path (#26)
  docker/docker-compose.yml
  docker/images/humble/Dockerfile
Due: none

Decouple ROS message types from observation model
  beluga/CMakeLists.txt
  beluga/include/beluga/motion.h
  beluga/include/beluga/motion/stationary_model.h
  beluga/include/beluga/sensor.h
  beluga/include/beluga/sensor/likelihood_field_model.h
  beluga/include/beluga/spatial_hash.h
  beluga/package.xml
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_likelihood_field_model.cpp
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Remove initializatio from the loop
  beluga/test/benchmark/benchmark_likelihood_field_model.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Optimize repeated expressions
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Move!
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Decouple ROS message types from the observation model (#27)
  beluga/CMakeLists.txt
  beluga/include/beluga/motion.h
  beluga/include/beluga/motion/stationary_model.h
  beluga/include/beluga/sensor.h
  beluga/include/beluga/sensor/likelihood_field_model.h
  beluga/include/beluga/spatial_hash.h
  beluga/package.xml
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_likelihood_field_model.cpp
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/models.hpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add differential motion model
  beluga/include/beluga/motion.h
  beluga/include/beluga/motion/differential_drive_model.h
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/utils/sophus_matchers.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Path conditions:
  ament_copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  cmake: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_clang_format: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_clang_tidy: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
