Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

ament_copyright:
  name: Fix copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright --add-missing "Ekumen, Inc." apache2
  language: system

compile_commands:
  name: '[beluga] Export compile commands'
  description: Creates the compile_commands.json required by clang-tidy.
  entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
  fail_fast: true
  pass_filenames: false
  language: system

ament_clang_format:
  name: '[beluga] Fix C++ format (clang-format)'
  entry: ament_clang_format --config ./beluga/.clang-format --reformat
  language: system

ament_clang_tidy:
  name: '[beluga] Fix C++ errors (clang-tidy)'
  entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
  pass_filenames: false
  language: system

ament_uncrustify:
  name: '[others] Fix C++ format (uncrustify)'
  entry: ament_uncrustify --reformat
  language: system

ament_cpplint:
  name: '[others] Check C++ format (cpplint)'
  entry: ament_cpplint
  language: system

Add new script to postprocess timem results
  scripts/benchmarking/parameterized_run.sh
  scripts/benchmarking/timem_metrics_results
Due: none

Add /amcl_pose to topics to record
  beluga_example/launch/example_rosbag_launch.py
Due: ament_copyright

Fix small typo in screen logs
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Fix small typo in screen logs (#122)
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

* Move benchmark/profiling scripts and docs to new package. * Add script to plot results comparision.
  beluga_benchmark/CMakeLists.txt
  beluga_benchmark/beluga_benchmark/__init__.py
  beluga_benchmark/beluga_benchmark/exceptions.py
  beluga_benchmark/beluga_benchmark/parameterized_run_compare.py
  beluga_benchmark/beluga_benchmark/timem.py
  beluga_benchmark/docs/PROFILING.md
  beluga_benchmark/package.xml
  beluga_benchmark/scripts/benchmarking/__init__.py
  beluga_benchmark/scripts/benchmarking/compare_results
  beluga_benchmark/scripts/benchmarking/parameterized_run.sh
  beluga_benchmark/scripts/benchmarking/timem_metrics_results
  beluga_benchmark/scripts/profiling/flamegraph.sh
  beluga_benchmark/scripts/profiling/profile_amcl_with_bagfile.sh
Due: ament_copyright

Minor improvements to plots
  beluga_benchmark/beluga_benchmark/parameterized_run_compare.py
Due: ament_copyright

Make both arguments in compare_results script required
  beluga_benchmark/beluga_benchmark/parameterized_run_compare.py
Due: ament_copyright

Move beluga_benchmark dependencies from dockerfile to package.xml
  beluga_benchmark/package.xml
  docker/images/humble/Dockerfile
Due: none

* Update PROFILING.md * Remove .sh extension from executable scripts.
  beluga_benchmark/docs/PROFILING.md
  beluga_benchmark/scripts/profiling/flamegraph
  beluga_benchmark/scripts/profiling/profile_amcl_with_bagfile
Due: none

Remove .sh suffix from parameterized_run
  beluga_benchmark/scripts/benchmarking/parameterized_run
Due: none

Install scripts correctly so they can be found by ros2run
  beluga_benchmark/CMakeLists.txt
Due: none

Remove unnecessary __init__.py file
  beluga_benchmark/scripts/benchmarking/__init__.py
Due: ament_copyright

Add benchmarking documentation
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

fix
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Rename scripts and python modules to improve consistency
  beluga_benchmark/beluga_benchmark/__init__.py
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/beluga_benchmark/timem_results.py
  beluga_benchmark/docs/BENCHMARKING.md
  beluga_benchmark/scripts/benchmarking/compare_results
  beluga_benchmark/scripts/benchmarking/timem_results
Due: ament_copyright

Fix references
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Install latest Mesa version
  docker/images/humble/Dockerfile
Due: none

Remove unused line
  beluga_benchmark/CMakeLists.txt
Due: none

Reword list of recorded metrics/events
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Reword sentence
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Fix nit
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Use "ALL CAPS" for acronyms
  beluga_benchmark/docs/BENCHMARKING.md
Due: none

Alpha order + pin evo version
  docker/images/humble/Dockerfile
Due: none

Add link to ticket
  docker/images/humble/Dockerfile
Due: none

Install latest Mesa version (#124)
  docker/images/humble/Dockerfile
Due: none

format changes
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

OmniDriveModel with unit tests
  beluga/include/beluga/motion/omni_drive_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_omni_drive_model.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

omni_drive to omnideirectional_drive
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Add top level-readme
  CONTRIBUTING.md
  README.md
  beluga_example/config/params.yaml
Due: none

Undo unintentional changes
  CONTRIBUTING.md
Due: none

Fixes
  README.md
Due: none

Update README.md
  README.md
Due: none

Rephrase the run an example section
  README.md
Due: none

Add dot at end of sentence
  README.md
Due: none

Rephrase explanation of how to generate docs
  README.md
Due: none

Apply remaining changes
  README.md
Due: none

Add introduction and license sections
  README.md
Due: none

Add video demo
  README.md
Due: none

Path conditions:
  ament_copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  compile_commands: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_clang_format: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_clang_tidy: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: beluga\/
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: beluga\/
