Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

.pre-commit-config.yaml:

# Run against all the files: pre-commit run -a
# Install the git hook scripts: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: no-commit-to-branch

  - repo: local
    hooks:
      - id: ament_copyright
        name: Fix copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        types: [c++]
        language: system

  - repo: local
    hooks:
      - id: cmake
        name: "[beluga] Export compile commands"
        description: Creates the compile_commands.json required by clang-tidy.
        entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        fail_fast: true
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

  - repo: local
    hooks:
      - id: ament_clang_format
        name: "[beluga] Fix C++ format (clang-format)"
        entry: ament_clang_format --config ./beluga/.clang-format --reformat
        files: beluga\/
        types: [c++]
        language: system

  - repo: local
    hooks:
      - id: ament_clang_tidy
        name: "[beluga] Fix C++ errors (clang-tidy)"
        entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

Improve instructions
  docs/dev/profiling.md
  docs/dev/profiling/.gitignore
  docs/dev/profiling/flamegraph.sh
  docs/dev/profiling/profile_amcl_with_bagfile.sh
Due: none

Add comments to make the code clearer
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Fix nit
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

fix ci
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Add cpplint to pre-commit hooks
  .pre-commit-config.yaml
Due: none

Avoid creating a dedicated tf thread (#97)
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Rename hook
  .pre-commit-config.yaml
Due: none

Add cpplint to pre-commit hooks (#98)
  .pre-commit-config.yaml
Due: none

Rewrite guide
  beluga_example/launch/example_rosbag_launch.py
  docker/images/humble/Dockerfile
  docs/dev/profiling.md
  docs/dev/profiling/flamegraph.sh
Due: none

minor fixes
  docs/dev/profiling.md
Due: none

Improve instructions
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright

Make execution policy configurable at runtime for both the sample and importance sample steps.
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/execution_policy.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Minor changes
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Default to sequential execution policy
  beluga_example/config/params.yaml
Due: none

Use std::forward
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix CI
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/execution_policy.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Remove unneeded clarification
  docs/dev/profiling.md
Due: none

Fix nit
  docs/dev/profiling.md
Due: none

Reword phrase
  docs/dev/profiling.md
Due: none

Fix misspelling
  docs/dev/profiling/flamegraph.sh
Due: none

Replace NOTE in readme with TODO in script
  docs/dev/profiling.md
  docs/dev/profiling/profile_amcl_with_bagfile.sh
Due: none

Remove unneeded line
  docs/dev/profiling.md
Due: none

Use upper case name for markdown files
  docs/dev/PROFILING.md
Due: none

Move content from 'docs/dev/profiling' to scripts/profiling
  docs/dev/PROFILING.md
  scripts/profiling/.gitignore
  scripts/profiling/flamegraph.sh
  scripts/profiling/profile_amcl_with_bagfile.sh
Due: none

* Automatically configure kernel to be able to run perf without sudo in script. * Fix cleanup script behavior. * Remove "Avoiding sudo" section from troubleshooting.
  docs/dev/PROFILING.md
  scripts/profiling/profile_amcl_with_bagfile.sh
Due: none

Clone FlameGraph repo in dockerfile
  docker/images/humble/Dockerfile
  scripts/profiling/flamegraph.sh
Due: none

Address peer review comments
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/execution_policy.hpp
Due: ament_copyright

Use std::variant
  beluga_amcl/include/beluga_amcl/execution_policy.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Address peer review comments
  beluga_amcl/include/beluga_amcl/execution_policy.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Address peer review comments
  docs/dev/PROFILING.md
  scripts/profiling/.gitignore
Due: none

Add profiling instructions (#96)
  beluga_example/launch/example_rosbag_launch.py
  docker/docker-compose.yml
  docker/images/humble/Dockerfile
  docker/run.sh
  docs/dev/PROFILING.md
  scripts/profiling/flamegraph.sh
  scripts/profiling/profile_amcl_with_bagfile.sh
Due: none

Make execution policy configurable (#100)
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/execution_policy.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Make all parameters configurable
  beluga_example/launch/example_rosbag_launch.py
Due: none

Refactor estimation mixin out of the particle filter
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix documentation references
  beluga/docs/README.md
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

add dot at end of sentence
  beluga_example/launch/example_rosbag_launch.py
Due: none

rephrase
  beluga_example/launch/example_rosbag_launch.py
Due: none

Configurable bag playback rate and configurable rosbag path
  beluga_example/launch/example_rosbag_launch.py
Due: none
