Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

ament_copyright:
  name: Fix copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

cmake:
  name: '[beluga] Export compile commands'
  description: Creates the compile_commands.json required by clang-tidy.
  entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
  fail_fast: true
  pass_filenames: false
  language: system

ament_clang_format:
  name: '[beluga] Fix C++ format (clang-format)'
  entry: ament_clang_format --config ./beluga/.clang-format --reformat
  language: system

ament_clang_tidy:
  name: '[beluga] Fix C++ errors (clang-tidy)'
  entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
  pass_filenames: false
  language: system

Add initial pose subscriber
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright

Add warning about missing implementation
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Move eigen format initialization to a function
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Add initial pose subscriber (#45)
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright

montecarlo -> Monte Carlo
  beluga/docs/Doxyfile
  beluga/docs/README.md
Due: none

Fix Particle named requirements
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Address nahue comments
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add new line before EOF in Doxyfile
  beluga/docs/Doxyfile
Due: none

montecarlo, monte carlo -> Monte Carlo
  beluga/docs/README.md
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add doxygen docs for particle_filter.hpp (#47)
  beluga/.gitignore
  beluga/docs/Doxyfile
  beluga/docs/README.md
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/type_traits/particle_traits.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add multivariate normal distribution class
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Replace "self-adjoint" with "real symmetric"
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

New year, same me
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add source for the algorithm
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add equality comparison comments
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add param comment
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add more tests
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Default to unitary covariance
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix grammar in comment
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add multivariate normal distribution class (#50)
  beluga/include/beluga/random.hpp
  beluga/include/beluga/random/multivariate_normal_distribution.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add reinitialize method to the particle filter
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add reinitialize method to the particle filter (#51)
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

wip
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix documentation in particle_filter.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add script to generate docs
  beluga/docs/generate_docs.bash
Due: none

Complete documentation for beluga/algorithm
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Avoid having multiple doxygen sections named Requirements
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

More clarifications about constness
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix script to generate docs
  beluga/docs/generate_docs.bash
Due: none

Fix remaining doxygen warnings
  beluga/docs/Doxyfile
  beluga/include/beluga/algorithm/estimation.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix clang-format issues
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/sampling.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add \file doxygen sections to all files in beluga/algorithm
  beluga/include/beluga/algorithm/distance_map.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix nearest_obstacle_distance_map() to require a sized random access range instead of a container. Fix the function docs as well
  beluga/include/beluga/algorithm/distance_map.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Adjust covariance() code so template argument Range is a sized range and not a container. Adjust docs.
  beluga/include/beluga/algorithm/estimation.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Fix nits
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/exponential_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add doxygen to Dockerfile, rename generate_docs.bash -> generate_docs.sh
  beluga/docs/generate_docs.sh
  docker/images/humble/Dockerfile
Due: none

Fix error introduced when rebasing
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Modify cluster()/weight()/state() requirements for particles types
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Avoid dots at the end of doxygen \page titles
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/random.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add new line after end of list in doxygen docs to avoid rendering issues
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/random.hpp
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Path conditions:
  ament_copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  cmake: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_clang_format: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_clang_tidy: any of: beluga\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
