Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257

ament_copyright:
  name: Fix copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright --add-missing "Ekumen, Inc." apache2
  language: system

ament_uncrustify:
  name: '[others] Fix C++ format (uncrustify)'
  entry: ament_uncrustify --reformat
  language: system

ament_cpplint:
  name: '[others] Check C++ format (cpplint)'
  entry: ament_cpplint
  language: system

ament_flake8:
  name: '[others] Check Python format (flake8)'
  entry: ament_flake8
  language: system

ament_pep257:
  name: '[others] Check Python format (pep257)'
  entry: ament_pep257
  language: system

fix docs
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright

fix docs
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Update URLs after transfer (#174)
  .github/ISSUE_TEMPLATE/documentation_issue_report.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  docker/images/humble/Dockerfile
  docker/images/rolling/Dockerfile
Due: ament_copyright

Update video in README.md
  README.md
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix indentation issues raised by pre-commit
  beluga/include/beluga/views.hpp
  beluga/test/beluga/mixin/test_utility.cpp
Due: ament_copyright

Update pre-commit hooks (#178)
  .pre-commit-config.yaml
  beluga/include/beluga/views.hpp
  beluga/test/beluga/mixin/test_utility.cpp
Due: ament_copyright

Update video in README.md (#179)
  README.md
Due: none

rename some variables
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

formatting the code
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Update CONTRIBUTING.md (#180)
  CONTRIBUTING.md
Due: none

Add service to reinitialize global localization (#157)
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Fix unbounded weight growth
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
Due: ament_copyright

Fix unbounded weight growth (#181)
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
Due: ament_copyright

Update CONTRIBUTING.md (#182)
  CONTRIBUTING.md
Due: none

Minor AMCL node cleanup
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright, ament_uncrustify, ament_cpplint

Remove unused publisher
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add mutually exclusive callback group
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Check map frame and fix punctuation
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Configure timer with common callback group
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Address peer review comment
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Initialize particle filter with last known estimate (#185)
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright, ament_uncrustify, ament_cpplint

Address code review comments
  CONTRIBUTING.md
  README.md
  beluga/README.md
  beluga_amcl/README.md
Due: none

Improve documentation and guidelines
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_issue_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .gitignore
  CONTRIBUTING.md
  GETTING_STARTED.md
  README.md
  beluga/README.md
  beluga_amcl/README.md
  beluga_benchmark/README.md
  beluga_example/README.md
  beluga_system_tests/README.md
Due: none

Add diagram
  beluga/README.md
Due: none

Re-upload video
  README.md
Due: none

Re-upload diagram
  beluga/README.md
Due: none

Rework occupancy grids
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/value_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_linear_grid.cpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_raycasting.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Use rclcpp::QoS wherever possible
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_issue_report.md
  CONTRIBUTING.md
  README.md
Due: none

Reword feature request description
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Reword test coverage sentence
  README.md
Due: none

Fixed instead of implemented
  CONTRIBUTING.md
Due: none

Remove sentence
  CONTRIBUTING.md
Due: none

Reword branch instruction
  CONTRIBUTING.md
Due: none

Rewrite contributing instructions
  CONTRIBUTING.md
  GETTING_STARTED.md
Due: none

Reword to semi-automated
  README.md
Due: none

Path conditions:
  ament_copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  ament_uncrustify: any of: beluga_amcl\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_cpplint: any of: beluga_amcl\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_flake8: any of: \.py$, but not: (beluga|beluga_system_tests)\/
  ament_pep257: any of: \.py$, but not: (beluga|beluga_system_tests)\/
