Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

.pre-commit-config.yaml:

# Run against all the files: pre-commit run -a
# Install the git hook scripts: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: no-commit-to-branch

  - repo: local
    hooks:
      - id: ament_copyright
        name: Fix copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        types: [c++]
        language: system

  - repo: local
    hooks:
      - id: cmake
        name: "[beluga] Export compile commands"
        description: Creates the compile_commands.json required by clang-tidy.
        entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        fail_fast: true
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

  - repo: local
    hooks:
      - id: ament_clang_format
        name: "[beluga] Fix C++ format (clang-format)"
        entry: ament_clang_format --config ./beluga/.clang-format --reformat
        files: beluga\/
        types: [c++]
        language: system

  - repo: local
    hooks:
      - id: ament_clang_tidy
        name: "[beluga] Fix C++ errors (clang-tidy)"
        entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

Use docker compose v2 and update CONTRIBUTING.md (#82)
  CONTRIBUTING.md
  docker/run.sh
Due: none

Update launch file to support command prefix
  beluga_example/config/params.yaml
  beluga_example/launch/example_rosbag_launch.py
  beluga_example/launch/utils/common_nodes_launch.py
  beluga_example/package.xml
  docker/images/humble/Dockerfile
Due: none

Add launch params to select localization node (#83)
  beluga_example/config/params.yaml
  beluga_example/launch/example_rosbag_launch.py
  beluga_example/launch/utils/common_nodes_launch.py
  beluga_example/package.xml
  docker/images/humble/Dockerfile
Due: none

Add PR template
  .github/pull_request_template.md
Due: none

Address peer review comment
  .github/pull_request_template.md
Due: none

Add dots at end of sentences.
  .github/pull_request_template.md
Due: none

Update tf_sophus documentation style
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
Due: ament_copyright

Add PR template (#86)
  .github/pull_request_template.md
Due: none

Add DCO and commit good practices
  CONTRIBUTING.md
Due: none

Fix link in PR template
  .github/pull_request_template.md
Due: none

Update tf_sophus.hpp documentation style (#87)
  beluga_amcl/include/beluga_amcl/tf2_sophus.hpp
Due: ament_copyright

Setup docker to use ccache
  docker/docker-compose.yml
  docker/files/colcon_defaults.yaml
  docker/images/humble/Dockerfile
Due: none

Setup devel docker to speed up first build using ccache (#77)
  docker/docker-compose.yml
  docker/files/colcon_defaults.yaml
  docker/images/humble/Dockerfile
Due: none

Address peer review comments
  CONTRIBUTING.md
Due: none

Push remaining changes...
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Add DCO and commit good practices (#88)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

Refactor laser_callback method
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Add TODO comment about throttling
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Fix rebase mistake
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Refactor laser_callback method (#89)
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/rviz/rviz.rviz
Due: ament_copyright, cmake, ament_clang_format, ament_clang_tidy

Minor refactor to improve readability
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Add max_beams parameter to `beluga_amcl`
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright

Add unit tests
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/test/CMakeLists.txt
  beluga_amcl/test/test_amcl_node_utils.cpp
Due: ament_copyright

Improve test names
  beluga_amcl/test/test_amcl_node_utils.cpp
Due: ament_copyright

Add max_beams parameter to `beluga_amcl` (#84)
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/test/CMakeLists.txt
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_example/config/params.yaml
Due: ament_copyright

Set `beluga_amcl` default build type to Release
  beluga_amcl/CMakeLists.txt
Due: none

Remove whitespaces
  beluga_amcl/CMakeLists.txt
Due: none

Set `beluga_amcl` default build type to `Release` (#92)
  beluga_amcl/CMakeLists.txt
Due: none

Fix ccache folder UID for some use cases
  docker/files/fixuid_config.yml
  docker/images/humble/Dockerfile
Due: none

Fix ccache folder UID for some broken use cases (#91)
  docker/files/fixuid_config.yml
  docker/images/humble/Dockerfile
Due: none

fixup! Speed up CI using compiler cache
  .github/workflows/ci_pipeline.yml
Due: none

fixup! fixup! Speed up CI using compiler cache
  .github/workflows/ci_pipeline.yml
Due: none

fixup! fixup! fixup! Speed up CI using compiler cache
  .github/workflows/ci_pipeline.yml
Due: none

Allow running docker container in privileged mode
  docker/docker-compose.yml
  docker/run.sh
Due: none

Allow starting the bag paused in rosbag example
  beluga_example/launch/example_rosbag_launch.py
Due: none

Add profiling documentation
  docs/dev/profiling.md
Due: none

Avoid creating a dedicated tf frame. This marginaly improves cpu usage, and avoids the creation of an unnecessary thread.
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright

Fix getopt error handling
  docker/run.sh
Due: none

Fix peer review comments
  docs/dev/profiling.md
Due: none
