Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

.pre-commit-config.yaml:

# Run against all the files: pre-commit run -a
# Install the git hook scripts: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs

  - repo: local
    hooks:
      - id: ament_copyright
        name: Fix copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright --add-missing "Ekumen, Inc." apache2
        types_or: [c++, python]
        language: system

      - id: compile_commands
        name: "[beluga] Export compile commands"
        description: Creates the compile_commands.json required by clang-tidy.
        entry: cmake -S ./beluga -B /tmp/beluga -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        fail_fast: true
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

      - id: ament_clang_format
        name: "[beluga] Fix C++ format (clang-format)"
        entry: ament_clang_format --config ./beluga/.clang-format --reformat
        files: beluga\/
        types: [c++]
        language: system

      - id: ament_clang_tidy
        name: "[beluga] Fix C++ errors (clang-tidy)"
        entry: ament_clang_tidy --config ./beluga/.clang-tidy --fix-errors /tmp/beluga/compile_commands.json
        files: beluga\/
        types: [c++]
        pass_filenames: false
        language: system

      - id: ament_uncrustify
        name: "[others] Fix C++ format (uncrustify)"
        entry: ament_uncrustify --reformat
        exclude: beluga\/
        types: [c++]
        language: system

      - id: ament_cpplint
        name: "[others] Check C++ format (cpplint)"
        entry: ament_cpplint
        exclude: beluga\/
        types: [c++]
        language: system

  - repo: https://github.com/psf/black
    rev:  22.10.0
    hooks:
      - id: black
        name: "[others] Fix Python format (black)"
        entry: black --skip-string-normalization

Move introduction before video
  README.md
Due: none

Add two new resampling policies and refactor resample on motion into a policy
  beluga/docs/doxygen_cites.bib
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/resampling_policies.hpp
  beluga/include/beluga/resampling_policies/resample_interval_policy.hpp
  beluga/include/beluga/resampling_policies/resample_on_motion_policy.hpp
  beluga/include/beluga/resampling_policies/resampling_policies_poller.hpp
  beluga/include/beluga/resampling_policies/selective_resampling_policy.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/resampling_policies/test_resample_interval_policy.cpp
  beluga/test/beluga/resampling_policies/test_resample_on_motion_policy.cpp
  beluga/test/beluga/resampling_policies/test_resampling_policies_poller.cpp
  beluga/test/beluga/resampling_policies/test_selective_resampling_policy.cpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

Update list of maintainers
  beluga/package.xml
  beluga_amcl/package.xml
  beluga_benchmark/package.xml
  beluga_example/package.xml
Due: none

Update list of maintainers (#130)
  beluga/package.xml
  beluga_amcl/package.xml
  beluga_benchmark/package.xml
  beluga_example/package.xml
Due: none

Introduction -> Overview
  README.md
Due: none

filter -> filters
  README.md
Due: none

Remove unnecessary newline
  README.md
Due: none

Reword overview
  README.md
Due: none

Add top level-readme (#125)
  CONTRIBUTING.md
  README.md
  beluga_example/config/params.yaml
Due: none

Only keep one CI job running for pull request triggered jobs
  .github/workflows/ci_pipeline.yml
Due: none

Only keep one CI job running for pull request triggered jobs (#131)
  .github/workflows/ci_pipeline.yml
Due: none

Add new resampling policies (#119)
  beluga/docs/doxygen_cites.bib
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/resampling_policies.hpp
  beluga/include/beluga/resampling_policies/resample_interval_policy.hpp
  beluga/include/beluga/resampling_policies/resample_on_motion_policy.hpp
  beluga/include/beluga/resampling_policies/resampling_policies_poller.hpp
  beluga/include/beluga/resampling_policies/selective_resampling_policy.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/resampling_policies/test_resample_interval_policy.cpp
  beluga/test/beluga/resampling_policies/test_resample_on_motion_policy.cpp
  beluga/test/beluga/resampling_policies/test_resampling_policies_poller.cpp
  beluga/test/beluga/resampling_policies/test_selective_resampling_policy.cpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

Distance threshold to detect in-place rotation
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Add omnidirectional motion model (#120)
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Select mixin components at runtime
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/sampling.hpp
  beluga/include/beluga/beluga.hpp
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/descriptor.hpp
  beluga/include/beluga/mixin/utility.hpp
  beluga/include/beluga/motion.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/storage.hpp
  beluga/include/beluga/tuple_vector.hpp
  beluga/include/ciabatta/ciabatta.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
  beluga/test/beluga/algorithm/test_particle_filter.cpp
  beluga/test/beluga/algorithm/test_sampling.cpp
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/motion/test_omnidirectional_drive_model.cpp
  beluga/test/beluga/resampling_policies/test_resample_interval_policy.cpp
  beluga/test/beluga/resampling_policies/test_resample_on_motion_policy.cpp
  beluga/test/beluga/resampling_policies/test_resampling_policies_poller.cpp
  beluga/test/beluga/resampling_policies/test_selective_resampling_policy.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_amcl/include/beluga_amcl/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

Use type aliases to improve readability
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add weights view to particle filter interface
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/storage.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

Move compose_interfaces to mixin header
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Tags are descriptors
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/descriptor.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

Add some utility tests
  beluga/include/beluga/mixin/utility.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/mixin/test_utility.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Revert scope change in omnidirectional model
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Fix linter issues
  beluga/include/beluga/mixin/descriptor.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

Template template template parameters are not standard
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/descriptor.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Add has_param type trait
  beluga/include/beluga/mixin.hpp
  beluga/include/beluga/mixin/descriptor.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Add type alias for combined resampling policies
  beluga/include/beluga/localization.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Keep nav2 mode name for compatibility
  beluga_example/config/params.yaml
Due: none

Use type aliasfor measurement interface
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Mixin are structs
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/storage.hpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Add stationary option to param descriptor
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add constants for string literals
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Only publish cloud if we have subscribers
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add particle count to public interface
  beluga/include/beluga/storage.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy, ament_uncrustify, ament_cpplint

Remove scope around publisher call
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Migrate beluga from ament_cmake to cmake
  beluga/CMakeLists.txt
  beluga/cmake/Config.cmake.in
  beluga/package.xml
  beluga_amcl/CMakeLists.txt
Due: none

Migrate test to not use ament_cmake at all
  beluga/CMakeLists.txt
  beluga/package.xml
  beluga/src/clang_tidy_findable.cpp
  beluga/test/CMakeLists.txt
  beluga/test/beluga/CMakeLists.txt
  beluga/test/benchmark/CMakeLists.txt
Due: ament_copyright, compile_commands, ament_clang_format, ament_clang_tidy

Fix google benchmark weird issue
  beluga/package.xml
Due: none

update pre-commit hooks
  .clang-format
  .clang-tidy
  .pre-commit-config.yaml
Due: none

help clang-tidy
  .pre-commit-config.yaml
  beluga/CMakeLists.txt
Due: none

Migrate linters
  .pre-commit-config.yaml
  beluga/CMakeLists.txt
  beluga/package.xml
Due: none

More consistent use of type aliases
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint
