Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# Run against all the files: pre-commit run -a
# Install the git hook scripts: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs

  - repo: local
    hooks:
      - id: ament_copyright
        name: Fix copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright --add-missing "Ekumen, Inc." apache2
        types_or: [c++, python]
        language: system

      - id: ament_uncrustify
        name: "[others] Fix C++ format (uncrustify)"
        entry: ament_uncrustify --reformat
        files: beluga_amcl\/
        types: [c++]
        language: system

      - id: ament_cpplint
        name: "[others] Check C++ format (cpplint)"
        entry: ament_cpplint
        files: beluga_amcl\/
        types: [c++]
        language: system

      - id: ament_flake8
        name: "[others] Check Python format (flake8)"
        entry: ament_flake8
        exclude: (beluga|beluga_system_tests)\/
        types: [python]
        language: system

      - id: ament_pep257
        name: "[others] Check Python format (pep257)"
        entry: ament_pep257
        exclude: (beluga|beluga_system_tests)\/
        types: [python]
        language: system

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
    - id: clang-format
      name: Fix C++ format (clang-format)
      args: ["-style=file:.clang-format"]
      exclude: beluga_amcl\/
      types: [c++]

  - repo: https://github.com/psf/black
    rev:  22.10.0
    hooks:
      - id: black
        name: "[others] Fix Python format (black)"
        entry: black --skip-string-normalization

Rewrite AMCL readme
  beluga_amcl/README.md
Due: none

Reword and fix punctuation
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

Improve documentation and guidelines (#186)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_issue_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .gitignore
  CONTRIBUTING.md
  GETTING_STARTED.md
  README.md
  beluga/README.md
  beluga_amcl/README.md
  beluga_benchmark/README.md
  beluga_example/README.md
  beluga_system_tests/README.md
Due: none

Setup codecov
  .github/workflows/ci_pipeline.yml
  README.md
  codecov.yml
Due: none

Minor changes
  .codecov.yml
  .github/workflows/ci_pipeline.yml
Due: none

Fix ignore path
  .codecov.yml
Due: none

Try components
  .codecov.yml
Due: none

More customization
  .codecov.yml
Due: none

Remove unused package
  .github/workflows/ci_pipeline.yml
Due: none

Address peer review comments
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/value_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/run-clang-tidy.sh
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
Due: ament_copyright

Revert spurious clang-tidy change
  beluga/run-clang-tidy.sh
Due: none

Add explanatory comments
  .codecov.yml
Due: none

Please clang-tidy
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: ament_copyright

Configure codecov (#191)
  .codecov.yml
  .github/workflows/ci_pipeline.yml
  README.md
Due: none

Rework occupancy grids (#188)
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/value_grid.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/include/beluga/test/static_occupancy_grid.hpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_linear_grid.cpp
  beluga/test/beluga/sensor/data/test_occupancy_grid.cpp
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_raycasting.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add missing documentation links
  GETTING_STARTED.md
  beluga/README.md
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/sensor.hpp
Due: ament_copyright

Update beluga/README.md
  beluga/README.md
Due: none

Add missing documentation links (#192)
  GETTING_STARTED.md
  beluga/README.md
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/sensor.hpp
Due: ament_copyright

Add updated report with minor fixes to scripts
  beluga_amcl/README.md
  beluga_benchmark/CMakeLists.txt
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/docs/reports/2023-05-20/REPORT.md
  beluga_benchmark/docs/reports/2023-05-20/beam_par_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-05-20/beam_params.yaml
  beluga_benchmark/docs/reports/2023-05-20/beam_params_par.yaml
  beluga_benchmark/docs/reports/2023-05-20/beam_seq_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-05-20/likelihood_par_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-05-20/likelihood_params.yaml
  beluga_benchmark/docs/reports/2023-05-20/likelihood_params_par.yaml
  beluga_benchmark/docs/reports/2023-05-20/likelihood_seq_beluga_vs_amcl.png
  beluga_benchmark/scripts/benchmarking/parameterized_run
Due: ament_copyright, ament_flake8, ament_pep257

Add performance report for latest version with minor fixes to scripts (#193)
  beluga_amcl/README.md
  beluga_benchmark/CMakeLists.txt
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/docs/reports/2023-05-20/REPORT.md
  beluga_benchmark/docs/reports/2023-05-20/beam_par_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-05-20/beam_params.yaml
  beluga_benchmark/docs/reports/2023-05-20/beam_params_par.yaml
  beluga_benchmark/docs/reports/2023-05-20/beam_seq_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-05-20/likelihood_par_beluga_vs_amcl.png
  beluga_benchmark/docs/reports/2023-05-20/likelihood_params.yaml
  beluga_benchmark/docs/reports/2023-05-20/likelihood_params_par.yaml
  beluga_benchmark/docs/reports/2023-05-20/likelihood_seq_beluga_vs_amcl.png
  beluga_benchmark/scripts/benchmarking/parameterized_run
Due: ament_copyright, ament_flake8, ament_pep257

Remove shared_mutexes to address concurrency performance issue
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/docs/BENCHMARKING.md
Due: ament_copyright, ament_flake8, ament_pep257

Remove shared_mutexes to address concurrency performance (#195)
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/omnidirectional_drive_model.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga_benchmark/beluga_benchmark/compare_results.py
  beluga_benchmark/docs/BENCHMARKING.md
Due: ament_copyright, ament_flake8, ament_pep257

Add support for map updates in laser localization filters
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add support for map updates in laser localization filters (#189)
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add unit tests for AMCL node
  .codecov.yml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/CMakeLists.txt
  beluga_amcl/test/test_amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Address code review comments
  beluga_amcl/test/test_amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Fix an unreachable section and add test
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/test_amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Minor improvements
  beluga_amcl/test/test_amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add tests for the AMCL node (#194)
  .codecov.yml
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/test/CMakeLists.txt
  beluga_amcl/test/test_amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add ACML parameter reference page
  beluga_amcl/README.md
  beluga_amcl/docs/PARAMETERS.md
  beluga_example/config/params.yaml
Due: none

Address code review comments
  beluga_amcl/README.md
  beluga_amcl/docs/PARAMETERS.md
Due: none

Revert changes to params.yaml
  beluga_example/config/params.yaml
Due: none

Fix mistakes
  beluga_amcl/docs/PARAMETERS.md
Due: none

Add compatibility notes and address comments
  beluga_amcl/docs/PARAMETERS.md
Due: none

Add AMCL parameter reference page (#196)
  beluga_amcl/README.md
  beluga_amcl/docs/PARAMETERS.md
Due: none

Re-organize infrastructure scripts
  .github/workflows/ci_pipeline.yml
  .gitignore
  GETTING_STARTED.md
  beluga/docs/generate_docs.sh
  beluga/run-clang-tidy.sh
  beluga_system_tests/run-clang-tidy.sh
  docker/images/humble/Dockerfile
  docker/images/rolling/Dockerfile
  docker/run.sh
  tools/README.md
  tools/clang-tidy.sh
  tools/doxygen.sh
  tools/test.sh
Due: none

Add serial comma
  tools/README.md
Due: none

Parallelize clang-tidy run
  tools/clang-tidy.sh
Due: none

Fix codecov paths
  .codecov.yml
Due: none
