Repository Ekumen-OS/beluga: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_copyright, ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257

ament_copyright:
  name: Fix copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright --add-missing "Ekumen, Inc." apache2
  language: system

ament_uncrustify:
  name: '[others] Fix C++ format (uncrustify)'
  entry: ament_uncrustify --reformat
  language: system

ament_cpplint:
  name: '[others] Check C++ format (cpplint)'
  entry: ament_cpplint
  language: system

ament_flake8:
  name: '[others] Check Python format (flake8)'
  entry: ament_flake8
  language: system

ament_pep257:
  name: '[others] Check Python format (pep257)'
  entry: ament_pep257
  language: system

Fix tests
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
Due: ament_copyright

Fix includes, fix tests comments
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/sensor/test_beam_model.cpp
Due: ament_copyright

Fix includes order
  beluga/test/beluga/algorithm/test_raycasting.cpp
Due: ament_copyright

Remove debug prints, temporarily set params to use beam model
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright, ament_uncrustify, ament_cpplint

Beam sensor model still misbehaves
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/localization.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/include/beluga/sensor/scan.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/beluga/sensor/test_likelihood_field_model.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_main.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/amcl_node_utils.hpp
  beluga_amcl/include/beluga_amcl/laser_scan.hpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_amcl/src/amcl_node_utils.cpp
  beluga_amcl/test/CMakeLists.txt
  beluga_amcl/test/test_amcl_node_utils.cpp
  beluga_amcl/test/test_laser_scan.cpp
  beluga_example/config/params.yaml
  beluga_example/launch/example_rosbag_launch.py
  beluga_system_tests/test/test_system.cpp
  docker/docker-compose.yml
  docker/images/rolling/Dockerfile
Due: ament_copyright, ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257

Update system tests
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright

Small changes, add defaults, variant
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Add beam sensor model to AMCL node
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Rework beam sensor model and raycasting
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Update examples
  beluga_example/config/params.yaml
Due: none

Add beam model and raycasting
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
Due: ament_copyright

Lint
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
Due: ament_copyright

Update docs and style
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Get documentation to build
  beluga/include/beluga/algorithm/raycasting.hpp
Due: ament_copyright

Please clang-tidy
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Drop debugging headers
  beluga/include/beluga/algorithm/raycasting.hpp
Due: ament_copyright

Address peer review comments
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
Due: ament_copyright

Fix raytracing benchmark
  beluga/test/benchmark/benchmark_raycasting.cpp
Due: ament_copyright

Address peer review comments
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/algorithm/raycasting/bresenham.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/raycasting/test_bresenham.cpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
Due: ament_copyright, ament_uncrustify, ament_cpplint

Extend development containers
  CONTRIBUTING.md
  docker/docker-compose.yml
  docker/images/rolling/Dockerfile
Due: none

Update copyright date
  beluga/include/beluga/sensor/beam_model.hpp
Due: ament_copyright

Add beam sensor model (#160)
  beluga/include/beluga/algorithm/raycasting.hpp
  beluga/include/beluga/algorithm/raycasting/bresenham.hpp
  beluga/include/beluga/sensor.hpp
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/raycasting/test_bresenham.cpp
  beluga/test/beluga/algorithm/test_raycasting.cpp
  beluga/test/beluga/sensor/test_beam_model.cpp
  beluga/test/benchmark/CMakeLists.txt
  beluga/test/benchmark/benchmark_raycasting.cpp
  beluga_amcl/include/beluga_amcl/occupancy_grid.hpp
  beluga_amcl/src/amcl_node.cpp
  beluga_example/config/params.yaml
  beluga_system_tests/test/test_system.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

Extend development containers (#173)
  CONTRIBUTING.md
  docker/docker-compose.yml
  docker/images/rolling/Dockerfile
Due: none

Update URL after transfer
  .github/ISSUE_TEMPLATE/documentation_issue_report.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  beluga/include/beluga/sensor/beam_model.hpp
  beluga/include/beluga/sensor/likelihood_field_model.hpp
  docker/images/humble/Dockerfile
  docker/images/rolling/Dockerfile
Due: ament_copyright

olmerg/ reinitialize_global_localization
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga_amcl/CMakeLists.txt
  beluga_amcl/include/beluga_amcl/private/amcl_node.hpp
  beluga_amcl/package.xml
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

publish pose no TF
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

reinitialize particle/reset particle cleanup
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

start with parameters
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

olmerg/ reinitialize_global_localization
  beluga/include/beluga/algorithm/particle_filter.hpp
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

fix error on_cleanup
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

remove save state in parameters on_cleanup
  beluga_amcl/src/amcl_node.cpp
Due: ament_copyright, ament_uncrustify, ament_cpplint

fix docs
  beluga/include/beluga/algorithm/particle_filter.hpp
Due: ament_copyright

Path conditions:
  ament_copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  ament_uncrustify: any of: beluga_amcl\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_cpplint: any of: beluga_amcl\/ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ament_flake8: any of: \.py$, but not: (beluga|beluga_system_tests)\/
  ament_pep257: any of: \.py$, but not: (beluga|beluga_system_tests)\/
